﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucAdmFooter.ascx.cs" Inherits="ctlr_ucAdmFooter" %>

<asp:Panel ID="pnlAdmFooter" runat="server" CssClass="divAdmFooter">
    <asp:Literal ID="litFooter" runat="server"></asp:Literal>
</asp:Panel>