﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucUsrLogo.ascx.cs" Inherits="ctrl_ucUsrLogo" %>
<asp:HyperLink ID="hypLogo" runat="server">
    <asp:Image ID="imgLogo" runat="server" CssClass="imgLogo responsive-img" BorderWidth="0" />
</asp:HyperLink>