﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucUsrFacebookLike.ascx.cs" Inherits="ctrl_ucUsrFacebookLike" %>

<div class="fb-like" data-send="false" data-layout="button_count" data-width="200" data-show-faces="false" height="20px">
    <asp:Literal ID="litFacebookLike" runat="server" Visible="false"></asp:Literal>
</div>
