﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucUsrBackground.ascx.cs" Inherits="ctrl_ucUsrBackground" %>   

<div class="supersized-container">
    <div class="supersized-content" id="slidedescription"></div>
    <div class="wrapper padding">
        <div class="supersized-paginatoin">
            <ul id="slide-list"></ul>
        </div>
    </div>
</div>