﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucUsrFBPageLike.ascx.cs" Inherits="ctrl_ucUsrFBPageLike" %>

<asp:HyperLink ID="hypFb" runat="server" ><asp:Image ID="imgFb" runat="server" Height="20px" Width="53px" CssClass="imgFb" BorderWidth="0" /></asp:HyperLink>
<div class="divFbLikeInner">
<div class="fb-like" data-href="http://www.facebook.com/pages/Plushpuppy/271494176203104?sk=wall" data-send="false" data-layout="button_count" data-width="0" data-show-faces="false" ></div>
</div>