﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucUsrWebteq.ascx.cs" Inherits="ctlr_ucUsrWebteq" %>

<asp:Panel ID="pnlWebteq" runat="server">
    <asp:HyperLink ID="hypWebteq" runat="server">
        <asp:Image ID="imgWebteqLogo" runat="server" meta:resourcekey="imgWebteqLogo" BorderWidth="0" />
    </asp:HyperLink>
</asp:Panel>