.dropzone {margin-top: 10px;transition:all .5s ease-in-out;max-height: 300px;overflow-y: scroll;}
.dropzone.active{border:2px solid #8add6d;}
.dropzone .dz-preview{
    display:block;
    clear: both;
}
.dropzone .dz-preview .dz-image{float:left;}

.dropzone .dz-preview.dz-complete .dz-progress{}
.dropzone .dz-preview .dz-details {
    opacity:1;
    float:left;
    position:static;
    min-width: 200px;
    max-width: 200px;
}
.dropzone .dz-preview .dz-progress{

}

.dropzone .dz-action,
.dropzone .dz-input{float:left;    padding: 2em 1em;}

.dropzone .dz-preview .dz-image{width:100px;height:100px;}
.dropzone .dz-preview .dz-image img{width:100%;}

.dz-error .btn3.start {background-color:#CACACA;cursor: not-allowed;}
/*.dz-preview {
    transition:all 1s ease-in-out;
}
.dz-preview.done {
    width:0;height:0;padding:0;margin:0;min-height: 0;overflow:hidden;
}*/