﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="publicmb.master.cs" Inherits="mst_public" %>

<%@ Register Src="~/ctrl/ucUsrCMSContainer.ascx" TagName="UsrCMSContainer" TagPrefix="uc" %>
<%@ Register Src="~/ctrl/ucUsrAdminLogout.ascx" TagName="UsrAdminLogout" TagPrefix="uc" %>
<%@ Register Src="~/ctrl/ucCmnIcon.ascx" TagName="CmnIcon" TagPrefix="uc" %>

<%@ Register Src="~/ctrl/ucUsrPageTitle.ascx" TagName="UsrPageTitle" TagPrefix="uc" %>
<%@ Register Src="~/ctrl/mobile/ucUsrResponsiveSlides.ascx" TagName="UsrResponsiveSlides" TagPrefix="uc" %>

<%@ Register Src="~/ctrl/mobile/ucCmnHeadermb.ascx" TagName="CmnHeader" TagPrefix="uc" %>
<%@ Register Src="~/ctrl/mobile/ucUsrFootermb.ascx" TagName="UsrFooter" TagPrefix="uc" %>
<%@ Register Src="~/ctrl/mobile/ucUsrHeadermb.ascx" TagName="UsrHeader" TagPrefix="uc" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="cphHead" runat="server">
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="cphHead2" runat="server">
        <uc:CmnHeader runat="server" ID="ucCmnHeadermb" />
    </asp:ContentPlaceHolder>
</head>
<body class="bodyPage">
    <form id="form1" runat="server">
        <uc:CmnIcon ID="ucCmnIcon" runat="server" />
        <asp:ScriptManager ID="scriptmanager1" runat="server"></asp:ScriptManager>
        <asp:HiddenField ID="hfVSFileName" runat="server" />
        <uc:UsrAdminLogout ID="ucUsrAdminLogout" runat="server" />
        <uc:UsrPageTitle ID="ucUsrPageTitle" runat="server" />

        <div class="wrapper-container">
            <div id="header" class="header">
                <uc:UsrHeader runat="server" id="ucUsrHeader"></uc:UsrHeader>
            </div>
            <div class="main-content">
                <div class="slider-content">
                    <uc:UsrResponsiveSlides ID="ucUsrResponsiveSlides" runat="server" />
                </div>
                <div class="page-content">
                    <asp:ContentPlaceHolder ID="cphContent" runat="server"></asp:ContentPlaceHolder>
                </div>
                <div class="banner-content">
                    <uc:UsrCMSContainer ID="ucUsrContainerBanner" runat="server" cmsType="10" blockId="1" />
                </div>
            </div>
            <div id="footer" class="footer">
                <uc:UsrFooter runat="server" id="ucUsrFooter"></uc:UsrFooter>
            </div>
        </div>


        
    </form>
</body>
</html>
