﻿/* Add CMS */
/* Add CMS */
.divAddCMSTitle {font-weight:bold; font-size:16px; font-family: Calibri, Arial, Verdana, Sans-Serif; padding-bottom:10px; padding-top:10px; padding-bottom:5px; height:auto; overflow:hidden; clear:both; color:#b1adad;}
.divAddCMSContainer {height:auto; overflow:hidden; background:#fff;}
.divAddCMSContainerInner {width:800px; height:auto; overflow:hidden;  margin:auto; padding-top:20px; padding-left:30px; padding-right:30px;}
.divAddCMSContainerInnerIn {height:auto; overflow:hidden;}

.divAddCMSItems {height:auto; overflow:hidden; padding-top:10px; font-family: Calibri, Arial, Verdana, Sans-Serif;}
.divAddCMSItemsLeft {height:auto; overflow:hidden; width:220px; float:left;}
.divAddCMSItemsRight {height:auto; overflow:hidden; width:500px; float:left; padding-left:20px;}

.divAddCMSGroupList {height:auto; overflow:hidden;}
.divAddCMSGroupListHeader {height:auto; overflow:hidden; background:#fff; padding-top:10px; padding-bottom:5px; padding-left:20px; border-top:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:5px solid #ccc;}
.divAddCMSGroupListItems {height:auto; overflow:hidden; border-right:1px solid #ccc; padding-left:20px; padding-right:10px;}

.divAddCMSGroupItem {height:auto; overflow:hidden; border-bottom:1px dotted #ccc; padding-right:10px;}
.divAddCMSGroupItemInner {height:auto; overflow:hidden; padding:10px 0px 10px 10px;}
.divAddCMSGroupItemInnerSel {height:auto; overflow:hidden; padding:10px 0px 10px 10px; background:url("../img/adm/bullet-leftmenu.gif") no-repeat right;}

.divCMSList {height:auto; overflow:hidden; padding-left:20px; padding-right:20px; padding-top:20px; padding-bottom:20px; border:1px solid #ccc; max-height:500px; color:#b1adad;}
.divAddCMSListItems {height:auto; overflow:hidden;}
.divAddCMSBtn {text-align:right; padding-top:10px; padding-bottom:10px; height:auto; overflow:hidden; background:#f3f3f3; border-top:5px solid #cccccc; border:1px oslid #cccccc; margin-bottom:20px; margin-top:20px;}

.btnAddCMS {padding-left:25px; padding-right:25px; padding-top:5px; padding-bottom:5px; background:#4a4a4a; border:1px solid #272727; margin-right:5px;}

a.btnAddCMS:link {color:#fff; text-decoration:none; }
a.btnAddCMS:visited {color:#fff; text-decoration:none; }
a.btnAddCMS:active {color:#333; text-decoration:none; border:1px solid #272727; }
a.btnAddCMS:hover {color:#333; text-decoration:none; border:1px solid #272727; }

.btnAddCMSDisabled {padding-left:25px; padding-right:25px; padding-top:5px; padding-bottom:5px; border:1px solid #272727; background:#4a4a4a; margin-right:5px;}
a.btnAddCMSDisabled {color:#aaa; text-decoration:none; cursor:default;}

.addCMSGroupLink {color:#4a4a4a; font-size:12px; float:left;}
a.addCMSGroupLink:link {color:#4a4a4a; text-decoration:none;}
a.addCMSGroupLink:visited {color:#4a4a4a; text-decoration:none;}
a.addCMSGroupLink:hover {color:#ff6c00; text-decoration:none;}
a.addCMSGroupLink:active {color:#ff6c00; text-decoration:none;}

.addCMSGroupLinkSel {color:#ff6c00; font-size:12px; float:left;}
a.addCMSGroupLinkSel:link {color:#ff6c00; text-decoration:none;}
a.addCMSGroupLinkSel:visited {color:#ff6c00; text-decoration:none;}
a.addCMSGroupLinkSel:hover {color:#ff6c00; text-decoration:none;}
a.addCMSGroupLinkSel:active {color:#ff6c00; text-decoration:none;}
/* End of CMS */
/* End of Add CMS */
