﻿.box:after,.box:before{display: table;content: " ";}

.box{
    width:100%;
    position: relative;  
    margin-bottom:20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 5px 1px rgba(236,236,236,1);
    background-color:#fff;
}
.box .box-header{ padding: 20px; }
.box .box-header .title {text-transform:capitalize;font-size:180%;}
.box .box-body{  padding: 10px;}
.box .box-footer{}

.pika-single.is-bound{position:absolute !important}
#date-range-selector-container label {width: 75px;display: inline-block;}

.dashboard__container{padding-top:20px;background-color: #ECFAFF;}