﻿/* Admin Info */
.divAdmInfo {height:auto; overflow:hidden;font-size:130%; background:url("../img/adm/icon-notice.gif") no-repeat left; padding-left:27px;  margin-left: 20px;}
/* End of Admin Info */
