﻿/* Admin Logout */
.divAdminLogout {position:fixed; right:1px; top:2px; z-index:99999;}

.divAdminLogout a {width:30px; color:#fff; text-decoration:none; background:#ff0101; border:1px solid #272727; padding:5px 25px 5px 25px;}
.divAdminLogout a:link {color:#fff; text-decoration:none;}
.divAdminLogout a:visited {color:#fff; text-decoration:none;}
.divAdminLogout a:hover {color:#ff6c00; text-decoration:none;}
.divAdminLogout a:active {color:#ff6c00; text-decoration:none;}
/* End of Admin Logout */
