﻿/* Admin Menu */
.divAdmMenu {height:auto; overflow:visible; clear:both;font-size:87.5%;color:#ffffff;padding-top:30px;}

/* Buttons & Links */
.menuLink ,
a.menuLink:link ,
a.menuLink:visited {color:#ffffff;background-color:#373737;background-position: left 10px top 12px;transition:background-color .1s ease-in-out;height:auto; padding:10px 10px 10px 35px;background-repeat: no-repeat; }
a.menuLink:hover,
a.menuLink:active {color:#ffffff;background-color:#4f4f4f;background-position: left 10px bottom 12px;}

.menuLinkSel ,
a.menuLinkSel:link,
a.menuLinkSel:visited,
a.menuLinkSel:hover,
a.menuLinkSel:active{color:#ffffff;background-color:#4f4f4f;height:auto;  padding:10px 10px 10px 35px;background-repeat: no-repeat;background-position: left 10px bottom 12px;/*right 10px center,*/ /*  border-left: 1px solid #4f4f4f; */}

.menuLinkSel i,.menuLink i {
    height: 10px;
    background-image: url("../img/adm/icon-collapse-expand.png");
    background-repeat: no-repeat;
    padding-right: 10px;
    background-position: center center;
    float: right;
    
    transition: all .2s ease-in-out;
}

a.menuLink:hover i,
a.menuLink:active i,
a.menuLinkSel i {
    -webkit-transform: rotate(180deg); 
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); 
}

.submenuLink ,
a.submenuLink:link,
a.submenuLink:visited {color: #ffffff;   display: block;padding: 8px 20px;margin: 0px 15px;border-left: 1px solid #4f4f4f; }
a.submenuLink:hover ,
a.submenuLink:active {color:#5b95ff;}


.submenuLinkSel,
a.submenuLinkSel:link,
a.submenuLinkSel:visited,
a.submenuLinkSel:hover,
a.submenuLinkSel:active {color:#5b95ff;display: block;padding: 8px 20px;margin: 0px 15px;border-left: 1px solid #4f4f4f;}

.submenuLink:hover i.bullet,
.submenuLink:active i.bullet,
.submenuLinkSel i.bullet,
a.submenuLinkSel:link i.bullet,
a.submenuLinkSel:visited i.bullet,
a.submenuLinkSel:hover i.bullet,
a.submenuLinkSel:active i.bullet {
    background-color:#5b95ff;
}

.subsubmenuLink,
a.subsubmenuLink:link,
a.subsubmenuLink:visited {color: #ffffff; display: block;padding: 8px 20px;margin: 0px 15px;color: #ffffff;border-left: 1px solid #4f4f4f; }
a.subsubmenuLink:hover,
a.subsubmenuLink:active {color:#ffffff;}

.subsubmenuLinkSel,
a.subsubmenuLinkSel:link,
a.subsubmenuLinkSel:visited,
a.subsubmenuLinkSel:hover,
a.subsubmenuLinkSel:active {color:#ffffff;display: block;padding: 8px 20px;margin: 0px 15px;border-left: 1px solid #4f4f4f;}
/* End of Buttons & Links */

/* menu icon */
.menuLink.website,.menuLinkSel.website{background-image: url('../img/adm/icon-left-panel-website.gif');}
.menuLink.product,.menuLinkSel.product{background-image: url('../img/adm/icon-left-panel-product.gif');}
.menuLink.user,.menuLinkSel.user{background-image: url('../img/adm/icon-left-panel-product-07.gif');}
.menuLink.enquiry,.menuLinkSel.enquiry{background-image: url('../img/adm/icon-left-panel-enquiry.gif');}
.menuLink.order,.menuLinkSel.order{background-image: url('../img/adm/icon-left-panel-order.gif');}
.menuLink.custom,.menuLinkSel.custom{background-image: url('../img/adm/icon-left-panel-default.gif');}

.menuLink.faq,.menuLinkSel.faq{background-image: url('../img/adm/icon-left-panel-faq.png');}
.menuLink.controllerpanel,.menuLinkSel.controllerpanel{background-image: url('../img/adm/icon-left-panel-project-control-panel.png');}
.menuLink.project,.menuLinkSel.project{background-image: url('../img/adm/icon-left-panel-project-manager.png');}
.menuLink.training,.menuLinkSel.training{background-image: url('../img/adm/icon-left-panel-training.png');}
.menuLink.userinfo,.menuLinkSel.userinfo{background-image: url('../img/adm/icon-left-panel-user-info.png');}
.menuLink.user,.menuLinkSel.user{background-image: url('../img/adm/icon-left-panel-user-manager.png');}
/* end of menu icon */
/* End of Admin Menu */
