﻿/* Admin Personalization */
.divAdmPersonalization {height:auto; overflow:hidden;  padding-left: 20px;}
.divAdmPersonalizationDetails {height:auto; overflow:hidden; font-size:87.5%;}
.divAdmPersonalizationDetails a:link,.divAdmPersonalizationDetails a:visited{color:#434343;}
.divAdmPersonalizationDetails a:hover,.divAdmPersonalizationDetails a:active{text-decoration:none;  color:#5b95ff;}
.divTime {color:#434343;background-image:url('../img/adm/icon-time.gif');background-repeat:no-repeat;background-position:0 0;  padding-left: 30px;display:inline-block;height: 20px;}
.spanTime {font-weight:700;}
/* End of Admin Personalization */
