﻿/* Admin Page Desc */
.pagedesc {     height: 40px;padding: 0 40px;margin: 10px 0px;display:flex;}
.pagedesc .pagedesc-item{align-self:flex-end;}
.pagedesc .pagedesc-right {margin-left:auto;min-width: 385px;}
.pagedesc .item-info{float:left; padding: 0 10px; border-left: 1px solid #191919; }
.pagedesc .item-info:first-child {}
.pagedesc .item-info:last-child {border-right:1px solid #191919;}
.divRegDetailsHdrRight .divPageDesc {top: 10px;right: 0px;}
.attention_compulsory_msg {float:right;font-size:16px;padding: 10px;background-color: #D33836;color: #fff;font-weight: 400;margin-right:5px;}
.attention_uniq_msg {float:right;font-size:16px;padding: 10px;background-color: #A359B8;color: #fff;font-weight: 400;}
/* End of Admin Page Desc */
