﻿/* Adm Side Menu */
.divAdmSideMenu {    overflow: hidden; width: 100%;    height: 0;    box-sizing: border-box;position: fixed;top: 110px;left: 0;padding-left: 220px;    background-color: #ecfdff;box-shadow: 0 15px 20px -12px gray;transition:height .5s ease-in-out;}
.divAdmSideMenu.active{height:170px;}
.divAdmSideMenuInner { height:100%;text-transform:capitalize;    box-sizing: border-box;}
.divAdmSideMenuParent {height:auto; overflow:hidden; background:#fff;  padding: 20px;border-bottom:1px solid #ececec;}
.divAdmSideMenuItems {height:auto; overflow:hidden; height:170px;display:inline-block; }
.divAdmSideMenuBottom {height:5px; overflow:hidden; }


.divAdmSideMenuItem { overflow: hidden; width: 130px;float: left;height: 100%;margin: 0 1px;box-sizing: border-box;}
.divAdmSideMenuItemInner {height:auto; overflow:hidden; }
.divAdmSideMenuItemInnerSel {height:auto; overflow:hidden;}
.divAdmSideMenuSubItemInner {height:auto; overflow:hidden; padding:10px 0px 10px 20px;}
.divAdmSideMenuSubItemInnerSel {height:auto; overflow:hidden; padding:10px 0px 10px 20px;}


/* Buttons & Links */
.sidemenuLink,
a.sidemenuLink:link,
a.sidemenuLink:visited{color:#434343;text-decoration:none;}
a.sidemenuLink:hover,
a.sidemenuLink:active {color:#05e2e5;text-decoration:none;}

/*.sidemenuLinkSel, 
a.sidemenuLinkSel:link,
a.sidemenuLinkSel:visited ,
a.sidemenuLinkSel:hover,
a.sidemenuLinkSel:active{color:#ff6c00; font-size:12px; float:left;}*/

.sidemenuSubLink ,
.sidemenuSubLink:link ,
.sidemenuSubLink:visited{background-position: center 20px;background-color:#ECFDFF;color:#5b95ff;font-size:87.5%;display:block;padding:135px 0px 48px 0px;background-image:url('../img/adm/icon-product-content.gif');background-repeat:no-repeat;transition:all .2s ease-in-out; }
.sidemenuSubLink:hover ,
.sidemenuSubLink:active {background-position: center -128px;background-color: #5b95ff;color:#ffffff;font-size:87.5%;text-decoration:none; }

.sidemenuSubLinkSel, 
.sidemenuSubLinkSel:link,
.sidemenuSubLinkSel:visited,
.sidemenuSubLinkSel:hover,
.sidemenuSubLinkSel:active{background-position: center -128px;background-color: #5b95ff;color:#ffffff;font-size:87.5%;text-decoration:none;display:block;padding:135px 0px 18px 0px;background-image:url('../img/adm/icon-product-content.gif');background-repeat:no-repeat;    }

.sidemenuSubLinkDisabled,
.sidemenuSubLinkDisabled:link,
.sidemenuSubLinkDisabled:visited,
.sidemenuSubLinkDisabled:hover,
.sidemenuSubLinkDisabled:active {display:none;}

.sidemenuSubLink.product-detail,
.sidemenuSubLinkSel.product-detail{background-image:url('../img/adm/icon-product-detail.gif');}
.sidemenuSubLink.product-content,
.sidemenuSubLinkSel.product-content{background-image:url('../img/adm/icon-product-content.gif');}
.sidemenuSubLink.product-related,
.sidemenuSubLinkSel.product-related{background-image:url('../img/adm/icon-product-releted.gif');}
.sidemenuSubLink.product-pricing,
.sidemenuSubLinkSel.product-gallery{background-image:url('../img/adm/icon-product-gallery.gif');}
.sidemenuSubLink.product-gallery,
.sidemenuSubLinkSel.product-inventory{background-image:url('../img/adm/icon-product-inventory.gif');}
.sidemenuSubLink.product-addon,
.sidemenuSubLinkSel.product-addon{background-image:url('../img/adm/icon-product-content.gif');}

.sidemenuSubLink.member-detail,
.sidemenuSubLinkSel.member-detail{background-image:url('../img/adm/icon-member-details.gif');}

.sidemenuSubLink.page-detail,
.sidemenuSubLinkSel.page-detail{background-image:url('../img/adm/icon-sibling-page-details.gif');}
.sidemenuSubLink.page-replicate,
.sidemenuSubLinkSel.page-replicate{background-image:url('../img/adm/icon-replicate-page.gif');}
.sidemenuSubLink.page-sibling,
.sidemenuSubLinkSel.page-sibling{background-image:url('../img/adm/icon-sibling-page-sorting.gif');}
.sidemenuSubLink.page-new,
.sidemenuSubLinkSel.page-new{background-image:url('../img/adm/icon-add-new-page.gif');}
.sidemenuSubLink.page-mobile,
.sidemenuSubLinkSel.page-mobile{background-image:url('../img/adm/icon-page-mobile.gif');}

.sidemenuSubLink.event-comment,
.sidemenuSubLinkSel.event-comment{background-image:url('../img/adm/icon-event-comment.gif');}
.sidemenuSubLink.event-desc,
.sidemenuSubLinkSel.event-desc{background-image:url('../img/adm/icon-event-description.gif');}
.sidemenuSubLink.event-detail,
.sidemenuSubLinkSel.event-detail{background-image:url('../img/adm/icon-event-details.gif');}
.sidemenuSubLink.event-gallery,
.sidemenuSubLinkSel.event-gallery{background-image:url('../img/adm/icon-event-gallery.gif');}
.sidemenuSubLink.event-video,
.sidemenuSubLinkSel.event-video{background-image:url('../img/adm/icon-event-video.gif');}

.sidemenuSubLink.shipping-detail,
.sidemenuSubLinkSel.shipping-detail{background-image:url('../img/adm/icon-shipping-detail.gif');}

.sidemenuSubLink.slideshowgroup-detail,
.sidemenuSubLinkSel.slideshowgroup-detail{background-image:url('../img/adm/icon-slide-show-group.gif');}
.sidemenuSubLink.slideshow-detail,
.sidemenuSubLinkSel.slideshow-detail{background-image:url('../img/adm/icon-slide-show-manager.gif');}

.sidemenuSubLink.object-detail,
.sidemenuSubLinkSel.object-detail{background-image:url('../img/adm/icon-object-detail.gif');}


/* End of buttons & Links */


/* End of Adm Side Menu */
