﻿.header__action__button ,
a.header__action__button:link ,
a.header__action__button:visited {    
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 0 20px;
    color:#434343;
    height:50px;
    border-left:1px dotted #7e9aa5;
}
a.header__action__button:hover ,
a.header__action__button:active {color:#fff;background-color:#434343;text-decoration:none;}

.header__action__button > i{font-size: 24px;}