﻿
/* COMMON CLASSES */
.divMastheadBackgroundContainer {height:auto; overflow:hidden;}
.break { clear:both; }

/* HEADER */
.headerimg { background-position: center top; background-repeat: no-repeat; width:100%; height:710px; position:absolute;}

/* HEADER TEXT */
#headertxt {height:auto; overflow:hidden; width:100%; position:absolute; top:195px; left:0px;}
.caption {height:auto; overflow:hidden; width:960px; margin:auto;}
#firstline {font-size:60px; line-height:80px; font-family:Roboto Condensed; color:#ffffff; display:block;}
