﻿.group-header {display:flex;align-items: center;border-bottom: 2px dotted #dc153c;padding-bottom: 10px; margin-bottom: 20px;}
.group-header-tools {margin-left:auto;}
.group-header-tools .arrow {cursor:pointer;transition:all .3s ease;}
.group-header-icon {padding-right: 10px;}
.group-header-title h2 {margin-bottom:0;}

.company-list {display:none;}
.company-item { margin-bottom: 10px;}
.company-item-header {
    background-color:#dc153c;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5rem;
}
.company-item-header:after {content: " ";display: table;clear: both;}
.company-item-header-title {float: left;}
.company-item-header-tools { float: right;}
.company-item-header-tools .material-icons {cursor:pointer;}
.company-item-header-tools .add {display:block;}
.company-item-header-tools .remove {display:none;}

.company-item-body {background-color:#f8f8f8;display: none;}
.company-item-body-inner {padding:30px;display:flex;background-color: #f8f8f8;}

.company-item-image {  width: 120px; height: 120px; border: 3px solid #dc153c;border-radius: 50%; position: relative; overflow: hidden;  flex: 0 0 120px;  margin-right: 30px; background-color: #fff;}
.company-item-image img { position: absolute; width: auto; height: 100%; top: 50%;left: 50%;transform: translate(-50%, -50%); padding:10px;}
.company-item-content-action { padding-top: 20px;}

/* ============ OPEN ===============*/
.group-item.open {}
.group-item.open .arrow{transform:rotate(180deg)}

.company-item.open {}
.company-item.open .add{display:none;}
.company-item.open .remove{display:block;}

/* ============= Filter =================*/
.filter-container { border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 20px;}
.filter-container:after {content:" ";display:table;clear:both;}
.filter-text{width:280px;float:left;}
.filter-text .icon {background-color:#dc153c;color:#fff;}
.filter-group{float:right;}
.filter-group .form-label {font-weight:400;}
.filter-group .form-input {width:220px;}
.filter-group .form-label,
.filter-group .form-input {display:inline-block;}