﻿/* Cart Menu */
.divCartMenuItemOut {height:auto; overflow:hidden; padding-bottom:25px; background:#a4750b; margin-top:20px;}
.divCartMenuItem {float:left; height:auto; overflow:hidden; font-size:14px; font-style:italic; }
.divCartMenuItemInner {text-align:center; vertical-align:middle; display:table-cell;}
/* End of Cart Menu */

/* Buttons */
.divCheckoutMenuItem {color:#f3d37e; padding-left:29px; padding-right:29px; height:auto; overflow:hidden; padding-top:55px;}
.divCheckoutMenuItemSel {color:#f3d37e; padding-left:29px; padding-right:29px; display:block; background:url(../img/usr/icon_cart_basket.gif) no-repeat center; height:auto; overflow:hidden; padding-top:55px;}
/* End of Buttons */