﻿/* Cart Done */
.divCartDoneContainer {width:auto; margin:auto;}
.divOrderDetails {padding:20px; padding-bottom:20px; background:#eeca74; margin-top:20px;}
.divOrderStatus {padding-top:20px;}
.divOrderPayment {padding:20px; padding-bottom:20px; background:#eeca74; margin-top:20px;}
.divCartDoneBtn {padding-top:20px; text-align:center;}

.tdOrdCartHdr {padding-bottom:20px; font-weight:bold;}
.tdLabelCart {padding-right:40px;}
.tdCardDoneSpace {height:10px;}

.divBankInfo {height:auto; overflow:hidden; border:1px solid #a4750b; margin-top:20px; padding:20px; background:#fff;}
.divBankLogo {float:left;}
.divInfo {float:right; padding-top:25px;}

.divContactDetail {height:auto; overflow:hidden; padding-top:20px;}
.divLeft {float:left;}
.divRight {float:right; padding-left:20px; text-align:justify; font-style:italic; width:480px;}
.divAlterPayment {height:auto; overflow:hidden; padding-top:20px; padding-bottom:40px;}
/* End of Cart Done */