﻿/***FORM, TEXT FIELD WITH CLEAR FIELD***/
.clearField{
	
	width:440px;
	height: 18px;
	border-radius:5px;
	border: 1px solid #c9c9c9;
	background:#fff;
	font-size:14px;
	padding:10px;
	color:#919191;
	font-style:normal;
}

.clearField:hover
{
	border: 1px solid #c9c9c9;
	color:#919191;
	
}

.clearField:focus
{
    color:#919191;
    padding:10px;
    width:440px;
	height: 18px;
	background:#fff
	border: 1px solid #c9c9c9;
	ie-dummy: expression(this.hideFocus=true);outline:none;
	font-style:normal;
}
.clearFieldMessage
{
    min-width:440px;
    width:440px;
	height: 100px;
	border-radius:5px;
	border: 1px solid #c9c9c9;
	background:#fff;
	font-size:14px;
	padding:10px;
	color:#919191;
	font-style:normal;
}
.clearFieldMessage:focus
{
    color:#919191;
    padding:10px;
    min-width:440px;
    width:440px;
	height: 100px;
	background:#fff;
	border:1px solid #c9c9c9;
	ie-dummy: expression(this.hideFocus=true);outline:none;
	font-style:normal;
}
.clearFieldBlurred { color:#919191;}
.clearFieldActive { color:#919191; }
