﻿/* CMS */
.divCMS {height:auto; overflow:hidden;}
.divCMSItems {height:auto; overflow:hidden;}
.divCMSItemsPreview {height:auto; overflow:hidden;}

.divCMSAck {padding-bottom:10px; height:auto; overflow:hidden;}

.divCMSAction {padding:10px 0px 10px 20px; margin-bottom:5px; height:auto; overflow:hidden; background:#f3f3f3; border-top:5px solid #cccccc; border-bottom:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc;}

.divCMSContentSection {height:auto; overflow:hidden;}
.divEditorStart {border-bottom:1px solid #a6a6a6;}
.divCMSContent {height:auto; overflow:hidden;}

.divCMSAdminAction {height:auto; overflow:hidden;}
.divCMSViewMode {height:auto; overflow:hidden;}
.divCMSViewModeItems {border:1px solid #cccccc; background:#f3f3f3; color:#4a4a4a; padding:10px 10px 10px 10px; height:auto; overflow:hidden;}

.divCMSEditMode {height:auto; overflow:hidden;}
.divCMSEditor {background:#d3d3d3; border-bottom:1px solid #a6a6a6; height:auto; overflow:hidden;}
.divCMSEditModeAck {background:#d3d3d3; padding:10px 10px 10px 10px; height:auto; overflow:hidden;}
.divCMSEditModeItems {background:#d3d3d3; color:#000; padding:10px 10px 10px 10px; height:auto; overflow:hidden;}

.divCMSSiblingPages {border-top:1px solid #a6a6a6; background:#f3f3f3; color:#000; padding:10px 20px 10px 20px; height:auto; overflow:hidden;}
.divCMSPlaceHolder {height:auto; overflow:hidden;}


/* Form */
.divCMS .tdLabel {width:120px; padding-right:20px;}
.divCMS .ddl {border:1px solid #cad0d4; width:311px; padding:5px;}
.divCMS .text_big {border:1px solid #cad0d4; width:300px; padding:5px;}
/* End of Form */


/* Button */
.btn {padding:5px 25px 5px 25px; background:#4a4a4a; border:1px solid #272727; margin-right:5px;}

a.btn:link {color:#fff; text-decoration:none;}
a.btn:visited {color:#fff; text-decoration:none;}
a.btn:active {color:#ff6c00; text-decoration:none;}
a.btn:hover {color:#ff6c00; text-decoration:none;}

.btnDisabled {float:left; padding:5px 25px 5px 25px; border:1px solid #aaa; background: #fff; margin-right:5px;}
a.btnDisabled {color:#aaa; text-decoration:none; cursor:default;}

.cmsLink {color:#000;}
a.cmsLink:link {color:#000; text-decoration:none;}
a.cmsLink:visited {color:#000; text-decoration:none;}
a.cmsLink:hover {color:#a6a6a6; text-decoration:none;}
a.cmsLink:active {color:#a6a6a6; text-decoration:none;}
/* End Of Button */


/* Text */
.divCMS strong, .divCMS b {font-size:105%;}
.divCMS .smallTxt {font-size:14px;}
.divCMS .resultTxt {color:#2CB0FC; font-size:12px;}
/* End of Text */


/* End of CMS */
