﻿/* General */
.divCMSContainerOuter {height:auto; overflow:hidden;}
.divCMSContainerEdit {height:auto; overflow:hidden; border-bottom:5px solid #cccccc; background:#f3f3f3; padding-top:5px; padding-bottom:5px; color:#4a4a4a;}
.divCMSContainerEditTitle {float:left; font-weight:bold; padding:5px 0px 5px 20px;}
.divCMSContainerEditLastUpdate {float:right; padding:5px 20px 5px 0px;}
.spanCMSContainerEditTitleRight {color:#ff6c00}
.divCMSContainerInner {height:auto; overflow:hidden;}
.divCMSContainerBtnRight {text-align:right; padding:10px 20px 10px 0px; height:auto; overflow:hidden; background:#f3f3f3; border-top:5px solid #cccccc; border:1px oslid #cccccc; margin-bottom:20px;}

.divhypCMS {}
.divhypCMS a {width:30px; padding:5px 25px 5px 25px; background:#4a4a4a; border:1px solid #272727;}
.divhypCMS a:link {color:#fff; text-decoration:none;}
.divhypCMS a:visited {color:#fff; text-decoration:none;}
.divhypCMS a:active {color:#333; text-decoration:none; border:1px solid #fff;}
.divhypCMS a:hover {color:#333; text-decoration:none; border:1px solid #fff;}

.btnCMS {padding-left:25px; padding-right:25px; padding-top:2px; padding-bottom:2px; background:#a6a6a6; border:1px solid #fff; margin-right:5px;}

a.btnCMS:link {color:#fff; text-decoration:none; }
a.btnCMS:visited {color:#fff; text-decoration:none; }
a.btnCMS:active {color:#333; text-decoration:none; border:1px solid #fff; }
a.btnCMS:hover {color:#333; text-decoration:none; border:1px solid #fff; }

.btnCMSDisabled {float:left; padding-left:25px; padding-right:25px; padding-top:2px; padding-bottom:2px; border:1px solid #aaa; background: #fff; margin-right:5px;}
a.btnCMSDisabled {color:#aaa; text-decoration:none; cursor:default;}
/* End of General */