﻿/* CMS Content */
.divCMSContentInner {height:auto; overflow:hidden;}
.divCMSContentAction {height:auto; overflow:hidden; padding:10px 20px 10px 20px; border-top:1px solid #cccccc;}
.divCMSContentBtnLeft {float:left}
.divCMSContentBtnRight {float:right;}

.divCMSContentAction a {width:30px; color:#fff; text-decoration:none; background:#ff0101; border:1px solid #272727; padding:5px 25px 5px 25px;}
.divCMSContentAction a:link {color:#fff; text-decoration:none;}
.divCMSContentAction a:visited {color:#fff; text-decoration:none;}
.divCMSContentAction a:hover {color:#ff6c00; text-decoration:none;}
.divCMSContentAction a:active {color:#ff6c00; text-decoration:none;}

/* Style 1 */
.divCMSContentOuter1 {height:auto; overflow:hidden;}
/* End of Style 1 */


/* Style 2 */
.divCMSContentOuter2 {height:auto; overflow:hidden;}
/* End of Style 2 */
/* End of CMS Content */