﻿/*Gst Setting*/
td.tdGstName {width:120px;}
/*End of Gst Setting*/



/*Shipping*/
.tdShippingLeftList {padding-right:20px;}

.divShipCompContainer {height:auto; overflow:hidden;}
.divShipCompDetailsContainer {height:auto; overflow:hidden;}
.divShipCompSettingsContainer {height:auto; overflow:hidden;}
/*End of Shipping*/



/*Country Manager*/
.divCountryDetailsContainer {height:auto; overflow:hidden; padding-top:30px;}
/*End of Country Manager*/



/*Registration Details*/
.divRegistrationDetailsOuter {height:auto; overflow:hidden; padding-top:30px; padding-bottom:30px;}
.divRegistrationDetailsInner {height:auto; overflow:hidden; width:800px; margin:auto;}
.divRegistrationDetails {height:auto; overflow:hidden; padding-bottom:50px;}
.divRegistrationDetailsHdr {height:auto; overflow:hidden; padding-bottom:5px; border-bottom:1px solid #cccccc;}
.divRegDetailsHdrLeft {float:left; font-weight:bold; font-size:120%;}
.divRegDetailsHdrRight {float:right;}
.divRegistrationDetailsContent {height:auto; overflow:hidden; padding-top:10px;}

.divRegistrationPaymentDetails {height:auto; overflow:hidden;}
.divPaymentDetailsHdr {font-weight:bold; font-size:120%; padding-bottom:5px; border-bottom:1px solid #cccccc;}
.divPaymentDetailsContent {height:auto; overflow:hidden; padding-bottom:20px; padding-top:10px;}

.divAdmRegBtn {width:800px; border-top:1px solid #ccc; padding-top:5px;}
.divBtnLeft {float:left;}
.divBtnRight {float:right;}

.tdRegDetailLabel {width:180px; padding-right:20px; padding-top:4px; vertical-align:top;}
.tdRegDetailLabel2 {width:120px; padding-left:50px; padding-right:20px; padding-top:4px; vertical-align:top;}
.tdRegDetailLabelNor {width:140px; padding-right:20px; vertical-align:top;}
.tdRegDetailLabelNor2 {width:120px; padding-left:50px; padding-right:20px; vertical-align:top;}

.divRegistrationDetailsAck {height:auto; overflow:hidden; padding-top:10px;}
.noticemsg2 {color:#a4a4a4; font-style:italic;}
.errmsg2 {color:red; font-style:italic;}

.hypClose {cursor:pointer;}
/*End Registration Details*/



/*Related Deal*/
.divDealRelNoFound {height:auto; overflow:hidden;}
.divRelDeal {height:auto; overflow:hidden;}
.divRelDealTotal {height:auto; overflow:hidden; padding-bottom:10px;}
.divRelDealPaginationTopContainer, .divRelDealPaginationBtmContainer {height:auto; overflow:hidden; padding:5px; background:#ffe694;}
.divRelDealPaginationTopContainerInner, .divRelDealPaginationBtmContainerInner {height:auto; overflow:hidden; float:right; display:table;}
.divRelDealItemsContainer {height:auto; overflow:hidden; padding-top:20px; padding-bottom:20px;}

.relDealTbl {width:100%;}

.relDealTbl .tdRelDealItem {vertical-align:top; width:170px;}
.relDealTbl .tdRelDealItemLast {vertical-align:top; width:100px;}
/*End of Related Deal*/



/* START OF INVENTORY RECEIVABLE */
#tblReceiveItemForm .code { width:500px; }
#tblReceiveItemForm .price { width:70px; }
#tblReceiveItemForm .discount { width:70px; }
#tblReceiveItemForm .amount { width:70px; }

#tblReceiveItemForm .divQtyContainer {width:100px;}
#tblReceiveItemForm .qty { width:70px; }

#tblReceiveItemForm .tdSpacerForBillDiscount,
#tblReceiveItemForm .tdSpacerForTotal{width: 47%;}
/* END OF INVENTORY RECEIVABLE */




/* START OF INVENTORY ADJUSTMENT */
#tblAdjustItemForm .code{ width:500px; }
#tblAdjustItemForm .divQtyContainer {width:100px;}
#tblAdjustItemForm .qty { width:70px; }
/* END OF INVENTORY ADJUSTMENT */