﻿.divEnquiryHeaderDesc {padding-bottom:20px; text-align:justify;}
.divEnquiry {}
.divSubmitTitle {}
.divEnquiryTitle {}
.tblEnquiry {width:100%;}
.tblEnquiry td {padding-top:15px; color:#292929;}
.tblEnquiry tr:last-child td {padding-top:20px;}

.recaptchaOuter {padding-top:10px;}
#dvCaptcha {display:inline-block;}