﻿.divEventList {height:auto; overflow:hidden;}
.divEventHeader {float:left;}


.divEventItem {height:auto; overflow:hidden;}
.divEventContent {height:auto; overflow:hidden;}
.divListPaginationInner {height:auto; overflow:hidden; float:right; /*text-align:right;*/ padding-top:5px; padding-bottom:5px;}
.divListPaginationTop {height:auto; overflow:hidden; margin-top:5px; float:left;}
.divListPaginationBottom {height:auto; overflow:hidden; clear:both; float:left;}
.divEventImage {}
.divEventImg {}

.divEventDetails {width:100%;padding: 10px 0px;}
.divEventName {display: flex;align-items: center;}
.divEventStartDate {display: flex;align-items: center;font-size:20px;font-size: 1vw;font-family:'Roboto';font-weight:300;color:#f45449;}
.divEventDesc {height:auto; overflow:hidden; text-align:justify; padding-top:10px;}
.divEventRead {height:auto; margin-top:10px;}
.divEventGallery {height:auto; overflow:hidden;}
.divEventGalleryItems {height:auto; overflow:hidden; float:left; height:93px; width:120px; margin-bottom:10px; margin-right:14px;}
.divEventGalleryItemsLast {height:auto; overflow:hidden; float:left; height:93px; width:120px; margin-bottom:10px;}
.divEventGalleryImg {float:left; display:table; height:91px; overflow:hidden; width:118px; border:1px solid #dddddd; background:#ffffff;}
.divEventGalleryImgInner {display:table-cell; vertical-align:middle; text-align:center;}
.divEventSpliter {background: #dedede; height:1px; width:100%; margin-bottom:20px;}
.divFirstButton{float:right; padding-right:5px;}
.divPagination{float:right; padding-right:5px;}
.divLastButton {float:right; padding-right:5px;}
.divListPagination, .divListTopInner {float:right;} 


.divDdlSort {float:right; padding-left:15px; font-size:13px; margin-bottom:25px;}
.ddl_sort, .ddl_filter { border:1px solid #ccc; font-style:italic; border-radius:5px; padding:5px;}
.ddl_sort {width:180px;}
.ddl_filter {width:85px;}

/* Count part */
.divEventCount{height:auto; padding-top:5px; float:right;}
.divEventCountInnerTop {overflow:hidden;}
.divEventCountInnerBottom{overflow:hidden;}
.divEventCommentCount{float:right; text-align:center; width:20px; height:13px; padding-left:10px;}
.divEventVideoCount{float:right; text-align:center; width:20px; height:13px; padding-left:10px;}
.divEventGalleryCount{float:right; text-align:center; width:20px; height:13px; padding-left:10px;}
.divEvtCommentCount{float:right; text-align:center; width:20px;}
.divEvtVideoCount{float:right; text-align:center; width:20px;}
.divEvtGalleryCount{float:right; text-align:center; width:20px;}
/* End Count Part */

.hypReadEvent {height:23px; width:100px; padding-top:7px; display:block; font-size:12px; font-family:Calibri, Arial, Sans-Serif; color:#ffffff; text-align:center; outline:none; background:#00d8ff;}
.hypReadEvent:link {color:#ffffff; text-decoration:none; background:#00d8ff;}
.hypReadEvent:visited {color:#ffffff; text-decoration:none; background:#00d8ff;}
.hypReadEvent:hover {color:#ffffff; text-decoration:none; background:#09c3e5;}
.hypReadEvent:active {color:#ffffff; text-decoration:none; background:#09c3e5;}

.btnPagination {color:#434343;}
a.btnPagination:link {color:#434343; text-decoration:none;}
a.btnPagination:visited {color:#434343; text-decoration:none;}
a.btnPagination:hover {color:#1c488a; text-decoration:none;}
a.btnPagination:active {color:#1c488a; text-decoration:none;}

.btnPaginationSel {color:#1c488a;}
a.btnPaginationSel:link {color:#1c488a; text-decoration:none;}
a.btnPaginationSel:visited {color:#1c488a; text-decoration:none;}
a.btnPaginationSel:hover {color:#1c488a; text-decoration:none;}
a.btnPaginationSel:active {color:#1c488a; text-decoration:none;}

.lnkbtnFirst {float:right; color:#959595; margin-right:10px;}
.lnkbtnFirst:link {color:#959595;}
.lnkbtnFirst:visited {color:#959595;}
.lnkbtnFirst:hover {color:#0072db; margin-right:10px;}
.lnkbtnFirst:active {color:#0072db; margin-right:10px;}
.lnkbtnFirstDisabled {float:right; display:block; cursor:default; color:#959595; margin-right:10px;}
.lnkbtnFirstDisabled:hover {float:right; display:block; cursor:default; color:#959595; margin-right:10px;}

.lnkbtnLast {float:right; display:block; color:#959595;}
.lnkbtnLast:link {color:#959595;}
.lnkbtnLast:visited {color:#959595;}
.lnkbtnLast:hover {color:#0072db;}
.lnkbtnLast:active {color:#0072db;}
.lnkbtnLastDisabled {float:right; display:block; cursor:default; color:#959595; margin-left:10px;}
.lnkbtnLastDisabled:hover {float:right; display:block; cursor:default; color:#959595; margin-left:10px;}

.lnkbtnPrev {float:right; color:#959595;}
.lnkbtnPrev:link {color:#959595;}
.lnkbtnPrev:visited {color:#959595;}
.lnkbtnPrev:hover {color:#0072db; }
.lnkbtnPrev:active {color:#0072db; }
.lnkbtnDisabled {float:right; display:block; cursor:default; color:#959595; }
.lnkbtnDisabled:hover {float:right; display:block; cursor:default; color:#959595;}

.lnkbtnNext {float:right; display:block; color:#959595; margin-right:10px;}
.lnkbtnNext:link {color:#959595;}
.lnkbtnNext:visited {color:#959595;}
.lnkbtnNext:hover {color:#0072db;}
.lnkbtnNext:active {color:#0072db;}
.lnkbtnNextDisabled {float:right; display:block; cursor:default; color:#959595; margin-right:10px;}
.lnkbtnNextDisabled:hover {float:right; display:block; cursor:default; color:#959595; margin-right:10px;}

.hypEventName ,
.hypEventName:link ,
.hypEventName:visited ,
.hypEventName:hover,
.hypEventName:active{color:#fff;font-size:1.125rem;color:#515bda;}

/* Buttons */
.btnPagination {color:#656565; font-size:14px; outline:none;}
a.btnPagination:link {color:#656565; text-decoration:none;}
a.btnPagination:visited {color:#656565; text-decoration:none;}
a.btnPagination:hover {color:#003768; text-decoration:none;}
a.btnPagination:active {color:#003768; text-decoration:none;}

.btnPaginationSel {color:#003768; font-size:14px; outline:none;}
a.btnPaginationSel:link {color:#003768; text-decoration:none;}
a.btnPaginationSel:visited {color:#003768; text-decoration:none;}
a.btnPaginationSel:hover {color:#003768; text-decoration:none;}
a.btnPaginationSel:active {color:#003768; text-decoration:none;}

.btnPaginationBottom {color:#434343; font-size:14px; outline:none;}
a.btnPaginationBottom:link {color:#434343; text-decoration:none;}
a.btnPaginationBottom:visited {color:#434343; text-decoration:none;}
a.btnPaginationBottom:hover {color:#1c488a; text-decoration:none;}
a.btnPaginationBottom:active {color:#1c488a; text-decoration:none;}

.btnPaginationBottomSel {color:#1c488a; font-size:14px; outline:none;}
a.btnPaginationBottomSel:link {color:#1c488a; text-decoration:none;}
a.btnPaginationBottomSel:visited {color:#1c488a; text-decoration:none;}
a.btnPaginationBottomSel:hover {color:#1c488a; text-decoration:none;}
a.btnPaginationBottomSel:active {color:#1c488a; text-decoration:none;}

.imgbtnPageFirstTop {background:url('../img/usr/pagination-prev.png') no-repeat; width:8px; height:8px; outline:none;}
.imgbtnPageFirstTop:hover {background:url('../img/usr/pagination-prev.png') no-repeat 0px -58px; width:8px; height:8px;}
.imgbtnPageFirstTopDisabled {background:url('../img/usr/pagination-prev.png') no-repeat; width:8px; height:8px; cursor:default;}

.imgbtnPageLastTop {background:url('../img/usr/pagination-next.png') no-repeat; width:8px; height:8px; outline:none;}
.imgbtnPageLastTop:hover {background:url('../img/usr/pagination-next.png') no-repeat 0px -58px; width:8px; height:8px;}
.imgbtnPageLastTopDisabled {background:url('../img/usr/pagination-next.png') no-repeat; width:8px; height:8px; cursor:default;}

.imgbtnPageFirstBottom {background:url('../img/usr/pagination-prev.png') no-repeat; width:8px; height:8px; outline:none;}
.imgbtnPageFirstBottom:hover {background:url('../img/usr/pagination-prev.png') no-repeat 0px -58px; width:8px; height:8px;}
.imgbtnPageFirstBottomDisabled {background:url('../img/usr/pagination-prev.png') no-repeat; width:8px; height:8px; cursor:default;}

.imgbtnPageLastBottom {background:url('../img/usr/pagination-next.png') no-repeat; width:8px; height:8px; outline:none;}
.imgbtnPageLastBottom:hover {background:url('../img/usr/pagination-next.png') no-repeat 0px -58px; width:8px; height:8px;}
.imgbtnPageLastBottomDisabled {background:url('../img/usr/pagination-next.png') no-repeat; width:8px; height:8px; cursor:default;}

.lnkbtn.viewNew , .lnkbtn.viewRec {text-transform: none;}

.lazyload {opacity: 0;}
.lazyloading {opacity: 1;transition: 300ms opacity;background: #f7f7f7 url(../img/cmn/loading.gif) no-repeat center;min-height: 60px;}
/* End of Buttons */

.divEventItemsContainer { height: auto; overflow: hidden; width: 100%; display: flex; flex-wrap: wrap;}
.divEventItemOuter {
    width: 33.33333333%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 15px;
    position: relative;
}
.divEventItemOuter .icon { display:none; margin-right: 6px;width:20px;height:20px; flex: 0 0 20px;border-radius:50%;align-items:center;justify-content:center;}
.divEventItemOuter .icon .fa {color:#fff;    font-size: 8px;}
.divEventItemOuter .divEventName {padding-bottom:5px;}
.divEventItemOuter .divEventName a{color:#888888;}
.divEventItemOuter .divEventName .icon {background-color:#888888;}
.divEventItemOuter .divEventStartDate .icon{background-color:#f45449;}
.divEventItemOuter .divEventStartDate {color:#f45449; }
.divEventImgInner{
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.divEventImgInner a {
    display: block;
    width: 100%;
    padding-bottom: 75%;
    height: 0;
}
.divEventImgInner img {position: absolute; width: 100%; height: auto;  top: 50%; left: 50%; transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}
.divEventImgInner img.potrait {position: absolute; width: auto; height: 100%;  top: 50%; left: 50%; transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}
