﻿/* General */
.divFacebookScript {}
.divFacebook {height:auto; overflow:visible; padding-top:8px; float:right;}
.divFacebookCount {height:auto; overflow:visible;float:right;}
.divFacebookLike {height:auto; overflow:hidden;float:right;}
/* End of General */
