﻿/*General*/
.divIndEventOuter {height:auto; overflow:visible;}
.divIndEventOuter .fa-stack-1x {font-size:16px;color:#fff;  margin-top: -3px;}
.divIndEventOuter .fa-stack-2x{font-size:36px;}
.divIndEventOuter .event-title {display:flex;align-items:center;margin-bottom:10px;}
.divIndEventOuter .event-title .fa-stack {display:none;}
.divIndEventOuter .event-title h2 {margin-bottom:0;}
.divIndEventHdr {padding-bottom:10px; height:auto; overflow:hidden; float:left;}
.divIndEventHdrInnerPhoto {float:left; padding-top:4px;}
.divIndEventHdrInnerVideo {float:left; padding-top:4px;}
.divIndEventHdrInnerCmmt {float:left; padding-top:4px;}
.divIndEventImgCount {float:left; padding-left:5px;}
.divIndEventCount {float:left; font-size:11px; font-weight:normal; line-height:11px; color:#272727; padding-left:3px; vertical-align:middle;}
.divIndEventContent {padding-bottom:20px;}
.divIndEventAlbum {padding-top:20px;padding-bottom:30px;width:100%;}
.divIndEventTopTop {width:100%; height:auto; overflow:hidden;}
/*End of General*/

/*Details*/
.divIndEventDetails {height:auto; overflow:hidden; text-align:justify; padding-bottom:5px;}
.divIndEventImage {float:left; width:255px; height:190px; overflow:hidden; padding:5px; background:#ffffff;}
.divIndEventImg {height:190px; overflow:hidden; width:255px;}
.divIndEventImgInner { vertical-align:middle; position:relative; overflow:hidden; height:190px; width:255px; }
.divIndEventImgInner img {margin:auto; position:absolute;}

.divEventTopDescInnerTop {height:auto; overflow:hidden;}
.divEventTopDescInnerTopLeft {float:left; width:380px;}
.divEvtPageFirst{float:right; margin-left:10px;}
.divEvtPageLast{float:right; margin-left:10px;}
.divIndEventSnapshot {}
.divIndEventDetailsBtm {height:auto; overflow:hidden; padding-bottom:5px;}
.divIndEventDesc {height:auto; overflow:hidden;}
.divIndEventArticle {padding-bottom:10px;}
/*End of Details*/

/*Album & Video*/
.divIndEvent {padding-bottom:40px;width:100%;}

.divIndEvtVidItem {height:169px; width:225px; float:left; padding-bottom:20px; padding-right:20px;overflow:hidden;}
.divIndEvtVidItemLast {height:169px; width:225px; float:left; padding-bottom:20px; overflow:hidden;}


.divVideoImgOuter {height:169px; width:225px; padding:0px;}
.divVideoImg {height:169px; width:225px; position:relative; overflow:hidden; display:block;}
.divVideoImg img {position:absolute;}
.playIcon {position: relative;filter:alpha(opacity=70);background: url("../img/cmn/icon-play.png") no-repeat center;border: none;z-index: 10;width: 100%;height: 100%;background-color: black;opacity: 0.70;}

.divAlbumVideoImg img {position:absolute; margin:auto; }
.divIndEvtAlbumTitle {text-align:center; width:122px; padding-top:10px; height:auto; overflow:hidden;}

.divWaterMark {position:absolute; top:0; left:0; height:100%; width:100%; background:url('../img/cmn/icon-play-video.png') no-repeat center, rgba(0, 0, 0, 0.40);}
.divWaterMark:hover {background:none;}
/*End of Album & Video*/


/*Links & Buttons*/
.lnkbtnComment {height:30px; width:160px;text-transform:uppercase; display:block; font-size:14px; color:#ffffff; font-weight:normal; text-align:center; padding-top:8px; background:#0072bb; }
a.lnkbtnComment:link {color:#ffffff; text-decoration:none; background:#0072bb;}
a.lnkbtnComment:visited {color:#ffffff; text-decoration:none; background:#0072bb;}
a.lnkbtnComment:hover {color:#ffffff; text-decoration:none; background:#0d5f93;}
a.lnkbtnComment:active {color:#ffffff; text-decoration:none; background:#0d5f93;}
/*end of Links & Buttons*/

/*Pagination*/
.divIndEventTop {width:100%; height:auto; overflow:hidden;}
.divIndPagination {/*height:30px;*/ overflow:hidden; width:185px; float:right;}
.divIndEvtListPaginationWrap {/*height:30px;*/ overflow:hidden; text-align:center; width:165px; float:right;}
.divListIndPagination {overflow:hidden; float:right;}
.divListIndPaginationInner {width:auto; height:auto; overflow:hidden; margin:auto; display:inline-block;}
.divIndPaginationSplitter {width:5px; height:1px; background:transparent; float:left;}


/*Back To List*/
.divBackToListTop {height:auto; width:auto; overflow:hidden; padding:0px 0px 10px; border-bottom:solid 1px #dddddd; margin-bottom:30px;}
.divIndEvtBack {float:left; padding-top:3px;}
.divEventTopDescInnerTopRight {float:right;}
.divIndEvtPrev {float:right; margin-left:10px;}
.divIndEvtNext {float:right;}
.divBackToListInner {height:auto; overflow:hidden; float:right; /*text-align:right;*/ padding-top:5px; padding-bottom:5px;}
.divIndEvtPrevDisabled {float:right; }
.divIndEvtNextDisabled {float:right; }

.btnIndEventBack {}
a.btnIndEventBack:link, a.btnIndEventBack:visited {}
a.btnIndEventBack:hover, a.btnIndEventBack:active {}

.btnIndEventPrev {margin-right:10px; font-size:14px; color:#707070; width:67px; height:23px; background:url(../img/usr/btn-previous.gif)no-repeat 0px 0px; display:block; text-align:center;}
a.btnIndEventPrev:link, a.btnIndEventPrev:visited {color:#707070; text-decoration:none;}
a.btnIndEventPrev:hover, a.btnIndEventPrev:active {color:#009041; text-decoration:none; background:url(../img/usr/btn-previous.gif)no-repeat 0px -73px;}

.btnIndEventNext {font-size:14px; color:#707070; width:67px; height:23px; background:#fff; display:block; background:url(../img/usr/btn-next.gif)no-repeat 0px 0px; text-align:center;}
a.btnIndEventNext:link, a.btnIndEventNext:visited {color:#707070; text-decoration:none;}
a.btnIndEventNext:hover, a.btnIndEventNext:active {color:#009041; text-decoration:none; background:url(../img/usr/btn-next.gif)no-repeat 0px -73px;}

.btnIndEventDisabledPrev {margin-right:10px; font-size:14px; color:#009041; width:67px; height:23px; background:url(../img/usr/btn-previous.gif)no-repeat 0px -73px; display:block; text-align:center;}
a.btnIndEventDisabledPrev:link, a.btnIndEventDisabledPrev:visited {color:#009041; text-decoration:none;}
a.btnIndEventDisabledPrev:hover, a.btnIndEventDisabledPrev:active {color:#009041; text-decoration:none;}

.btnIndEventDisabledNext {font-size:14px; color:#009041; width:67px; height:23px; background:#fff; display:block; background:url(../img/usr/btn-next.gif)no-repeat 0px -73px; text-align:center;}
a.btnIndEventDisabledNext:link, a.btnIndEventDisabledNext:visited {color:#009041; text-decoration:none;}
a.btnIndEventDisabledNext:hover, a.btnIndEventDisabledNext:active {color:#009041; text-decoration:none;}

.lazyload {opacity: 0;}
.lazyloading {opacity: 1;transition: 300ms opacity;background: #f7f7f7 url(../img/cmn/loading.gif) no-repeat center;min-height: 60px;}

.grid-items.photo .grid-item{width:16.66666667%;}
.grid-items.video .grid-item{width:25%;}

/* =========== Event Comment ============== */
.event-comments {border:1px solid #ddd;}
.event-comment {display:flex;flex-wrap: wrap;padding:20px;border-bottom:1px solid #ddd;}
.event-comment-author{flex-basis: 20%; flex-grow: 0; flex-shrink: 0; padding:10px;padding-bottom: 0;border-right:2px solid #2e39ad;}
.event-comment-contet {flex-basis: 80%; flex-grow: 0; flex-shrink: 0; padding:20px;padding-bottom: 0;}
.event-comment-reply{
    flex: 0 0 76%;
    background-color: #2e39ad;
    color: #fff;
    position: relative;
    padding: 10px 15px 10px 40px;
    margin-top: 15px;
    margin-left: auto;
}
.event-comment-reply .icon {position:absolute;left:10px;top:5px;}