/* General */
.divIndListHdr {font-size:18px; color:#656565; text-transform:uppercase; margin-top:12px; margin-bottom:20px;}
.divIndProduct {height:auto; width:710px; overflow:hidden;}
.divIndProdHdr {height:auto; overflow:hidden; padding-bottom:10px; font-size:14px;}
.divIndProdTopDetail {height:auto; overflow:hidden; padding-bottom:30px;}
.divIndProdImg {width:280px; height:405px; overflow:hidden; background:#ffffff;}
.divIndProdImgInner {text-align:center; width:278px; height:403px; border:1px solid #bbbbbb; overflow:hidden;}
.imgIndProdImg {}
.divProdDetails {padding-top:20px; height:auto; overflow:visible; clear:both; width:660px; padding-bottom:20px;}
.divIndProdDetail {float:left; margin-left:20px; width:320px; height:auto; overflow:visible;}
.divProdDetailTop {height:auto; overflow:hidden; clear:both;}
.divProdDetailProdName {font-size:18px; font-weight:bold; color:#fff600;}
.divProdSnapshot {clear:both; padding-top:10px; text-align:justify;}
.divProdDescTitle {font-size:14px; color:#22201f; padding-bottom:10px;}
.divIndProdPrice {margin-top:5px; font-weight:bold; float:right; margin-right:8px;}
.divProdDetailsLeft {float:left; height:auto; width:280px; overflow:hidden;}
/*.divArticleBg {x}
.divArticleBg:hover {}*/

.divProdArticle {padding-bottom:20px;}
.tblProdHeader {}
.tblProdHeader td {padding-right:5px;}

.divIndProdBtmDetails {width:580px; padding-top:20px; margin-bottom:20px; height:auto; min-height:240px; overflow:hidden;}
.divIndProdBtmDetail {height:auto; min-height:250px; overflow:hidden;}
.divProdRelProdOuter {height:auto; overflow:hidden; clear:both; width:695px;}
.divProdDesc {height:auto; overflow:hidden; width:auto; text-align:justify; padding-bottom:20px; margin-top:20px;}

.divNewRecommeded {height:auto; overflow:visible; clear:both; display:block; padding-top:10px; padding-bottom:20px;}
.btnNew {float:left; margin-left:5px;}
.btnThumb {float:left;}
.divFacebookLike2 {float:left; height:auto; overflow:visible; width:100px; margin-left:5px;}
.spanArticleSplitter {padding-left:5px; padding-right:5px;}

.divShareAsk {height:auto; overflow:hidden;}
.divShare {width:122px; float:left;}
.divAsk {width:122px; float:left; padding-left:5px;}
.hypShare {background:url(../img/usr/btn-share.gif) no-repeat; width:122px; height:27px; display:block;}
.hypShare:hover {background:url(../img/usr/btn-share.gif) no-repeat 0px -77px; width:122px; height:27px;}
.hypAsk {background:url(../img/usr/btn-ask.gif) no-repeat; width:122px; height:27px; display:block;}
.hypAsk:hover {background:url(../img/usr/btn-ask.gif) no-repeat 0px -77px; width:122px; height:27px;}

.divIndProdDesc {height:auto; overflow:hidden; padding-bottom:30px; text-align:justify;}
/* End of General */

/* Buttons */
.lnkbtnProdArticle {color:#fff600; font-size:11px;}
a.lnkbtnProdArticle:link {color:#fff600; text-decoration:none;}
a.lnkbtnProdArticle:visited {color:#fff600; text-decoration:none;}
a.lnkbtnProdArticle:hover {color:#ffffff; text-decoration:none;}
a.lnkbtnProdArticle:active {color:#ffffff; text-decoration:none;}

.imgbtnPrevious {background:url(../img/usr/btn-previous.gif) no-repeat 0px -77px;}
.imgbtnPrevious:hover {background:url(../img/usr/btn-previous.gif) no-repeat;}
.imgbtnPreviousDisabled {background:url(../img/usr/btn-previous.gif) no-repeat; cursor:default;}

.imgbtnNext {background:url(../img/usr/btn-next.gif) no-repeat 0px -77px;}
.imgbtnNext:hover {background:url(../img/usr/btn-next.gif) no-repeat;}
.imgbtnNextDisabled {background:url(../img/usr/btn-next.gif) no-repeat; cursor:default;}
/* End of Buttons */


/* Related Product */
.divRelProdHdr {font-size:14px; color:#fff600; width:710px; font-family:Arial; font-weight:bold; padding-bottom:20px; height:auto; overflow:hidden;}
.divRelProd {clear:both; height:auto; overflow:hidden; padding-left:35px; padding-right:35px;}
.divIndRelProd {margin-right:85px; margin-bottom:20px; text-align:center; width:150px; height:auto; overflow:hidden; float:left;}
.divIndRelProdLast {text-align:center; margin-bottom:20px; width:150px; height:auto; overflow:hidden; float:left;}
.divRelProdDetail {height:35px; overflow:hidden;}
.hypRelProdDName {color:#fff600;}
a.hypRelProdDName:link {color:#fff600; text-decoration:none;}
a.hypRelProdDName:visited {color:#fff600; text-decoration:none;}
a.hypRelProdDName:hover {color:#ffffff; text-decoration:none;}
a.hypRelProdDName:active {color:#ffffff; text-decoration:none;}

.divRelProdImg {width:148px; height:214px; overflow:hidden; background:#fff; border:1px solid #bbbbbb;}

.divRelProdImgInner {vertical-align:middle; margin:auto; overflow:hidden; text-align:center; width:148px; height:214px;}
.divRelProdDName {padding-top:10px; width:148px; text-align:center;}

/* End of Related Product */
.divIndProdMenu {height:auto; overflow:hidden; width:620px;}
.divIndProdMenuList {height:auto; overflow:hidden;}
.divIndProdMenuItem {float:left; height:auto; overflow:hidden; text-align:center;}
.divIndProdMenuItemAsk {float:left; height:auto; overflow:hidden; text-align:center; padding-left:40px;}
.divIndProdMenuItemSel {float:left; height:auto; overflow:hidden; text-align:center; background:url(../img/usr/icon-chat-hover.gif) no-repeat; padding-left:32px;}
.divIndProdMenuItemAskSel {float:left; height:auto; overflow:hidden; text-align:center; background:url(../img/usr/icon-chat-hover.gif) no-repeat; padding-left:32px; margin-left:40px;}
