﻿/* General */
.divLoading {color:#fff; width:100%; height:100%; overflow:hidden; background:#333; padding-top:50px; position:absolute; z-index:999; top:0; left:0; filter:alpha(opacity=35); -moz-opacity: 0.35; opacity:0.35; text-align:center;}
.divLoading img {padding-top:10px;}
/* End of General */