﻿.divMastHead {height:auto; overflow:hidden; margin:auto; position:relative; }

.divSlideShow {}
.divSSPaging {}
.divSSPagingInner {}
.divSSPaging img {background:url(../img/usr/pagenation.png) no-repeat; padding-right:5px;}
.divSSPaging img:hover, .divSSPaging .activeSlide img {background:url(../img/usr/pagenation.png) no-repeat 0px -65px; padding-right:5px;}
.divLittag1 {height:auto; overflow:hidden;}
.divtagline {height:auto; overflow:hidden; position:absolute; top:0px; right:0px; width:100%;}
.divMastheadimgtag {height:auto; overflow:hidden; position:relative;}