.nav {margin:0;padding:0;}
.nav li {list-style:none;margin:0;padding:0;position: relative;}
.nav li a {}

.nav.nav-one {display:flex;align-items: center;justify-content: space-between;}
.nav.nav-one > li.splitter {height: 35px;width: 1px;margin: 3px 5px 0px;background: white;display:none;}
.nav.nav-one > li > div > a,
.nav.nav-one > li > div > a:visited,
.nav.nav-one > li > div > a:link {color:#fff;font-weight:700;display:block; padding:0px 15px;}
.nav.nav-one > li > div > a:hover,
.nav.nav-one > li > div > a:active ,
.nav.nav-one > li > div > a.selected {color:#8c95ed;}

.nav.nav-two { position: absolute;  top: 30px;  transform: scale(1,0);transform-origin: top;transition:all .3s ease;}
.nav.nav-two > li.splitter {height: 1px;width: 170px;background: #fff;}
.nav.nav-two > li > a,
.nav.nav-two > li > a:visited,
.nav.nav-two > li > a:link {color:#fff;background-color:#2e39ad;font-size:14px; width:170px;min-height:40px;padding:10px 10px;line-height:16px; display: flex; align-items: center;text-align:left;transition:all .3s ease; }
.nav.nav-two > li > a:hover,
.nav.nav-two > li > a:active,
.nav.nav-two > li > a.selected {background-color:#fff;color:#2e39ad; }

.nav.nav-three { position:absolute;top:0;left :100%; transform: scale(0,1);transform-origin: left;transition:all .3s ease;}
.nav.nav-three > li > a,
.nav.nav-three > li > a:visited,
.nav.nav-three > li > a:link{color:#fff;background-color:#2e39ad;border-bottom:1px solid #fff;font-size:14px; width:170px;min-height:30px;padding:10px 10px;line-height:16px; display: flex; align-items: center;text-align:left;transition:all .3s ease;}
.nav.nav-three > li > a:hover,
.nav.nav-three > li > a:active {color:#f23456;background-color:#fff; }
.nav.nav-three > li > a:last-child {border-bottom:0px solid #fff;}

/* ======== Hover Section ===========*/
.nav.nav-one > li:hover .nav.nav-two {transform: scale(1,1);}
.nav.nav-two > li:hover .nav.nav-three {transform: scale(1,1);}
