.nav, nav ul {list-style:none; margin:0; padding:0;text-transform:capitalize;}
.nav {z-index:100;}
.nav li {margin:0 0 0 0px; padding:0;}
.nav li a, 
.nav li a:link, 
.nav li a:active, 
.nav li a:visited ,
.nav li a:hover {text-decoration:none;display:block;position:relative;}
.nav li i.bullet{  position: absolute;left: -5px;top: 12px;z-index: 1;display:block;width:9px;height:9px;background-repeat:no-repeat;  background-position: 0 0;background-color: #4F4F4F;border-radius: 50%;}

.nav ul{list-style:none;width:auto;min-width:200px;max-height:0px;overflow:hidden; }

#nav-one {width:100%;z-index:101;}
#nav-one li {margin:0px 0px 0 0px;width:100%;}
#nav-one li.splitter {}
#nav-one li:not(.splitter){}
#nav-two {}


#nav-three {}

#nav-one li:hover {}
#nav-one li:hover ul {}
#nav-one > li.selected ul#nav-two,
#nav-one > li:hover ul#nav-two {visibility:visible;max-height:1000px;opacity:1;visibility:visible;
                              -webkit-transition: all .5s ease-in-out;
                              -moz-transition: all .5s ease-in-out;
                              -ms-transition: all .5s ease-in-out;
                              -o-transition: all .5s ease-in-out;
                              transition: all .5s ease-in-out;} 
#nav-one > li:hover #nav-two > li.selected ul#nav-three,
#nav-one > li.selected #nav-two > li.selected ul#nav-three,
#nav-two > li:hover ul#nav-three { max-height:1000px;opacity:1;visibility:visible;
                                 -webkit-transition: all .5s ease-in-out;
                                  -moz-transition: all .5s ease-in-out;
                                  -ms-transition: all .5s ease-in-out;
                                  -o-transition: all .5s ease-in-out;
                                  transition: all .5s ease-in-out;}


/*#nav-two > li{margin-left:-200px;transition: all .5s ease-in-out;}
#nav-two > li:nth-child(1){transition-delay: .05s;}
#nav-two > li:nth-child(2){transition-delay: .10s;}
#nav-two > li:nth-child(3){transition-delay: .15s;}
#nav-two > li:nth-child(4){transition-delay: .20s;}
#nav-two > li:nth-child(5){transition-delay: .25s;}
#nav-two > li:nth-child(6){transition-delay: .30s;}
#nav-one > li:hover ul#nav-two > li{margin-left:0px;}

#nav-three > li{margin-left:-400px;transition: all .5s ease-in-out;}
#nav-three > li:nth-child(1){transition-delay: .05s;}
#nav-three > li:nth-child(2){transition-delay: .10s;}
#nav-three > li:nth-child(3){transition-delay: .15s;}
#nav-three > li:nth-child(4){transition-delay: .20s;}
#nav-three > li:nth-child(5){transition-delay: .25s;}
#nav-three > li:nth-child(6){transition-delay: .30s;}
#nav-two > li:hover ul#nav-three > li{margin-left:0px;}*/
