﻿/* Page Details */
.divCmnPageDetailsLoadingContainer {height:auto; overflow:hidden; position:relative;}

.tdLabelExLink {padding-top:4px; width:50px;}
.divShowInMenu {height:auto; overflow:hidden; padding-top:2px;}
/* End of Page Details */
