.divOrderProdImg{margin-top: 3px;margin-right: 3px;}
.divOrderProdImg{width:60px;height:60px;}
.dataTbl tfoot tr td{ box-shadow: inset 0 0 0 1000px #CCCCCC;}
.dataTbl th{ box-shadow: inset 0 0 0 1000px #434343;}
.divOrderProdDetail{width:62%;}

/*============ Start of Review Order ===================*/
.divPopUpBar {font-size:10px;}
.divPopUpBar .divPrint {display:none;}
.divPopUpFooter .divPrint {display:none;}

.divPopUpBar .divLogo{margin-right: 30px;}
.divPopUpBarInner{padding:10px 0px 10px 0px;}
.divPopUpContent{font-size:10px;}
.divPopUpContent .divDetailHdr {  margin-bottom: 10px;padding-bottom:5px;}
.divPopUpContent .divListingDetail {padding-top:5px;}
.divPopUpContent .divOrdListingSummary{padding-top:5px;}
.divPopUpContent .divSubListingDetail{  padding-bottom: 15px;}
.divPopUpContent .divListingHdr{padding-bottom:0px;}
.divPopUpContentInner {padding-top:8px;}
.divPopUpListing{}
.divPopUpFooter .divLeft {font-size: 75%;}

.tblReviewOrderItem > thead td,
.tblReviewOrderItem > thead td:first-child,
.tblReviewOrderItem > thead td:last-child{padding-top:8px;padding-bottom:8px;}
.tblReviewOrderItem .tblTotal{padding-top:10px;padding-bottom:5px;}

.tblReviewOrderItem .td_item .divCartDetail,
.tblReviewOrderItem .td_item .divReviewCartProdImg{  padding-top: 6px;padding-bottom: 6px;}
.tblReviewOrderItem .td_item .divCartProdImgInner > img {width:30px;height:30px;}

/*============ End of Review Order ===================*/