﻿*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body {
    font-family: Calibri, Arial, Verdana, Sans-Serif; 
    font-size: 16px; 
    color:#434343; 
    padding:0px; 
    margin:0px;
    background-color:#fff;
}
td {padding-bottom:5px; vertical-align:top;}
a:link ,a:visited {/*color:#5b95ff;*/ text-decoration:none;}
a:hover ,a:active {/*color:#5b95ff;*/ text-decoration:underline;}
input, textarea, select {font-family:Calibri, Arial, Verdana, Sans-Serif; background:#ffffff; outline:none; color:#4a4a4a; margin-top:3px; font-size:14px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border:1px solid;}
input {text-indent:5px;}
input[type="text"],
input[type="number"], 
input[type="password"], 
input[type="datetime-local"], 
input[type="datetime"], 
input[type="date"], 
input[type="time"], 
select {height:35px;border:1px solid #cccccc;  border-radius: 5px;margin:0}
textarea {padding:5px;border:1px solid #cccccc;  border-radius: 5px;}
input[type="text"]:focus,input[type="number"]:focus, input[type="password"]:focus, textarea:focus, select:focus {/*border:1px solid #434343;*/} /* -moz-box-shadow: 0 0 8px #999; -webkit-box-shadow: 0 0 8px #999; box-shadow:0px 0px 8px #999;*/
input[type="checkbox"]+label {padding-left:3px;}
input[type="file"] {border:0px; text-indent:0px;}
input.disabled {background-color:#EBEBE4 !important;cursor:not-allowed;}
input.compulsory:focus,
select.compulsory:focus,
input.compulsory.focus,
select.compulsory.focus {border:1px solid #D33836;}
input.uniq:focus,select.uniq:focus  {border:1px solid #A359B8;}
iframe {width:100%; height:auto; overflow:hidden;}
table {width:100%;}
th {text-align:left; padding:2px 2px 10px 2px; font-size:120%;}
td {}

h1{font-size:300%;font-weight:700;margin:0px 0px 20px 0px;}
h2{font-size:112.5%;font-weight:700;margin:0px;}
h3{}
/* google material icon*/
.material-icons{    vertical-align: middle; padding-right: 6px;font-size: 20px;}

/* useful class */
.left{float:left;}
.right{float:right;}
.clear{clear:both;}

.alignCenter{text-align:center !important;}
.alignLeft{text-align:left !important;}
.alignRight{text-align:right !important;}

.inline{display:inline-block;}

.borderBottom{border-bottom:1px solid #ececec;}
.borderTop{border-top:1px solid #ececec;}
.borderSplitter{border-top:1px solid #ececec;width:100%;}
.infoBox{padding: 20px;margin: 20px;border-style: solid;border-width: 1px; background-color: #dfeff5;border-color: #9ebcce;}
.chklist{  border: 1px solid #CCCCCC; width: 200px;}
.chklist > tbody > tr > td{padding: 3px 10px;}

.chklist.gst {  border-collapse: collapse;}
.chklist.gst tr:first-child{border-bottom: 1px solid #cccccc;}
.chklist.gst > tbody > tr > td{padding: 6px 10px;}
.formTbl .chklist,
.formTbl .chklist *{ box-sizing:border-box;}
.formTbl .chklist td {padding:5px 10px !important;}
.formTbl .chklist td:last-child{ width:auto !important;}
.formTbl .chklist.first{border-collapse: collapse;}
.formTbl .chklist.first tr:first-child td {border-bottom:1px solid #cccccc;}
.formTbl .chklist-header {}
.formTbl .tag {display: inline-block;font-weight: 400;background-color: #E8E8E8;padding: 5px 13px;margin: 0 5px;border-radius: 5px; font-size: 85%;}

.file-group-container .icon-edit.active{
    box-sizing: border-box;
    border: 2px solid #5b95ff;
    border-left: 0px;
    height: 38px;
    width: 38px;
    padding: 5px;
}
.file-group {background-color:#fff;color: #5b95ff;cursor:pointer;transition:all .2s ease-in-out;display: inline-block;}
.file-group:hover {background-color:#5b95ff;color: #fff;}
.file-group > input[type='file'] {display:none;}
.file-group > label {display: block; min-width: 150px;box-sizing: border-box;border: 2px solid #5b95ff;padding: 5px 8px;}

.hide{display:none;}

.clearable{
    position: relative;
    display: inline-block;
}
.clearable > .remove {
    font-weight: bold;
    font-size: 1.4em;
    padding: 0 0.2em;
    line-height: 1em;
    cursor: pointer;
    font-style: normal;
    position: absolute;
    right: 5px;
    top: 9px;
    display:none;
}
.clearable:hover > .remove {
    display:block;
}
/* side bar */


.divLogo {  text-align: center;}
.divLogo img{
    max-width: 100%;
    box-sizing: border-box;
}
.divLeftSideBarInner {  padding: 30px 16px 0 15px;height: 100%;  border-right: 1px solid #ececec;}
/* end of side bar */

/* Form */
.text {width:200px;}
.text_fullwidth{width:100%;}
.text_small {width:40px;}
.text_medium {width:100px;}
.text_medium_2 {width:100px; float:left;}
.text_item {width:130px;}
.text_small_item {width:55px;}
.text_medium_item {width:90px;}
.text_big_item {width:310px;}
.text_big {width:400px;}
.text_big_perc {width:95%;}
.text_big2 {width:600px;}
.text_big3 {width:372px;}
.text_bigdate {width:400px; vertical-align:top;}
.text_cp {width:200px;}
.file {width:200px;}
.file_big {width:400px;}
.chk {}
.ddl {width:200px;}
.ddl_fullwidth{width:100%;}
.ddl_big {width:400px;}
.ddl_big2 {width:600px;}
.ddl_medium {width:130px;}
.ddl_medium2 {width: 100px;} 
.ddl_small {width:40px;}
.ddl2 {width:200px; float:left; margin-right:5px;}
.ddl3 {width:253px;}
.ddl_page{width:49.6%;  height: 150px;}
.pdfText {font-size:xx-small;}
/* End of Form */

/* General */
.divMain {height:auto; overflow:hidden;}
.divTopOut {height:50px; overflow:hidden; background:#acd8ff; border-bottom:1px solid #62a8e3;}
.divTopTop {height:auto; overflow:hidden; margin-left:10px; margin-right:10px; padding-top:10px; padding-bottom:10px;}
.divTopBottom {height:auto; min-height:27px; border-top:1px solid #c5e4ff; background:url("../img/adm/bg_topmenu_rpt.gif") repeat-x top; clear:both;}
.divTopBottomInner {height:auto; margin-right:10px; margin-left:10px;}
.divAdmMenuContainer {height:auto;}
.divAdmUserViewContainer {height:auto; overflow:hidden; float:right;}
.divAdmUserViewManageContainer {height:auto; overflow:hidden; float:right; }


.divAdmInfoContainer {width:960px;margin:auto;}
.divMiddleInnerBottom {min-height:400px; height:auto !important; overflow:hidden;}

.divFloatLeft {float:left;}
.divFloatRight {float:right;}
.divAgnTop {vertical-align:top;}
.divAgnMiddle {vertical-align:middle;}
.divLinkBtn {float:right;}
.divPnlItems {height:auto; overflow:hidden; padding-top:10px; padding-bottom:20px;}
.divItemListScroll {height:auto; max-height:300px; overflow:auto; padding-bottom:50px;margin-bottom:50px;border-bottom:1px solid #ececec;}

.divPageHeader {color:#1c7fd7; font-weight:bold; border-bottom:1px solid #ccc;}

/* Sub Page */
.divTopTopLeft {height:auto; overflow:hidden; float:left;}
.divTopTopRight {height:auto; overflow:hidden; float:right; padding-top:15px;}
/* End of Sub Page */

/* Listing Page */
.divListing {padding:5px 40px 20px 40px;height:auto; overflow:hidden;border-top:1px solid #ececec;position:relative;}
.divListing2 {padding-top:100px; height:auto; overflow:hidden;}
.divListing3 {padding:20px 40px 20px 40px; height:auto; overflow:hidden;}
.divListingHdr {height:auto; overflow:hidden;border-bottom:5px solid #cccccc;  padding-bottom: 10px;margin-bottom: 10px;}
.divListingHdrPadding {height:auto; overflow:hidden; padding-top:25px;}
.divListingHdrLeft {height:auto; overflow:hidden; float:left;  margin-top: 15px;}
.divListingAction {height:100%; overflow:hidden;}

.divListingLeft {height:auto; overflow:hidden; width:50%; float:left;}
.divListingRight {height:auto; overflow:hidden; width:50%; float:left;}

.divListingData {height:auto; overflow:hidden; overflow-x:auto; padding-top:5px;}
/* End of Listing Page */

/* Details Page */
.divForm {height:auto; overflow:hidden; padding:0px 0px 0px 0px;}
.divFormWithLeftMenu {}
/* End of Details Page */

.divStatusLabel {padding-left:25px; padding-right:25px; padding-top:2px; padding-bottom:2px; cursor:default;}
.divSectHdrRight {float:right; padding-bottom:5px;}

.divSectHdr {padding-bottom:20px;}
.SectHdr {font-size:120%; font-weight:bold;}

.divLeft {float:left;}
.divStatusActRight {float:left; padding-left:10px;}
.divOrdStatusItalic {font-style:italic;}

.divListingBilling {width:50%; float:left;}
.divListingDelivery {width:50%; float:left;}

.divGrouping {height:auto; overflow:hidden;padding:20px 40px;}
.divGroupingInner {float:right;}

.btnUpdate {font-weight:bold;}
.btnUpdate2 {font-weight:bold; background:grey;}

.tdShipNeed {font-weight:bold; font-size:120%; font-style:italic;}

.lblSize {float:left;}
.lblSize2 {float:left; padding-top:12px; padding-left:5px;}

.divTrainingOther {float:left;}

.divCurrListing {margin-top:15px;}
.divAckBtn {padding-top:10px;} /*@lex to keep the space before buttons. */
.divListingSplitter {float:left;height:100%;border-left:1px dotted #7e9aa5;}
.divListingSplitterRight {float:right;height:100%;border-left:1px dotted #7e9aa5;}
.divListingDetailSplitter {margin: 0 40px;border-top: 1px solid #aaa;}
/* End of General */

/* Message */
.errmsg {color:red;}
.attention_compulsory {color:#ff0101;}
.attention_unique {color:#ce0bd0;}
.noticemsg {color:rgb(70, 130, 4);}
.noticemsg3 {text-align:center; font-size:125%;}
.boldmsg {font-weight:bold; font-size:110%;}
.keyword {font-size:110%; font-weight:bold;}
.italicmsg {font-style:italic; text-align:justify;}
.spanItalic {font-style:italic;}
.spanFieldDesc {padding-left:5px;}
.spanSectTitle {text-decoration:underline;}
.fieldDesc {color:#4a88bf;}
.nowrap{white-space: nowrap;}

ul{padding:0px; margin:0px;}
.ulOrdSpec li{margin-bottom:2px; margin-left:16px;}

.spanLink {padding-left:10px;}
.spanStrike {text-decoration:line-through;}

.divPageHdr {    left: 0;padding: 0 0 0 220px;height:60px;box-sizing: border-box; clear:both; border-bottom:1px solid #ececec;  z-index: 999;width: 100%; text-transform:capitalize; min-width: 1000px;background-color: #ecfdff;position:fixed;}
.divPageHdr > .title {font-size:225%; font-weight:bold;padding:10px 40px;box-sizing: border-box;}
.divPageHdr > .title,
.divPageHdr > .pageAction,
.divPageHdr > .action {float:left;height: 100%;}
.divPageHdr > .filter {float:right;height: 100%;}
.divPageHdrLeft {float:left; height:auto; overflow:hidden;}
.divPageHdrRight {float:right; height:auto; overflow:hidden;}
.divSectionTitle {font-size:112.5%;font-weight:700;margin:0px;padding-bottom:5px;}
.divSectionTitlePadding {color:#1c7fd7; font-weight:bold; height:auto; overflow:hidden; clear:both; border-bottom:1px solid #ccc; padding-bottom:5px; padding-top:20px;}
.divSectionTitleLeft {color:#1c7fd7; height:auto; overflow:hidden; padding-bottom:5px; float:left;}
.divSearchHeaderAction {height:auto; overflow:hidden; padding-bottom:5px; float:right;}
.divSectionTitleHighlight {background:#ccc; font-weight:bold; height:auto; overflow:hidden; clear:both; padding:5px 0px 5px 10px;}

.spanSectTitleUnd {color:#4a4a4a; font-weight:bold; text-decoration:underline;}

.tdProdDescListHdr {font-weight:bold;}
/* End of Message */

.divLinkSplit {float:left; width:1px; margin-left:10px; margin-right:10px;}
.divBtnCenter {text-align:center;}
.divBtnCenterPadding {text-align:center; padding-top:30px; height:auto; overflow:hidden; padding-bottom:10px;}

.pgHidden {display:none;}
.hiddenCol {display:none;}
.showCol {display:block;}

.SectKeyword {font-weight:bold;}

/* Table */
tr.trHeader td {padding-bottom:10px;}  /*@lex to add space for those table-row with header, to create a gap between header and form*/
tr.trBtn td {padding-top:10px;} /*@lex to add space for those table-row with button, to create a gap between button and form*/
td.tdHeader {font-size:120%; font-weight:bold;}

td.tdSectionHdr {font-size:112.5%; font-weight:700; }
td.tdSectionHdrLeft {color:#1c7fd7; font-weight:bold; border-bottom:1px solid #ccc;}
td.tdSectionHdrRight {border-bottom:1px solid #ccc; text-align:right;}
td.tdSectionHdr .tag {display: inline-block;font-weight: 400;background-color: #E8E8E8;padding: 5px 13px;margin: 0 5px;border-radius: 5px; font-size: 85%;}
td.tdSpacer {height:5px; font-size:5px; padding:0px;}
td.tdBtn {padding-top:20px;}

table.formTbl {width:100%;}
table.formTbl td {text-align:left; padding:2px; padding-right:20px;}
table.formTbl td:first-child {}
table.formTbl td td:first-child {}
table.formTbl td:last-child {width:100%;}
table.formTbl td.tdLabel {padding-right:10px; padding-top:14px;}
table.formTbl td.tdLiteral {padding-top:14px;}
table.formTbl td.tdWithCheckbox {padding-top:15px;}
table.formTbl td.tdWithFileUpload {padding-top:5px;}
table.formTbl td.withNestedTable {padding-top:0px;}
table.formTbl.borderTop{border-top:1px solid #ececec;}
table.formTbl:last-child,
table.formTbl.noBorderBtm {border-bottom:0px solid #ececec;} 
table.formTbl.borderBtm {border-bottom:1px solid #ececec;} 

table.formTblNested td {text-align:left; padding:2px; padding-right:20px;}
table.formTblNested td:first-child {}
table.formTblNested td:last-child {width:100%;}
table.formTblNested td.tdLabel {padding-right:10px; padding-top:14px;}
table.formTblNested td.tdWithCheckbox {padding-top:15px;}
table.formTblNested td.tdWidth {width:14%;}
table.formTblNested td.tdAction {font-weight:normal; font-size:initial; vertical-align:middle;}

table.formTbl2 {width:100%;}
table.formTbl2 td {text-align:left; padding:2px; padding-right:20px;}
table.formTbl2 td:first-child {float:left;}
table.formTbl2 td td:first-child {}
table.formTbl2 td:last-child {width:100%;}
table.formTbl2 td.tdLabel {padding-right:10px; padding-top:14px;}
table.formTbl2 td.tdLiteral {padding-top:14px;}
table.formTbl2 td.tdWithCheckbox {padding-top:15px;}
table.formTbl2 td.tdWithFileUpload {padding-top:5px;}
table.formTbl2 td.withNestedTable {padding-top:0px;}

table.innerTbl {margin-top:10px;}
table.tblNoPadding td {}

table.projfeature{table-layout:fixed;padding: 10px;border: 1px solid #cccccc;}
table.projfeature td.vcenter {vertical-align:middle;}
.tdDelete {float:right; padding-top:5px; padding-bottom:50px;}
td.tdLabelSmall {width:70px; padding-top:4px;}
td.tdLast {width:100%;}

.tdSpacerBorderBottomSolid {height:20px; border-bottom:1px solid #ccc;}
.tdSpacerBorderTop {height:20px; border-top:1px dotted #ccc;}
.tdSpacer10 {height:10px; border-bottom:1px dotted #ccc;}
.tdSpacer10_2 {height:10px;}
.tdSpacer2 {height:20px;}

.dataTbl {width:100%; border:1px solid #cccccc; empty-cells: show; max-width: 100%; table-layout: fixed; }
.dataTbl > tbody > tr:hover:not(.pg){background-color:#ECECEC;}
/*.dataTbl > tbody > tr:hover:not(.pg) .tdAct .lnkbtn{background-position: 0px -66px;}*/
.dataTbl > tbody > tr > td {padding:10px 10px 10px 10px;border:0;border-bottom:1px dashed #cccccc;border-right:1px solid #cccccc; }
.dataTbl > tbody > tr:last-child > td{border-bottom:1px solid #cccccc;}
.dataTbl tfoot tr td{}

.dataTbl th {padding:15px 15px 15px 15px;color:#fff; background-color:#434343;border: 0;  text-transform: capitalize;}
.dataTbl th a:link,
.dataTbl th a:visited {color:#fff;}
.dataTbl th a:active,
.dataTbl th a:hover{color:#5b95ff}
.dataTbl th.asc > a,
.dataTbl th.desc > a{color:#5b95ff;}
.dataTbl th.asc > a:after,
.dataTbl th.desc > a:after{transition:0.5s all;display:inline-block;padding-left: 10px;padding-right: 5px;color:#5b95ff; content:"◤";}
.dataTbl th.asc > a:after{transform: rotate(45deg);} /* background:url('../img/adm/icon-sort.gif') no-repeat right center;  */
.dataTbl th.desc > a:after{transform: rotate(225deg);}
.dataTbl th.asc:hover > a:after {transform: rotate(225deg);}
.dataTbl th.desc:hover > a:after {transform: rotate(45deg);}

.dataTbl .td_alt {padding:10px 15px 10px 15px; border:none;}
.dataTbl .tdNo {width:4%; text-align:center;}
.dataTbl .tdAct {/*width:150px;*/ text-align:center; vertical-align: middle;}
.dataTbl .tdAct2 {width:370px; text-align:center;}
.dataTbl .tdAct3 {width:150px; text-align:left;}
.dataTbl .tdAct a[disabled=disabled]{color:#a4a4a4;}
.dataTbl .tdAct .spanSplitter, .dataTbl .tdAct2 .spanSplitter{color:#5b95ff;padding:0px 10px;}

.dataTbl .td_right {text-align:right;}
.dataTbl .td_left{text-align:left;}
.dataTbl .tdCurrency {width:100px; text-align:right;}
.dataTbl .td_small {width:60px; text-align:center;}
.dataTbl .td_medium {width:80px; text-align:center;}
.dataTbl .td_medium2 {text-align:left; padding-left:55px;}
.dataTbl .td {width:100px;}


.dataPgTbl {width:100%; border:0;  table-layout: fixed;}
.dataPgTbl .pg {position: absolute; top: 15px;}
.dataPgTbl .pg table {width:auto;}
.dataPgTbl .pg td{ border:0;padding:0 10px;}
.dataPgTbl .pg > td { height:20px; padding:2px 5px 2px 5px;}
.dataPgTbl .pg a:link,.dataTbl .pg a:visited {color:#434343;}
.dataPgTbl .pg a:hover,.dataTbl .pg a:active,
.dataPgTbl .pg span {color:#5b95ff; }

.dataTbl .pg { }
.dataTbl .pg table {width:auto;}
.dataTbl .pg td{ border:0;padding:0 10px;}
.dataTbl .pg > td { height:20px; padding:2px 5px 2px 5px;}
.dataTbl .pg a:link,.dataTbl .pg a:visited {color:#434343;}
.dataTbl .pg a:hover,.dataTbl .pg a:active,
.dataTbl .pg span {color:#5b95ff; }

.dataTr td {padding-bottom:20px;}
.dataTbl .trUnread {font-weight:bold; font-size:120%; line-height:14px;}
.dataTbl tr, .dataTbl td, .dataTbl th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.dataTbl > thead > tr > th:first-child, .dataTbl > tbody > tr > th:first-child{ width:4%; }
.dataTbl > tbody > tr > th.thOrdDate {width:13%; text-align:left;}
.dataTbl > tbody > tr > th.thOrdNo {width:17%; text-align:left;}
.dataTbl > tbody > tr > th.thOrdEmail{width:20%; text-align:left;}
.dataTbl > tbody > tr > th.thOrdAmount {width:15%; text-align:left;}
.dataTbl > tbody > tr > th.thOrdType {width:8%; text-align:left;}
.dataTbl > tbody > tr > th.thOrdStatus {width:10%; text-align:left;}
.dataTbl > tbody > tr > th.thOrdAction {width:17%; text-align:left;}

.dataTbl2 {width:100%; border:0; border:1px solid #cccccc;}

/* for Page manager datatble */
.divPageManagerGridContainer .tdNo{width:3%;}
.divPageManagerGridContainer .td_small{width:5%;}
.divPageManagerGridContainer .tdPageName{width:15%;}
.divPageManagerGridContainer .tdPageDisplayName{width:15%;}
.divPageManagerGridContainer .tdParent{width:9%;}
.divPageManagerGridContainer .tdCreation{width:12%;}
.divPageManagerGridContainer .tdLastUpdate{width:12%;}
.divPageManagerGridContainer .tdAct{width:11%;}

.shipCountry {text-transform:lowercase;}
.shipCountry:first-letter {text-transform:uppercase;}

.tdCenter {text-align:center;}
.tdActBig {width:150px; text-align:center;}

.tdLabelNor {padding:5px 10px 5px 0px;}
.tdItem {padding:5px 10px 5px 10px;}
.tdLabelBig {padding-top: 4px; padding-right: 10px; width: 180px;}
.tdConfirmDate {padding-top: 4px; padding-right: 10px; width: 180px; padding-bottom:20px !important;}
.tdLabelBigGrey {padding-right:10px; padding-top:4px; color:#a4a4a4;}
.tdMax {width:100%;}
.tdMax2 {width:75%;}
.tdCheckbox{padding-top:14px !important;}
.tdlistbox {width:100px;}
.tdLabel {}
.tdLabelRemarks {padding-top:4px; padding-right:135px;}
.tdLabel2 {padding-top:4px; padding-right:10px;}
.tdLabel3 {padding-right:5px !important;}
.tdLabelNor2 {padding-right:30px; width:20%;}
.tdLabelNor3 {padding-right:30px; font-weight:bold; width:55%;}
.tdLabelNor4 {width:20%;}
.tdLabelSpec {padding-top:4px; padding-right:40px; width:114px;}
.nobr {white-space:nowrap;}
.tdLabelGrey {padding:10px; width:100px; background:#f3f3f3;}
.tdLabelItalic {padding-top:4px; padding-right:10px; width:100px; font-style:italic;}
.tdLabelRightItalic {padding-top:4px; padding-right:10px; width:100px; text-align:right; font-style:italic;}
.tdbtnNextPrev {vertical-align:middle;}
.tdLabelProg {width:128px; padding-right:20px;}
.tdLabelProdDesc {width:19%;}
.tdLabelProdAct {width:6% !important; padding-right:0px !important;}

.tdLabelNor5 {padding-right:30px; width:150px; padding-left:25px; padding-top:4px;}
.tdLabelNorCur {padding-right:30px; width:130px; text-align:center; padding-left:25px; padding-top:4px;}
.tdLabelActive {padding-top:4px; padding-right:20px; width:60px; text-align:center !important;}
.tdLabelMedium {padding-right:30px; width:80px; text-align:center; padding-left:25px; padding-top:4px;}
.tdLabelAction {width:120px; text-align:center !important; padding-top:4px; padding-right:20px;}
.tdLabelCurFlag {width:150px; text-align:center; padding-top:4px; padding-right:30px;}

.tdRdoOrd {width:90px; display:block; float:left;}
.tdInvoiceTotal {float:right;}

.tdLabelSales {padding-top:4px;}
.tdMaxSales {max-width:100%;}

.dataTbl .tdAction {height:auto; overflow:hidden; border-top:1px solid #ccc; padding-top:5px;}

.listTbl {width:100%;}
.listTbl th {padding:15px 25px 15px 25px; background:#ffecb1; border-bottom:1px solid #ccc; text-align:left;}
.listTbl .trFooter {padding:15px 25px 15px 25px; background:#ffecb1;}
.listTbl .trItem {}
.listTbl .trItem:hover {color:#ff6c00;}
.listTbl td {padding:5px 25px 5px 25px; text-align:center; vertical-align:middle; line-height:16px;}

.listTbl .tdNo {width:50px; text-align:center;}
.listTbl .td_small {width:60px; text-align:center;}
.listTbl .td_norLeft {text-align:left; vertical-align:top;}
.listTbl .td_Left {text-align:left;}
.listTbl .td_right {text-align:right;}
.listTbl .tdDetails {text-align:left; vertical-align:top; padding-top:20px; padding-bottom:20px;}
.listTbl .tdImg {text-align:left; vertical-align:top; padding-top:20px; padding-bottom:20px;}

.listTblInvoice {width:100%;}
.listTblInvoice th {padding:15px 25px 15px 25px; background:#cccccc; border-bottom:1px solid #ccc; text-align:left;}
.listTblInvoice .trFooter {padding:15px 25px 15px 25px; background:#cccccc;}
.listTblInvoice .trItem {}
.listTblInvoice .trItem:hover {color:#ff6c00;}
.listTblInvoice td {padding:5px 25px 5px 25px; text-align:center; vertical-align:middle; line-height:16px;}
.listTblInvoice .thItem {width:10%; text-align:center;}
.listTblInvoice .thDesc {width:50%; text-align:left;}
.listTblInvoice .thQty {width:10%; text-align:center;}
.listTblInvoice .thUnitPrice {width:15%; text-align:center;}
.listTblInvoice .thAmount {width:15%; text-align:center;}

.listTblInvoice .tdNo {width:10%; text-align:center;}
.listTblInvoice .tdItem {width:50%; text-align:left; vertical-align:top;}
.listTblInvoice .tdQty {width:10%; text-align:center;}
.listTblInvoice .tdUnitPrice {width:15%; text-align:center;}
.listTblInvoice .tdTotal {width:15%; text-align:center;}

.listTblInvoice .tdNo_alt {width:10%; text-align:center; background:#f3f3f3;}
.listTblInvoice .tdItem_alt {width:50%; text-align:left; vertical-align:top; background:#f3f3f3;}
.listTblInvoice .tdQty_alt {width:10%; text-align:center; background:#f3f3f3;}
.listTblInvoice .tdUnitPrice_alt {width:15%; text-align:center; background:#f3f3f3;}
.listTblInvoice .tdTotal_alt {width:15%; text-align:center; background:#f3f3f3;}

.listTblInvoice .td_small {width:60px; text-align:center;}
.listTblInvoice .td_norLeft {text-align:left; vertical-align:top;}
.listTblInvoice .td_Left {text-align:left;}
.listTblInvoice .td_right {text-align:right;}
.listTblInvoice .tdDetails {text-align:left; vertical-align:top; padding-top:20px; padding-bottom:20px;}
.listTblInvoice .tdImg {text-align:left; vertical-align:top; padding-top:20px; padding-bottom:20px;}

.tdRemarkItemNo {padding-right:5px;}
.tdOrdRemarkItem {padding-right:40px;}

.tdAddItemDName {padding-left:70px; width:60px;}
.tdAddItemDesc {padding-left:10px; width:300px;}
.tdAddItem {padding-left:10px; width:80px;}

.td_headerItemCart {padding:15px 15px 15px 15px; background:#ffecb1; border:none; border-bottom:1px solid #ccc; font-weight:bold;}
.td_headerPriceCart {padding:15px 15px 15px 15px; background:#ffecb1; border:none; border-bottom:1px solid #ccc; font-weight:bold;}
.td_headerQtyCart {padding:15px 15px 15px 15px; background:#ffecb1; border:none; border-bottom:1px solid #ccc; font-weight:bold;}
.td_headerTotalCart {padding:15px 15px 15px 15px; background:#ffecb1; border:none; border-bottom:1px solid #ccc; font-weight:bold;}
.td_headerLastCart {padding:15px 15px 15px 15px; background:#ffecb1; border:none; border-bottom:1px solid #ccc; font-weight:bold;}
 
 table.tblInnerTable {}
 table.tblInnerTable td {padding-left:5px; vertical-align:middle;}
 table.tblInnerTable td.tdInnerTableLast {width:100%;}
 
 .tblData {border-bottom:1px solid #ececec;padding:20px 40px;}
 .tblData > thead > tr > td:first-child,
 .tblData > tbody > tr > td:first-child{width:20%;  min-width: 150px;}
 .tblData > thead > tr > td:last-child,
 .tblData > tbody > tr > td:last-child{width:80%;}
 .tblData > thead > tr > th:first-child:not(.tdSectionHdr),
 .tblData > thead > tr > td:first-child:not(.tdSectionHdr),
 .tblData > tbody > tr > td:first-child:not(.tdSectionHdr),
 .tblData > tbody > tr > td:first-child:not(.tdSectionHdr) {padding-left:20px;}
 
 .tblData2 {border-bottom:1px solid #ececec; padding:20px 10px;}
 .tblData2 > thead > tr > td:first-child,
 .tblData2 > tbody > tr > td:first-child{width:20%;  min-width: 150px;}
 .tblData2 > thead > tr > td:last-child,
 .tblData2 > tbody > tr > td:last-child{width:80%;}
 .tblData2 > thead > tr > th:first-child:not(.tdSectionHdr),
 .tblData2 > thead > tr > td:first-child:not(.tdSectionHdr),
 .tblData2 > tbody > tr > td:first-child:not(.tdSectionHdr),
 .tblData2 > tbody > tr > td:first-child:not(.tdSectionHdr) {padding-left:20px;}
 
 .tblEmailSyntax {border-collapse: separate;width:95%;}
 .tblEmailSyntax tr, .tblEmailSyntax td {border:1px solid #434343;  padding: 10px;}
 .tblEmailSyntax .th{color:#ffffff;background-color:#5b95ff;}
 /* Prod Group */
.tdCatHeader {font-weight:bold; width:100px; border-bottom:1px solid #ccc; padding-left:5px; padding-right:5px;}
.tdCatItem {padding-top:2px; padding-bottom:2px; width:100px; padding-left:5px; padding-right:5px;}
/* End of Prod Group */
 
 /* Product Listing */
.gvProduct {width:100%; border:none;}
.gvProduct .pg .item4, .pg .item8, .pg .item12, .pg .item15 {padding:2px; height:20px; background:#ffe694;}
.gvProduct .gv_alt {padding:5px 15px 5px 15px; background:#f3f3f3;}
.gvProduct .item4 {width:4%;}
.gvProduct .item8 {width:8%;}
.gvProduct .item12 {width:12%;}
.gvProduct .item15 {width:15%;}
.gvProduct th {padding:15px 0px 15px 0px; background:#ffecb1; border:none; border-bottom:1px solid #ccc;}
.gvProduct th a:link {color: #1c7fd7;}
.gvProduct th a:visited {color: #1c7fd7;}
.gvProduct th a:active {color: #1c7fd7; text-decoration:underline;}
.gvProduct th a:hover {color: #1c7fd7; text-decoration:underline;}
.gvProduct tr {}
.gvProduct tr:hover {color:#ff6c00;}
.gvProduct td {padding:5px 10px 5px 10px; border:none;}
 /* End of Product Listing*/
 
/* Alternate */
.listTbl .td_alt {padding:5px 25px 5px 25px; background:#f3f3f3;}
.listTbl .td_norLeft_alt {text-align:left; vertical-align:top; background:#f3f3f3;}
.listTbl .td_Left_alt {text-align:left; background:#f3f3f3;}
.listTbl .td_right_alt {text-align:right; background:#f3f3f3;}

.listTblInvoice .td_alt {padding:5px 25px 5px 25px; background:#f3f3f3;}
.listTblInvoice .td_norLeft_alt {text-align:left; vertical-align:top; background:#f3f3f3;}
.listTblInvoice .td_Left_alt {text-align:left; background:#f3f3f3;}
.listTblInvoice .td_right_alt {text-align:right; background:#f3f3f3;}
/* End of Alternate */


/* End of Table */

/* Loading ---------- */
.tdLoading {position:relative; height:auto; overflow:hidden; width:100%;}
.divLoadingContainer {position:relative; height:auto; overflow:hidden;}
.divFormLoading {position:relative; height:auto; overflow:hidden;}
.divLoading {color:#fff; width:100%; height:100%; overflow:hidden; background:#4a88bf; position:absolute; top:0; left:0; filter:alpha(opacity=35); -moz-opacity: 0.35; opacity:0.35; text-align:center;}
.divLoading img {padding-top:10px;}
/* End Of Loading ---------- */


/* Tooltip */
.spanTooltip {display:inline-block;position:relative;width:20px;height:20px;  vertical-align: middle;}
.spanTooltip .icon { background: url("../img/adm/icon-notice.gif") no-repeat left;width:100%;height:100%;display: block;cursor:pointer;}
.spanTooltip .icon:hover + .msg,.spanTooltip:hover .msg{opacity:1; visibility:visible;}
.spanTooltip .msg {  transition: opacity .3s ease-in-out;padding:10px;opacity:0;visibility:hidden;white-space: nowrap;position:absolute;  right: -55px;top: -60px;background-color:#434343;color:#fff; min-width:80px;}
.spanTooltip .msg:after {  content: "\A";border-style: solid;border-width: 15px 10px 0px 10px;border-color: #434343 transparent transparent transparent;position: absolute;  right: 55px; bottom: -30px;padding-bottom: 15px;}
.spanTooltip a:visited,.spanTooltip a:link {color:#5b95ff;}
.spanTooltip a:hover{text-decoration:underline;}

.spanTooltip .msg.right { left: 45px;top: -15px;right: auto;bottom: auto;}
.spanTooltip .msg.right:after {left: -15px; top: 25%;right: auto;bottom: auto;border-width: 12px 15px 12px 0px;border-color: transparent #434343 transparent transparent;  padding-bottom: 0;}
/* end of Tooltip */

/* #region Button */
.divAckGrey {padding:10px;padding-left: 40px; height:auto; overflow:hidden; background:#f3f3f3; border-top:1px solid #fff;}
.divAck {height:auto; overflow:hidden; padding-bottom:10px;}
.divListing .divAck {
    padding: 10px 0px;
    border-bottom: 3px solid #434343;
    margin-bottom: 10px;
}
.imgLink {border:0px;}

.btnSave,
.tdLoginBtn .btn,
.btnSave,
.btnBack,
.btnPrint,
.btnRevert,
.btnSearch,
.btnAdd,
.btnExportExcel,
.btnExport,
.btnDelete,
.btnConfirm,
.btnCancel, 
.btnDisabled {
    display: inline-block;
    padding: 0px 55px 0px 30px;
    height: 60px;
    width: auto;
    color: #fff;
    font-size: 170%;
    line-height: 55px;
    background-image: url(../img/adm/btn-login.gif);
    background-color: #5b95ff;
    background-repeat: no-repeat;
    background-position: right 20px top 20px;
}
.btnSave:hover,
.tdLoginBtn .btn:hover,
.btnSave:hover,
.btnBack:hover,
.btnPrint:hover,
.btnRevert:hover,
.btnSearch:hover,
.btnAdd:hover,
.btnExportExcel:hover,
.btnExport:hover,
.btnDelete:hover,
.btnConfirm:hover,
.btnCancel:hover,
.btnDisabled:hover {
    color: #fff !important;
    background-color: #72a4ff;
    background-position: right 20px top -50px;
    text-decoration: none;
}


.btn2 ,
a.btn2:link ,
a.btn2:visited {display: inline-block;padding:0px 30px 0px 55px;height:48px;width:auto;color:#5b95ff;font-size:100%;  line-height: 48px; background-repeat: no-repeat;background-position: left 20px top 18px;border:1px solid #5b95ff;border-radius:5px;}
a.btn2:active ,
a.btn2:hover { background-position: left 20px top -47px;background-color:#F8F8F8;text-decoration:none; }

.btn3,
.btn3:link,.btn3:visited{  background-position: right 20px top 10px;background-color:#2b539b;background-repeat:no-repeat;color:#fff;height:40px;line-height:40px;font-size:87.5%;padding:0px 30px 0px 15px;display:inline-block;cursor:pointer;}
.btn3:active,.btn3:hover{  background-position: right 20px top -60px;background-color:#4077db;color:#fff;text-decoration:none;}
.btn3.disabled{background-color:#CACACA;cursor: not-allowed;}

.btnDarkBlue,
.btnDarkBlue:link,.btnDarkBlue:visited{ background-color:#2b539b;border: 0;color:#fff;height:35px;line-height:35px;font-size:87.5%;padding: 0px 30px 0px 30px;cursor:pointer;display:inline-block;}
.btnDarkBlue:active,.btnDarkBlue:hover{ background-color:#4077db;text-decoration:none;}

.btnRedPaddingRight {float:left; padding-left:25px; padding-right:25px; padding-top:2px; padding-bottom:2px; border:1px solid #272727; color:#fff; background:url("../img/adm/bg_button_red.gif") repeat-x top #b90000; margin-right:5px;}
a.btnRedPaddingRight:link {color:#fff; }
a.btnRedPaddingRight:visited {color:#fff; }
a.btnRedPaddingRight:active {color:#272727; }
a.btnRedPaddingRight:hover {color:#272727; }

.btnRed {float:left; padding-left:25px; padding-right:25px; padding-top:2px; padding-bottom:2px; border:1px solid #272727; color:#fff; background:url("../img/adm/bg_button_red.gif") repeat-x top;}
a.btnRed:link {color:#fff; }
a.btnRed:visited {color:#fff; }
a.btnRed:active {color:#272727; }
a.btnRed:hover {color:#272727; }

.btnSectMenu {float:left; padding-left:10px; padding-right:10px; padding-top:2px; padding-bottom:2px; border:1px solid #ccc; color:#4a4a4a; background:#e7e7e7; margin-right:5px;}
a.btnSectMenu:link {color:#4a4a4a; }
a.btnSectMenu:visited {color:#4a4a4a; }
a.btnSectMenu:active {color:#1c7fd7; }
a.btnSectMenu:hover {color:#1c7fd7; }

.btnSectMenuSel {float:left; padding-left:10px; padding-right:10px; padding-top:2px; padding-bottom:2px; border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #fff; color:#1c7fd7; background:#fff; margin-right:5px;}
a.btnSectMenuSel:link {color:#1c7fd7; }
a.btnSectMenuSel:visited {color:#1c7fd7; }
a.btnSectMenuSel:active {color:#1c7fd7; }
a.btnSectMenuSel:hover {color:#1c7fd7; }

.btnGreyShadwow {padding-left:25px; padding-right:25px; padding-top:5px; padding-bottom:5px; border:1px solid #ccc; border-radius:4px; -moz-border-radius:4px;  color:#4a4a4a; background:url("../img/adm/") repeat-x top; box-shadow: 0px 2px 7px #ccc;}
a.btnGreyShadwow:link {color:#4a4a4a; }
a.btnGreyShadwow:visited {color:#4a4a4a; }
a.btnGreyShadwow:active {color:#272727;  box-shadow: 0px 2px 7px #999;}
a.btnGreyShadwow:hover {color:#272727;  box-shadow: 0px 2px 7px #999;}


.btnNext {float:left; padding-left:20px; padding-right:20px; padding-top:5px; padding-bottom:5px; border:1px solid #ccc; color:#4a4a4a; background:#e7e7e7; margin-bottom:10px;}			
a.btnNext:link {color:#4a4a4a; text-decoration:none;}			
a.btnNext:visited {color:#4a4a4a; text-decoration:none;}			
a.btnNext:active {color:#1c7fd7; text-decoration:none;}			
a.btnNext:hover {color:#1c7fd7; text-decoration:none;}

.actLink ,
a.actLink:link ,
a.actLink:visited ,
a.actLink:hover ,
a.actLink:active {float:left;}

.linkShow ,
a.linkShow:link ,
a.linkShow:visited{color:#434343;transition:0.5s all;font-size:112.5%;text-transform:capitalize;background:url("../img/adm/icon-advanced.gif") no-repeat right 8px;padding-right:20px;}
a.linkShow:hover,
a.linkShow:active {text-decoration:none;}

.linkHide ,
a.linkHide:link ,
a.linkHide:visited{color:#434343;transition:0.5s all;font-size:112.5%;text-transform:capitalize;background:url("../img/adm/icon-advanced.gif") no-repeat right -55px;padding-right:20px;}
a.linkHide:hover ,
a.linkHide:active {text-decoration:none;}

.btnStatus {padding-bottom:2px; cursor:default; font-weight:bold; text-transform:uppercase;}
a.btnStatus:link {color:#4a4a4a; }
a.btnStatus:visited {color:#4a4a4a; }
a.btnStatus:hover {color:#4a4a4a; }
a.btnStatus:active {color:#4a4a4a; }

.btnStatusDisabled {padding-left:25px; padding-right:25px; padding-top:2px; padding-bottom:2px; cursor:default; background:#fff; color:#4a4a4a; font-weight:bold; text-transform:uppercase;}
a.btnStatusDisabled:link {color:#4a4a4a;  cursor:default;}
a.btnStatusDisabled:visited {color:#4a4a4a;  cursor:default;}
a.btnStatusDisabled:hover {color:#4a4a4a;  cursor:default;}
a.btnStatusDisabled:active {color:#4a4a4a;  cursor:default;}

.btnStatusSel ,
a.btnStatusSel:link ,
a.btnStatusSel:visited ,
a.btnStatusSel:hover,
a.btnStatusSel:active {color:#4a4a4a; padding-top:2px; padding-bottom:2px; cursor:default; font-weight:bold; text-transform:uppercase;}

.btnStatusAct {padding-left:25px; padding-right:25px; padding-top:5px; padding-bottom:5px; border:1px solid #272727; color:#fff; background:url("../img/adm/bg_button.gif") repeat-x top #4b4b4b;}
a.btnStatusAct:link {color:#fff; }
a.btnStatusAct:visited {color:#fff; }
a.btnStatusAct:hover {color:#ff6c00; }
a.btnStatusAct:active {color:#ff6c00; }

.hypUploadInfo {cursor:default;}
a.hypUploadInfo:link {}
a.hypUploadInfo:visited {}
a.hypUploadInfo:hover {}
a.hypUploadInfo:active {}
.hypUploadInfo img {width:30px; height:30px;}

.hypForgot {cursor:pointer; padding-left:20px; color:#5b95ff; font-weight:bold;}
a.hypForgot:link {color:#5b95ff; text-decoration:none;}
a.hypForgot:visited {color:#5b95ff; text-decoration:none;}
a.hypForgot:hover {color:#5b95ff; text-decoration:underline;}
a.hypForgot:active {color:#5b95ff; text-decoration:underline;}

.linkDeleteDisabled ,
a.linkDeleteDisabled:link ,
a.linkDeleteDisabled:visited ,
a.linkDeleteDisabled:hover ,
a.linkDeleteDisabled:active {background:url('../img/adm/icon-delete.gif') no-repeat 3px -66px !important; color:#aaa; cursor:default; text-decoration:none; padding-left: 20px;}

.linkDisabled ,
a.linkDisabled:link ,
a.linkDisabled:visited ,
a.linkDisabled:hover ,
a.linkDisabled:active {color:#aaa; cursor:default;}

.imgbtnPrint {background:url("../img/adm/icon_print.gif") no-repeat;}
.imgbtnPrint:hover {background:url("../img/adm/icon_print.gif") no-repeat 0px -12px;}
.imgbtnPrintDisabled {background:url("../img/adm/icon_print.gif") no-repeat 0px -12px; cursor:default;}



.lnkbtn,
.lnkbtn:link, .lnkbtn:visited{background-position:0 0; color:#5b95ff; background-repeat:no-repeat; padding-left: 20px;margin: 0 4px;}
.lnkbtn:hover,.lnkbtn:active { background-position: 0px -132px;text-decoration:underline;}
.lnkbtn.lnkbtnEdit:hover,
.lnkbtn.lnkbtnDelete:hover,
.lnkbtn.lnkbtnPrint:hover,
.lnkbtn.lnkbtnUp:hover,
.lnkbtn.lnkbtnDown:hover,
.lnkbtn.lnkbtnLogin:hover,
.lnkbtn.lnkbtnSave:hover{ background-position: 0px -132px;text-decoration:underline;}
.lnkbtn.lnkbtnView:hover,
.lnkbtn.lnkbtnResend:hover{ background-position: 0px -140px;text-decoration:underline;}


.lnkbtn[disabled=disabled]{cursor:not-allowed;}
.lnkbtnNoIcon{padding-left:0 !important;background-position:0 0;}
.lnkbtnEdit{background-image:url('../img/adm/btn_user_manager_edit.gif');}
.lnkbtnDelete{background-image:url('../img/adm/btn_user_manager_delete.gif');}
.lnkbtnPrint {background-image:url('../img/adm/btn_user_manager_fax.gif');}
.lnkbtnUp{background-image:url('../img/adm/btn_user_manager_up.gif');}
.lnkbtnDown{background-image:url('../img/adm/btn_user_manager_down.gif');}
.lnkbtnLogin {background-image:url('../img/adm/btn_user_manager_login.gif');}
.lnkbtnView {background-image:url('../img/adm/icon-view-more.png');}
.lnkbtnResend {background-image:url('../img/adm/icon-resend-mail.png');}
.lnkbtnSave{background-image:url('../img/adm/btn-save.png');}

.lnkbtnDone,
.lnkbtnDone:link,
.lnkbtnDone:visited, 
.lnkbtnDone:hover,
.lnkbtnDone:active{text-decoration:none; padding-left:0px; padding-top: 3px; vertical-align:middle;}
.lnkbtnDone:hover,
.lnkbtnDone:active{color:#0b3490;}
.lnkbtnDone:after{font-family: 'Material Icons'; font-weight: bold; font-size: 20px; 
                  content: "done"; display:inline-block; }

.lnkbtn.lnkbtnEdit-slideshow{background-image:url('../img/adm/btn_slide_show_manager_edit.gif');}
.lnkbtn.lnkbtnEdit-slideshow:hover{background-position: 0px -66px;}
.lnkbtn.lnkbtnDelete-slideshow{background-image:url('../img/adm/btn_user_manager_delete.gif');background-position:0 -66px;}
.lnkbtn.lnkbtnDelete-slideshow:hover {background-position: 0px -133px;}
.lnkbtn.lnkbtnView-slideshow {background: url("../img/adm/btn_slide_show_manager_view_image.gif") no-repeat left;background-position: 0 0;}
.lnkbtn.lnkbtnView-slideshow:hover {background-position: 0 -66px;}

.btnSave{background-image:url('../img/adm/btn-save.gif') !important;}
.btnBack{background-image:url('../img/adm/btn-back.gif') !important;}
.btnPrint{background-image:url('../img/adm/btn-print.gif') !important;}
.btnRevert{background-image:url('../img/adm/btn-revert.gif') !important;}
.btnSearch {background-image:url("../img/adm/btn-search.gif") !important; cursor:pointer;}
.btnAdd{background-image:url('../img/adm/btn_add.gif') !important;}
.btnExportExcel , .btnExport {background-image:url('../img/adm/btn_download.gif') !important;}
.btnDelete {background-image:url('../img/adm/btn-delete.gif');}

.btnConfirm:link,.btnConfirm:visited{  background-position: right 20px top 10px;background-color:#2b539b;background-image:url('../img/adm/btn-confirm.gif');background-repeat:no-repeat;color:#fff;height:40px;line-height:40px;font-size:87.5%;padding: 0px 55px 0px 30px;display:inline-block;}
.btnConfirm:active,.btnConfirm:hover{  background-position: right 20px top -60px;background-color:#4077db;text-decoration:none;}

.btnCancel:link,.btnCancel:visited{background-color:#FF2424 !important;background-image:url('../img/adm/btn-cancel.gif') !important;}
.btnCancel:hover,.btnCancel:active{background-color:#FF4A4A !important;}

.btnDisabled,.btnDisabled:link ,.btnDisabled:visited,
.btnDisabled:active,.btnDisabled:hover {background-position:center center !important;color:#fff !important;border:#434343 solid 1px;  background-color: #a4a4a4 !important;padding: 0 40px;cursor:not-allowed; }

.icon-edit.material-icons{ display:none;width: 20px;height: 20px;cursor:pointer;}
.icon-edit.active{ display:inline-block;}

.hypListingAction,.hypListingAction:link,.hypListingAction:visited{ color: #2b539b;padding:0 20px;height: 60px;line-height: 60px;display:block;float:left;}
.hypListingAction:hover,.hypListingAction:active {color:#5b95ff;text-decoration:none;}

.hypListingAction.add,
.hypListingAction.export,
.hypListingAction.setting{padding-left: 40px;background-position: 12px 22px;background-repeat: no-repeat;}

.hypListingAction.add:hover,
.hypListingAction.export:hover,
.hypListingAction.setting:hover {background-position:12px -43px}

.hypListingAction.add {background-image:url('../img/adm/icon-add-product.gif');}
.hypListingAction.export {background-image:url('../img/adm/icon-download.gif');}
.hypListingAction.setting {background-image:url('../img/adm/icon-dropdown-edit.gif');}

.btnLoading,
.btnLoading *{box-sizing:border-box;}
.btnLoading,
a.btnLoading:link,
a.btnLoading:visited,
a.btnLoading:hover,
a.btnLoading:active {background-image:none;padding: 0 40px;}
.btnLoading > span {
    color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 46px;
    margin-top: 10px;
    display:block;
    font-size: 3px;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: loading 1.1s infinite linear;
    animation: loading 1.1s infinite linear;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* #endregion */

/* #region Search Box */
.divSearch {height:auto; overflow:hidden;padding:20px 40px;border-top: 1px solid #ececec;}
.divSearchHeader {height:auto; overflow:hidden;}
.divSearchForm {height:auto; overflow:hidden; padding-top:20px; display:none;}
.divSearchFormShow {height:auto; overflow:hidden; padding-top:20px; display:block;}
table.tblSearchForm {width:100%;}
table.tblSearchForm td.tdLabel {width:100px; padding-right:10px; padding-top:12px;}
table.tblSearchForm td.tdInputField {padding-right:40px;}
table.tblSearchForm td:first-child {}


.tblSearch td{vertical-align:middle;white-space: nowrap;width:50%;}
.tblSearch .txtKeyword {width:498px;height:58px;font-size:225%;padding:10px;}

.divFilter .divKeyword {display:inline-block;}
.divFilter .tdKeyword {  vertical-align: middle;font-size:112.5%;padding-right: 30px;}

.divFilter .btnSearch {height:58px !important;  margin-top: 3px;}



.divFilterContainer,
.divFilterAction {display:inline-block;float:left;}
.divFilterContainer {position:relative;}
.divFilter {max-width:380px;height:100%;background-color:#d0e2ea;}
.divFilter .txtKeyword {float:left;width:90%;height:60px;font-size:170%;padding:0;margin:0;border-radius:0;color:#292929;background-color:inherit;    border: 0;}
.divFilter .txtKeyword::-webkit-input-placeholder {  color: #cccccc;  }
.divFilter .txtKeyword:-moz-placeholder {  color: #cccccc;  }
.divFilter .txtKeyword::-moz-placeholder {  color: #cccccc;  }
.divFilter .txtKeyword:-ms-input-placeholder {  color: #cccccc;  }

.divFilter .btnDropdown { float:left;width:10%;height:60px;background-color:inherit;display:block;transition-property: all;transition-duration: .3s;transition-timing-function: ease-in-out;transition-delay: 0s; }
.divFilter .btnDropdown:after{
        background-image: url('../img/adm/icon-keyword-search-open-close.gif');
        background-repeat: no-repeat;
        background-position: center center;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        content: "";
        width: 38px;
        height: 60px;
        display: block;
}

.divFilter .btnDropdown.active:after{transform: rotate(180deg);}
.divFilterMore {max-height:0;background-color:#abc4ce;overflow:hidden;position: absolute;top: 60px;left: 0;width: 100%;transition:all .5s ease-in-out;}
.divFilterMore.active {max-height:1000px;}
.divFilterMore select {width:100%;}
.divFilterMore input[type=text] {width:100%;}
.divFilterAction .btnSearch{padding: 0px 30px 0px 30px;margin: 0;border: 0;width: 30px;}

.tblSearch{width:100%;padding-bottom:30px;}
.tblSearch .divFilterLabel{color:white;padding-bottom:5px;}
.tblSearch td {padding:12px 12px 6px 12px;}
/* #endregion */

/* #region Login */
#divLoginContainer {width:960px; margin:auto;margin-top: 250px; height:auto !important; height:auto; overflow:hidden; }
#tblLogin {}
#tblLogin th {text-align:left; padding-bottom:20px; font-weight:bold; }
#tblLogin .tdLoginBtn {text-align:left; padding-top:30px;}
#tblLogin .tdLoginBtn1 {text-align:left; padding-top:30px; float:right; margin-right:5px;}
#tblLogin .tdLoginBtn2 {text-align:left; padding-top:30px; float:right;}
#divLoginContainer input[type='text'],
#divLoginContainer input[type='password'] {height:80px;font-size:345%;padding:10px 50px 10px 10px;width:100%;color:#bababa;border:0px solid transparent;border-bottom:1px solid #cccccc;background-position:right 15px top 15px;background-position-x: 99%;background-position-y: -30%;background-repeat:no-repeat;}
#divLoginContainer input[type='text']:focus,
#divLoginContainer input[type='password']:focus {box-shadow:0 0 0 0;background-position:right 15px top -70px;color:#434343;background-position-x: 99%;background-position-y: 135%;}
#divLoginContainer .checkbox-group {padding-left: 15px;padding-top: 10px;}
#divLoginContainer .txtEmail{background-image:url("../img/adm/icon-userid.gif");font-style:italic;}
#divLoginContainer .txtPassword{background-image:url("../img/adm/icon-password.gif")}

#divForgotPasswordContainer {width:960px; margin:auto;margin-top: 250px; height:auto !important; height:auto; overflow:hidden; }
#divForgotPasswordContainer input {height:80px;font-size:245%;padding:10px 50px 10px 10px;width:100%;color:#bababa;border:0px solid transparent;border-bottom:1px solid #cccccc;background-position:right 15px top 15px;background-position-x: 99%;background-position-y: -30%;background-repeat:no-repeat;}
#divForgotPasswordContainer input:focus {box-shadow:0 0 0 0;background-position:right 15px top -70px;color:#434343;background-position-x: 99%;background-position-y: 135%;}
#divForgotPasswordContainer .txtEmail{background-image:url("../img/adm/icon-userid.gif");font-style:italic;}

.divGstSetting{}
.divUpdateProfile{padding:20px 40px;}
/* #endregion */

/* Control Panel */
.divControlPanelContainer {}
.divControlPanelContainer .text_fullwidth{width:95%;}
.divControlPanelContainer .formTbl{padding:0px 40px;border-bottom:1px solid #ececec;}
.divControlPanelContainer .formTbl:last-child{border-bottom:0px solid transparent;}

.divControlPanelContainer .formTbl td:first-child {width:10%;  min-width: 200px;padding-right:0px;}
.divControlPanelContainer .formTbl td:last-child {width:90%;}

.divControlPanelContainer .formTbl td.tdSectionHdr {padding:10px 0px;}
.divControlPanelContainer .formTbl td {padding-left:20px;}
.divControlPanelContainer .formTbl tr:last-child td{padding-bottom:20px;}

#tblControlPanel {border-collapse: collapse;}
#tblControlPanel tbody {border-top:1px solid #ececec;border-bottom:1px solid #ececec;}
#tblControlPanel tbody:first-child {border-top:0px solid transparent;}
#tblControlPanel tbody:last-child {border-bottom:0px solid transparent;}
#tblControlPanel tbody:empty{display:none;}

.divPriceRangeForm {}
.divPriceRangeForm .input {float:left;padding-right:5px;width:200px;}
.divPriceRangeForm .btn3 {float:left;}
.pricerange-list{ display: inline-block;}
.pricerange-list li {list-style:none;cursor:all-scroll; min-height: 30px;padding: 5px 10px;}
.pricerange-list li.deleted {display:none;}
.pricerange-list li input[type='text'] {margin: 0;height: 30px;}
.pricerange-list .material-icons.inactive{    color: #cccccc;cursor: not-allowed;}
.pricerange-right{float:right;}
.pricerange-item-label {
    margin: 4px 0px;
    float: left;
}
.pricerange-list .txtOrder{
        display: inline-block;
    text-align: center;
    border: 1px solid;
}
.pricerange-list .sortable-remove {color:red;padding:0;padding-left:10px;}
/* end of Control Panel */

/* Logo & Icon setting */
.divLogoSettingContainer .tblData td{padding-top:10px;padding-bottom:10px;}
.divLogoSettingContainer #tblAction {padding-top:0px;}

/* end of Logo & Icon setting */

/* start of email setup */
.divEmailSetupContainer {}
.divEmailSetupContainer .formTbl{padding:0px 40px;border-bottom:1px solid #ececec;}
.divEmailSetupContainer .formTbl td:first-child {width:20%;}
.divEmailSetupContainer .formTbl td:last-child {width:80%;}
.divEmailSetupContainer .formTbl td.tdSectionHdr {padding:10px 0px;}
.divEmailSetupContainer .formTbl td {padding-left:20px;}
.divEmailSetupContainer .formTbl tr:last-child td{padding-bottom:20px;}

/* end of email setup */

/* #region Upload Info */
.divFileUpload {height:30px; overflow:visible;}
.divFileUploadAction {height:15px; overflow:visible; float:left; padding-right:10px;}

.divFileUploadRule {height:auto; min-height:15px; overflow:visible; position:relative; float:left;}
.divFileUploadRuleNor {height:auto; min-height:15px; overflow:visible; width:150px; position:relative;}
.divFileUploadInfo {height:auto; overflow:hidden; position:absolute; width:500px; left:30px; top:0px; display:none;}

#spanFileUploadInfo {display:none;}
#upload {padding-bottom:20px;}
/* #endregion */

/* #region Related Product */
.divProdRelNoFound, .divDealSelNoFound {height:auto; overflow:hidden;}
.divProdList {height:auto; overflow:hidden;}
.divProdSelList, .divDealSelContainer {height:auto; overflow:hidden; padding-top:20px;}
.divProdListItems, .divDealSelListing {height:auto; overflow:hidden;}

.divProdRelProdTotal {height:auto; overflow:hidden; padding-bottom:10px;}
.divProdRelProdPagingPagination {height:auto; overflow:hidden; float:right; display:table;}
.divProdRelProdItems {height:auto; overflow:hidden; padding-top:20px; padding-bottom:20px;}

.divIndProd, .divRelDealItem {float:left;width:100%;  height:auto; overflow:hidden; margin-right:70px; margin-bottom:15px; text-align:center;}
.divIndProdLast, .divRelDealItemLast {float:left;width:100%; height:auto; overflow:hidden; text-align:center; margin-bottom:15px;}

.divRelProdImgProd, .divRelDealImg {height:100px; overflow:hidden; width:100px; display:table;margin:auto;}
.divRelProdImgProdInner, .divRelDealImgInner {display:table-cell; text-align:center; vertical-align:middle;}
.divRelProdName, .divRelDealName {height:auto; overflow:hidden; padding-top:10px;}


.relprodTbl {width:100%;}

.relprodTbl .tdRelProdItem {vertical-align:top; width:20%;}
.relprodTbl .tdRelProdItemLast {vertical-align:top; width:20%;}
/* #endregion */

/* #region Highlight Gallery */
.divHighGallery {height:auto; overflow:hidden; clear:both;}
.divIndImage {float:left; width:230px; height:350px; overflow:hidden; margin-right:30px; margin-bottom:50px; text-align:center; border:1px solid #eee; padding:5px;transition:all .5s ease-in-out;}
.divIndImage:hover {border:1px solid; -moz-box-shadow: 0 0 8px #999; -webkit-box-shadow: 0 0 8px #999; box-shadow:0px 0px 8px #999;}
.divIndImage table {height:100%;}
.divIndImage table td {padding:0px;text-align:center;}
.divIndImage .img-link{width: 100%;height: 230px;display: block;position: relative;overflow:hidden;    box-sizing: border-box;border: 1px solid #ececec;}
.divIndImage .img-link img {padding-bottom:5px;max-width:100%;    position: absolute; top: 50%; left: 50%;transform: translate(-50%, -50%);}
.divIndImageLast {float:left; width:200px; height:auto; overflow:hidden; text-align:center; margin-bottom:15px;}
.divIndImage.remove {width:0;height:0;padding:0;margin:0;border:0;}

td.tdHighImageNumber {   height: 40px;vertical-align:bottom;}
td.tdIndImageDesc .spanIndImageDesc {display:inline-block;}
td.tdIndImageDesc .txtIndImageDesc {display:none;}
td.tdIndImageDesc.edit .spanIndImageDesc{display:none;}
td.tdIndImageDesc.edit .txtIndImageDesc{
    display:inline-block;    
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 40px;}
.divEventForm #tblEventDetail{padding-bottom:0px;}
.divEventForm #tblAddDesc,
.divEventForm #tblAddArticle,
.divEventForm #tblAddVideo,
.divEventForm #tblFileUpload,
.divEventForm #tblManageComment{padding-top:0px;}

.divEventGallery{padding:0 20px;}
/* #endregion */

/* #region Pagination */
.divPaging {height:auto; overflow:hidden; padding:5px; background:#434343;}
.divPagingInner {display:table-cell; text-align:center; vertical-align:middle;}
.spanPagination {padding-left:2px; padding-right:2px; vertical-align:0px;}

.linkPage,
a.linkPage:link,
a.linkPage:visited {color:#fff;  padding: 0 5px;}
a.linkPage:hover,
a.linkPage:active{color:#5b95ff;}

.linkPageSel ,
a.linkPageSel:link ,
a.linkPageSel:visited ,
a.linkPageSel:hover ,
a.linkPageSel:active {color:#5b95ff;  padding: 0 5px;}

.linkPageLead {color:#1c7fd7;}
a.linkPageLead:link {color:#1c7fd7; }
a.linkPageLead:visited {color:#1c7fd7; }
a.linkPageLead:hover {color:#003c71; }
a.linkPageLead:active {color:#003c71; }
/* #endregion */

/* #region GST Settings */
#tblGSTSettings table td:first-child {min-width:150px;width:20%;padding-left:20px;}
#tblGSTSettings table td:nth-child(2) {width:80%;padding-right:20px;}
/* #endregion */

/* #region Transaction Detail */
.divTop {height:auto; overflow:hidden;}
.divSalesDetail .divActionPrint{position:fixed;right:40px;top:125px;z-index:999;}
.divSalesDetail .divLeft {float:left;width:50%;}
.divSalesDetail .divRight {float:right;width:50%;}
.divSalesDetail .divBottomItems {height:auto; overflow:hidden;clear:both;}
.divSalesDetail .divOrdSalesItems {height:auto; overflow:hidden; clear:both;}

.divSalesDetail .divLeft .divDetails {padding:20px 20px 20px 40px;border-right:1px solid #ececec;overflow:hidden;}
.divSalesDetail .divLeft .divDetails .divFormBtnRight {padding-right:20px;min-width:500px;}
.divSalesDetail .divLeft .divDetails .divFormBtnRight a {margin-left:10px;}
.divSalesDetail .formTbl2 {padding-left:20px;min-width:500px}
.divSalesDetail .formTbl2 thead td:first-child {font-weight:700;padding-bottom:20px;}
.divSalesDetail .formTbl2 thead td a {float:right;}
.divSalesDetail .formTbl2 tbody td {padding-bottom:10px;}
.divSalesDetail .formTbl2 tbody td input,.divSalesDetail .formTbl2 tbody td select {width:100%;  height: 38px;}
.divSalesDetail .divDeliveryHeader,
.divSalesDetail .divPaymentHeader,
.divSalesDetail .divStatusHeader{font-weight:700;padding-bottom:20px;}
.divSalesDetail .divItemsHeader{font-weight:700;  border-bottom: 5px solid #cccccc;padding-bottom: 10px;margin-bottom: 10px;}
.divSalesSummary { padding:20px 40px;border-bottom: 1px solid #ececec;}
.divSalesDetail .divStatus {padding:20px 40px;}
.divSalesDetail .divPayment {padding:20px 40px;border-top:1px solid #ececec;}
.divSalesDetail .divBottomItems {padding:20px 40px;border-top:1px solid #ececec;}
.divSalesDetail .divOrdInvoicePrint{  position: absolute;right: 20px; top: 80px;}
.divStatusActRight {float:left; padding-left:10px;}


.divStatus .tblStatus {margin-left:20px;  border-collapse: collapse;}
.divStatus .tblStatus tbody { border-top:1px dashed #ececec;}
.divStatus .tblStatus tbody td{padding-bottom:10px;}
.divStatus .tblStatus td:first-child{width:30%;}
.divStatus .tblStatus td:last-child{width:70%;}
.divStatus .tblStatus tbody tr:first-child td{padding-top:20px;}
.divStatus .tblStatus tbody tr:last-child td{padding-bottom:20px;}

.divPayment .tblPaymentDetails {  padding-left: 20px;}
.divPayment .tblPaymentDetails thead td:first-child{  font-weight: 700;padding-bottom: 20px;}
.divPayment .tblPaymentDetails td:first-child{width:30%;}
.divPayment .tblPaymentDetails td:last-child{width:70%;}

.divPayAmount {height:auto; overflow:hidden;}
.divPayRemarks {height:auto; overflow:hidden;}
.divBottomItems .divFormBtnRight{padding-right: 0px;}
.divBottomItems .divFormBtnRight a {margin-left:10px;}
.divBottomItemsHeader {height:auto; overflow:hidden; padding-bottom:20px;}
.divBottomItemsHeaderInner {height:19px; border-bottom:1px solid #ccc; padding-left:10px;}

.divListingBilling {width:50%; float:left;}
.divListingDelivery {width:50%; float:left;}

.divBillingDetails {height:auto; overflow:hidden; padding-bottom:20px; }
.divDeliveryDetails {height:auto; overflow:hidden; padding-bottom:20px; }


.divOrderProdItemDetail {height:auto; overflow:hidden; }
.divOrderProdImg {float:left; width:100px; height:100px; padding:0px 25px 0px 0px; display:table;}
.divOrderProdImgInner {display:table-cell; vertical-align:middle; text-align:center;border: 1px solid #cccccc;}
.divOrderProdImgInner img{width:100%;}
.divOrderProdDetail {float:left; text-align:left; height:auto; overflow:hidden; }

#tblOrderItems tr td:first-child{text-align:center;vertical-align:middle;}
#tblOrderItems tr td:nth-child(4) input{border-radius:0px;}
#tblOrderItems td {vertical-align:middle;}
#tblOrderItems tfoot td{padding:5px 10px;}
#tblOrderItems tfoot tr:first-child td{padding-top:20px;}
#tblOrderItems tfoot tr:last-child td{padding-bottom:20px;}
#tblOrderItems .trSpacer td{height:20px;border-bottom:0 solid transparent;}

#tblOrderItems .first{width:5%;}
#tblOrderItems .second{width:59%;}
#tblOrderItems .third{width:12%;}
#tblOrderItems .fourth{width:12%;}
#tblOrderItems .fifth{width:12%;}

#tblSalesSummary td {padding-bottom: 12px;}
#tblSalesSummary > tbody > tr > td:first-child {padding-left:20px;  padding-right: 100px;}
#tblSalesSummary tbody td textarea {width:100%;height:150px;}

#tblSalesSummary .cboxCustomer > div{position:relative;}
#tblSalesSummary .cboxCustomer table{width:100%;}
#tblSalesSummary .cboxCustomer table .ajax__combobox_textboxcontainer{  width: 96%;}
#tblSalesSummary .cboxCustomer table .ajax__combobox_textboxcontainer input{width:100%;}
#tblSalesSummary .cboxCustomer table .ajax__combobox_textboxcontainer input:focus{border:1px solid #D33836;}
#tblSalesSummary .cboxCustomer .ajax__combobox_itemlist{  width: 40% !important; top: -6px !important;left: 3px !important;}
/* #endregion */

/* #region product Specification */
.divProdSpecContainer .formTbl td {vertical-align:middle;}
/* #endregion */

/* #region Status */
.tblStatus {}
.tblStatus td:first-child {}
.tblStatus .trPaymentAction td {padding-bottom:10px;}
.tdStatusBtnLabel {padding-top:10px;}

.tdStatusLabel {padding-right:10px; padding-top:10px; width:130px;}
.tdStatusLabelActive {padding-left:10px; padding-top:14px; padding-right:10px; width:130px; background:#f3f3f3;}
.tdStatusActive {background:#f3f3f3; padding-right:10px;}
.tdStatusLabelActivePadding {padding-left:10px; padding-top:20px; padding-right:10px; padding-bottom:10px; width:100px; background:#f3f3f3;}
.tdStatusActivePadding {background:#f3f3f3; padding-left:10px; padding-top:20px; padding-right:10px; padding-bottom:10px;}
/* #endregion */

/* #region Cancel Trans */
.divCancelTrans {height:auto; overflow:hidden; padding-top:50px;}
.divCancelTrans .divAck{display: table-cell;vertical-align: middle;}
.divCancelTransInner {height:260px; overflow:hidden; width:600px; margin:auto;display:table;}
.divCancelTransForm {}
.tdCancelTrans {}
.tblCancelTransInner td:first-child {padding-top:14px; padding-right:10px;}
.tblCancelTransInner tr.trHeader td {padding-top:2px;}
.tblCancelTransInner td.tdHeader {padding-top:2px;}
/* #endregion */

/* #region Delete Trans */
.divDeleteTrans {height:auto; overflow:hidden;}
.divDeleteTransInner {height:auto; overflow:hidden; width:550px; padding-left:30px; padding-right:30px; margin:auto;}
.divDeleteTransForm {height:auto; overflow:hidden; text-align:left;}
.tdDeleteTrans {text-align:center; vertical-align:middle; height:300px;}
/* #endregion */

/* #region Undo Status */
.divUndoStatus {height:auto; overflow:hidden;}
.divUndoStatusInner {height:auto; overflow:hidden; width:500px; padding-left:30px; padding-right:30px; margin:auto;}
.divUndoStatusForm {height:auto; overflow:hidden; text-align:left;}
.tdUndoStatus {text-align:center; vertical-align:middle; height:300px;}
/* #endregion */

/* #region Print */
.divPrintContainer {width:850px; height:auto; overflow:hidden; padding-left:25px; padding-right:25px; margin-top:20px; margin:auto; color:#000000;}
.divPrintItems {height:auto; overflow:hidden;}
.divInvoiceType {height:auto; overflow:hidden; text-align:center; padding-top:20px; padding-bottom:20px; text-transform:uppercase; font-weight:bold; color:#414141; font-size:150%;}

.divPrintInvoiceHeader {height:auto; overflow:hidden; padding-bottom:10px; border-bottom:5px solid #cccccc;}
.divPrintInvoiceHeaderRight {float:left; padding-left:30px; font-size:120%; color:#414141; font-weight:bold;}
.spanROC {font-size:90%; font-weight:normal; padding-left:10px;}
.divPrintInvoiceBillDelDetails {height:auto; overflow:hidden; font-size:120%; padding-top:20px; padding-bottom:30px;}
.divPrintInvoiceListingItems {height:auto; overflow:hidden; padding-bottom:30px;}
.divPrintInvoiceSalesRemarks {height:auto; overflow:hidden; text-align:justify;}

.divPrintInvoiceTopWrap {/*min-height:980px;*/height:auto; overflow:hidden;}

.divPrintInvoiceTopMain {overflow:auto; padding-bottom: 180px;}  /* must be same height as the footer */
.divPrintInvoiceBtmContainer {height:180px; overflow:hidden; padding-top:50px; /*position:relative; margin-top: -180px; /* negative value of footer height */ /*height: 180px; clear:both;*/}

.tdInvoiceDetail1 {width:15%; font-weight:bold;}
.tdInvoiceDetail2 {width:85%; border-right:1px solid #cccccc;}
.tdInvoiceDetail3 {width:50%; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
/* #endregion */

/* #region Sales */
.divBillingDetailsHdr {height:auto; overflow:hidden; border-bottom:1px solid #ccc;}
.divBillingDetailsHdrLeft {float:left; margin-right:10px; font-weight:bold;}
.divBillingDetailsHdrRight {float:left;}

.divOrdSalesSummary {height:auto; overflow:hidden;}
.divOrdSalesSummaryLeft {float:left; width:60%; padding-right:30px;}
.divOrdSalesSummaryLeft .text{width:73%;}
.divOrdSalesSummaryLeft .ajax__combobox_textboxcontainer{width: 90%;}
.divOrdSalesSummaryLeft .ajax__combobox_textboxcontainer input{width:102%;}
.divOrdSalesSummaryRight {float:left; width:37%;}
.divSalesActionBtns {height:auto; overflow:hidden;}
.divOrdInvoicePrint {height:auto; overflow:hidden; padding-top:10px;}
.divInvoicePrint {float:right;}
.divInvoicePrintLeft {float:left; padding-right:30px;}
.divInvoicePrintRight {float:left;}
.divInvoiceQuickDone {height:auto; overflow:hidden; padding-top:10px; padding-bottom:50px; float:right;}

.btnFloat {position:absolute; top:0px; right:0px;}
/* #endregion */

/*#region Shipping*/
.tdShippingLeftList {padding-right:20px;}

.divShipCompContainer {height:auto; overflow:hidden;}
.divShipCompDetailsContainer {height:auto; overflow:hidden;}
.divShipCompSettingsContainer {height:auto; overflow:hidden;}
.divShippingDetails .tblShippingSettings td:first-child{width:19% !important;}
/*#endregion*/

/*#region Country Manager*/
.divCountryDetailsContainer {height:auto; overflow:hidden; padding-top:30px;}
/*#endregion*/

/*#region Registration Details*/
.divRegistrationDetailsOuter {height:auto; overflow:hidden; padding-top:30px; padding-bottom:30px;}
.divRegistrationDetailsInner {height:auto; overflow:hidden; width:800px; margin:auto;}
.divRegistrationDetails {height:auto; overflow:hidden; padding-bottom:50px;}
.divRegistrationDetailsHdr {height:40px;position:relative; overflow:hidden; padding-bottom:5px; border-bottom:1px solid #cccccc;}
.divRegDetailsHdrLeft {float:left; font-weight:bold; font-size:120%;padding-top:16px;}
.divRegDetailsHdrRight {float:right;}
.divRegistrationDetailsContent {height:auto; overflow:hidden; padding-top:10px;}

.divRegistrationPaymentDetails {height:auto; overflow:hidden;}
.divPaymentDetailsHdr {font-weight:bold; font-size:120%; padding-bottom:5px; border-bottom:1px solid #cccccc;}
.divPaymentDetailsContent {height:auto; overflow:hidden; padding-bottom:20px; padding-top:10px;}

.divAdmRegBtn {width:800px; border-top:1px solid #ccc; padding-top:5px;}
.divBtnLeft {float:left;}
.divBtnRight {float:right;}

.tdRegDetailLabel {width:180px; padding-right:20px; padding-top:4px; vertical-align:top;}
.tdRegDetailLabel2 {width:120px; padding-left:50px; padding-right:20px; padding-top:4px; vertical-align:top;}
.tdRegDetailLabelNor {width:140px; padding-right:20px; vertical-align:top;}
.tdRegDetailLabelNor2 {width:120px; padding-left:50px; padding-right:20px; vertical-align:top;}

.divRegistrationDetailsAck {height:auto; overflow:hidden; padding-top:10px;}
.noticemsg2 {color:#a4a4a4; font-style:italic;}
.errmsg{color:red; font-style:italic;}
.errmsg2 {color:red; font-style:italic;}
.errmsg3{color:#D33836;font-style:italic;}
.errmsg4{color:red; font-style:italic; text-align:center; font-size:125%;}
.hypClose {cursor:pointer;}
/*#endregion*/

/*#region Address List*/
.divAddressList {height:auto; overflow:hidden; padding-top:30px;padding:20px 40px 20px 40px;}
/*#endregion*/

/*#region Related Deal*/
.divDealRelNoFound {height:auto; overflow:hidden;}
.divRelDeal {height:auto; overflow:hidden;}
.divRelDealTotal {height:auto; overflow:hidden; padding-bottom:10px;}
.divRelDealPaginationTopContainer, .divRelDealPaginationBtmContainer {height:auto; overflow:hidden; padding:5px; background:#ffe694;}
.divRelDealPaginationTopContainerInner, .divRelDealPaginationBtmContainerInner {height:auto; overflow:hidden; float:right; display:table;}
.divRelDealItemsContainer {height:auto; overflow:hidden; padding-top:20px; padding-bottom:20px;}

.relDealTbl {width:100%;}

.relDealTbl .tdRelDealItem {vertical-align:top; width:170px;}
.relDealTbl .tdRelDealItemLast {vertical-align:top; width:100px;}
/*#endregion*/

/*#region Tree View*/
.tvCategory {}
.tvCategory a:link ,.tvCategory a:visited,
.tvCategory a:hover ,.tvCategory a:active {color:#434343; text-decoration:none;} 
.tvCategory table {width:0px;}
/*#endregion*/

/*#region START OF INVENTORY RECEIVABLE*/
#tblReceiveItemForm .code { width:500px; }
#tblReceiveItemForm .price { width:70px; }
#tblReceiveItemForm .discount { width:70px; }
#tblReceiveItemForm .amount { width:70px; }

#tblReceiveItemForm .divQtyContainer {width:100px;}
#tblReceiveItemForm .qty { width:70px; }

#tblReceiveItemForm .tdSpacerForBillDiscount,
#tblReceiveItemForm .tdSpacerForTotal{width: 47%;}
/*#endregion*/

/*#region START OF INVENTORY ADJUSTMENT*/
#tblAdjustItemForm .code{ width:500px; }
#tblAdjustItemForm .divQtyContainer {width:100px;}
#tblAdjustItemForm .qty { width:70px; }
/*#endregion*/

/*#region START OF WATER MARK ON IMAGE*/
#lblOpacity {
  border: 1px solid #ececec;
  padding: 5px;
  display:inline-block;
  margin-left: 10px;
}

.txtOpacity{
    border: 0;
    margin: 0;
}
/*#endregion*/
 
/*#region START OF SLIDE SHOW MANAGER*/
.divAblImg .divAblImgContainer{display:inline-block; padding:10px; vertical-align:top;}
.divAblImg .divImg{width:325px;height:195px;overflow:hidden;position:relative;border:1px solid #cccccc; }
.divAblImg .divImg img {position: absolute;top:50%;left:50%;}

.divAblImg .divImg{}
.divAblImg .divDetail{border: 1px solid #CCCCCC;}
.divAblImg .divName,
.divAblImg .divActive,
.divAblImg .divLastUpdated,
.divAblImg .divGroupName{border-bottom: 1px solid #CCCCCC;padding:10px;}
.divAblImg .divName{}
.divAblImg .divActive{}
.divAblImg .divGroupName{overflow:hidden; text-overflow: ellipsis;  white-space: nowrap;}
.divAblImg .form__action form__action--floated{padding:10px 0px;text-align:center;background-color:#ececec;  position: relative; margin-bottom:0 !important;}
.divAblImg .divActionSlideShow {padding:10px 0px;text-align:center;background-color:#ececec; overflow:visible;}
.divAblImg .spanSplitter{color:#5b95ff;padding:0px 10px;}
/*#endregion*/

/*#region START OF SLIDE GROUP MANAGER*/
.divSliderEffect .ddl_fullwidth,
.divSliderEffect .divSlider {
    width:33%;
    min-width:150px;
    display: inline-block;
}
.divSliderEffect .divSliderLabel{
    display: inline-block;
    margin-left: 10px;
}
.divSliderEffect .hypPreview{
    display: inline-block;
    width: auto;
    height: 10px;
    padding: 10px;
    background-color: #0046C5;
    border-radius: 5px;
    line-height: 10px;
    color: white;
    font-size: 75%;
    margin-left: 20px;
}

/*#endregion*/

/*#region DB Execution for All Projects*/			
.divFormDB {float:left; width:860px;}		
.divAckDB {padding:10px; height:auto; overflow:hidden; background:#f3f3f3; border-top:1px solid #fff; float:left; width:860px;}	
.imgbtnTrans {height:10px; overflow:hidden; width:110px; border:none;}		
/*#endregion*/

/* #region Sales order popup */
.divPopUpOuter {height:auto; overflow:hidden;font-size:12px;}
    
.divPopUpBar {width:100%; overflow:hidden; background:#FFFFFF;}
.divPopUpBarInner { overflow:hidden;margin: 0px 30px;padding:30px 0px 20px 0px;border-bottom: 1px dotted black; }
.divPopUpBarSubBlock {vertical-align:top;}
.divPopUpBar .divLogo{margin-right: 30px;max-width:230px;float:left;}
.divPopUpBar .divLogo a{display:block;}
.divPopUpBar .divLogo img{    max-width: 100%;width:100%;height:auto;}
.divPopUpBar .divPageInfo{overflow:hidden;}
.divPopUpBar .divPrint {float:right;margin-top: 20px;}
.divPopUpBar .divQuickContact{}
.divPopUpBar .divQuickContact .imgTel,
.divPopUpBar .divQuickContact .imgEmail,
.divPopUpBar .divQuickContact .imgFax {padding-right:5px;}
.divPopUpBar .divQuickContact .divTel,
.divPopUpBar .divQuickContact .divEmail,
.divPopUpBar .divQuickContact .divFax {padding-right:10px; font-size:85%;}
.divPopUpBar .divPageTitle{display:inline-block;font-size:170%;font-weight:700;padding-bottom: 5px;}
.divPopUpBar .divRegNo{display:inline-block;padding-left:5px;  font-size: 85%;}
.divPopUpBar .divRegNo .divCompanyRegNo,
.divPopUpBar .divRegNo .divGstRegNo,
.divPopUpBar .divRegNo .divSplitter{display:inline-block;}

.divPopUpBar .divDomainName{font-size:100%;font-weight:700;padding-bottom: 5px;}

.divPopUpContent {width:100%; height:auto; overflow:hidden; min-height:500px; overflow:hidden; background:#ffffff;}
.divPopUpContentInner {margin: 0px 30px; padding-top: 15px;}
.divPopUpContent .divColumnLeft{float:left;width:45%;}
.divPopUpContent .divColumnRight{float:right;width:45%;}
.divPopUpContent .frmTblDelivery {width:100%;font-size:100%;}
.divPopUpContent .frmTblDelivery td { padding-bottom:5px;font-size:110%; }
.divPopUpContent .frmTblDelivery td:first-child{width: 33%;}
.divPopUpContent .divPrint {float: right;margin: 0px 8px 20px 0px;}
.divPopUpContent .divPaymentSummary .frmTblDelivery td:first-child,
.divPopUpContent .divOrdListingSummary .frmTblDelivery td:first-child{width:40%;}
.divPopUpContent .divListingHdr {font-weight: 700;font-size: 130%;padding-bottom: 8px;border:solid 0 transparent;}
.divPopUpContent .divDetailHdr {color:#3f3f3f;font-weight:700;font-size:130%;padding-bottom:8px;border-bottom: 2px solid black;margin-bottom: 18px;}

.divPopUpContent .divSummaryOuter {height:auto; overflow:hidden;}
.divPopUpContent .divPaymentSummary {padding-top:20px;}
.divPopUpContent .divOrdListingSummary {padding-top:20px; padding-bottom:20px;}
.divPopUpContent .divListingItem {margin-top:10px;border:0px solid transparent;}
.divPopUpContent .divListingDetail {height:auto; overflow:hidden; padding-top:20px;padding-bottom:0px;}
.divPopUpContent .divSubListingDetail {width:100%; overflow:hidden;padding-bottom: 50px;}

.divPopUpFooter {}
.divPopUpFooterInner {  margin: 0px 30px;}
.divPopUpFooter .divLeft {float:left; width:50%;font-size: 85%;}
.divPopUpFooter .divRight {float:right; width:50%;}
.divPopUpFooter .divPrint{margin: 20px 0px;float:right;}
.divPopUpFooter .divLine {margin:3px 0px;}
.tblReviewOrderItem {border-collapse: collapse;border:1px solid #3f3f3f;}
.tblReviewOrderItem > thead{border-bottom:1px solid #7c7c7c;}
.tblReviewOrderItem > thead td {padding: 15px 0px 15px 0px;text-align: center;}
.tblReviewOrderItem > thead td:first-child {padding: 15px 0px 15px 20px;text-align: left;}
.tblReviewOrderItem > thead td:last-child {padding: 15px 20px 15px 0px;text-align: right;}

.tblReviewOrderItem > tbody > tr {border-bottom:1px dotted #3f3f3f;}
.tblReviewOrderItem > tbody > tr:last-child {border-bottom:0px dashed #3f3f3f;}
.tblReviewOrderItem > tbody > tr:hover{color:#000;}
.tblReviewOrderItem > tfoot{background-color:#e6e6e6;border-top:1px solid #7c7c7c;}

.tblReviewOrderItem .td_price,
.tblReviewOrderItem .td_qty,
.tblReviewOrderItem .td_total{ width:20%;text-align:center; vertical-align:top; padding-top:20px; }
.tblReviewOrderItem .td_total{padding-right:20px;text-align:right;}
.tblReviewOrderItem .td_item {padding-left:20px;}
.tblReviewOrderItem .td_item .divReviewCartProdImg{width:22%;height:auto;padding:20px 15px 20px 5px;border:0px solid transparent;float:left;}
.tblReviewOrderItem .td_item .divCartDetail{  width: 60%;height: auto;padding: 20px 0px 20px 12px;float: left;}
.tblReviewOrderItem .td_item .divCartProdImgInner {border: 1px solid #eaeaea;padding: 3px;float:left;}

.tblReviewOrderItem .tblTotal {width:auto;float:right;padding: 30px 20px 20px 0px;}
.tblReviewOrderItem .tblTotal td:first-child{text-align:right;padding-right:30px;padding-left: 10px;}
.tblReviewOrderItem .tblTotal td:last-child{text-align:right;position:relative;}
.tblReviewOrderItem .tblTotal td {padding-bottom: 10px;}
.tblReviewOrderItem .tblTotal td.tdOrderTotal {padding-top: 0px;color:#3f3f3f;font-size:115%;font-weight:700;border-top: 0px solid black;}
.tblReviewOrderItem .tblTotal tr.trDiscount {color:red;}
.tblReviewOrderItem .tblTotal tr.trDiscount .lblDisCode{padding-right:10px;}
.tblReviewOrderItem .tblTotal td .divSplitter {  height: 1px;margin: 0;padding: 0;width: 185px;background-color: #000000;box-shadow: inset 0 0 0 1000px #000000;position: absolute;top: 0;right: 0;}

/* #endregion*/

/* #region Input Group*/
.input-group {display:table;width:100%; position: relative;}
.input-group > .text_fullwidth {display:table-cell;}
.input-group > .spanTooltip {display:table-cell;padding-left:10px;}
.input-group-no-icon {margin-right:30px;}

.input-group .input-btn,
.input-group .input-control{display:table-cell;margin: 0;}
.input-group .input-btn{width: 1%;}
.input-group .input-btn a,
.input-group .input-btn a:hover{background-color:#5b95ff;color:#fff;height: 100%;padding:6px 15px;height: 35px; box-sizing: border-box;display: block;cursor:pointer;text-decoration:none;}
.input-group.right .input-control {border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
.input-group.left .input-control{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}

.input-group-remove {display:inline-block;position:relative;}
.input-group-remove .icon {cursor:pointer;opacity:0;transition:all .3s ease;font-style: normal; font-size: 14px; position: absolute;right: 5px;  top: 10px;  width: 20px;  height: 20px; text-align: center;}

.input-group-remove:hover .icon {opacity:1;}
/* #endregion */

/*#region Sortable list*/
.sortable-list{ display: inline-block;}
.sortable-list li {list-style:none;cursor:all-scroll; min-height: 30px;padding: 5px 10px;}
.sortable-list li.deleted {display:none;}
.sortable-list li input[type='text'] {margin: 0;height: 30px;}
.sortable-list .material-icons{cursor:pointer;}
.sortable-list .material-icons.inactive{    color: #cccccc;cursor: not-allowed;}
.sortable-right{float:right;}
.sortable-item-label {
    margin: 4px 0px;
    float: left;
}
.sortable-list .txtOrder{
        display: inline-block;
    text-align: center;
    border: 1px solid;
}
.sortable-list .sortable-remove {color:red;padding:0;padding-left:10px;}
/*#endregion*/

/*#region Overlay Message*/
.overlay-container{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}
.overlay-background{
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.7;
    position:absolute;
    top:0;
    left:0;
}
.overlay-content{
    width: 80%;
    max-width: 700px;
    min-height: 50px;
    background-color: white;
    margin: auto;
    margin-top: 18%;
    position: relative;
    z-index: 2;
text-align: center;
}
.overlay-title{
    font-size: 20px;
    padding-top: 10px;
    overflow:hidden;
    display:inline-block;
    white-space: nowrap;
    animation-duration: .8s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*#endregion*/

/*#region Change Width*/
@keyframes changewidth {
  from {
    width: 60px;
  }

  to {
    width: 90px;
  }
}
/*#endregion*/

/*#region Grid View*/
.grid,
.grid * {box-sizing:border-box;}
.grid {display:flex;flex-wrap:wrap;}
.grid .column {}
.grid .column .image{width:100%;padding-bottom:75%;}
.grid .column .image img,
.grid .column .image input{}

.grid.prod-addon .column { width: 12%; margin: 1%; margin-bottom: 10px; padding: 20px; border: 1px solid #cccccc;transition:all .3s ease;}
.grid.prod-addon .column.active {background-color: #5b95ff; color: white;}
.grid.prod-addon .column .image{padding-bottom:0;}
.grid.prod-addon .column .image img,
.grid.prod-addon .column .image input{display:block;margin:auto;border:0;}
.grid.prod-addon .column .content {text-align:center;}
/*#endregion*/

/*#region Form*/
.form,
.form * {box-sizing:border-box;}
.form { padding: 20px;}
.form .row{display:flex;margin: 0 -10px;margin-bottom: 5px;align-items: center;justify-content: center;}
.form .row.wrap {flex-wrap: wrap;}
.form .column,
.form [class^="column-"] {padding:0 5px;}
.form .column {flex-basis:100%;}
.form .column-1 {flex-basis:8.3333333333%;}
.form .column-2 {flex-basis:16.6666666667%;}
.form .column-3 {flex-basis:25%;}
.form .column-4 {flex-basis:33.3333333333%;}
.form .column-5 {flex-basis:41.6666666667%;}
.form .column-6 {flex-basis:50%;}
.form .column-7 {flex-basis:58.3333333333%;}
.form .column-8 {flex-basis:66.6666666667%;}
.form .column-9 {flex-basis:75%;}
.form .column-10 {flex-basis:83.3333333333%;}
.form .column-11{flex-basis:91.666666667%;}
.form label{
    font-weight: 700;
    margin-bottom: 3px;
    display: block;
font-size: 105%;
}
.form input[type='text'],
.form select {width:100%;margin-top: 0px;}
.form ol {  padding-left: 20px;}
.form .flexbox {display:flex;}
.form .button {
    background-color: #5b95ff;
    color: white;
    height: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    margin: 0 2px;
    align-items: center;
    justify-content: center;
}
.form .sortable {position: relative;}
.form .sortable .item {
    padding: 5px 15px;
    border: 1px solid #5b95ff;
    margin: 5px 0px;
    border-radius: 5px;
    width: 100% !important;
    height: 40px !important;
    align-items: center;
    cursor:move;
    background-color:#f2f6ff;
}
.form .sortable [data-hidden="1"] {display:none;}
.form .button:hover {opacity:0.9;text-decoration:none;}
.form .checkbox-group {position:relative;}
.form .checkbox-group label {margin-bottom:0;font-weight:normal;font-size:16px;}
.form .checkbox-group input[type='checkbox'] {position: absolute; left: 3px;top: 4px;margin: 0;}
.form .checkbox-group span {padding-left: 20px;}
.form .flexbox {display:flex;}
.form .flexbox .button {flex:1;}
.form .list .index {padding:0 8px;}
.form .list .name {}
.form .list .action {margin-left:auto;    display: flex;align-items: center; justify-content: flex-end;}
.form .list .action .icon {cursor:pointer;}
.form .list .action .checkbox-group {}

.form__container {padding:0 40px;}
.form__container--action-floated {margin-bottom:120px;}
.form__section {}
.form__section__title {font-weight:700;font-size:112.5%;padding:10px 0px;margin:10px 0px;border-bottom: 1px solid #ccc;}
.form__section__textbox {display: flex;}
.form__section__textbox div{padding-right: 5px;}
.form__section__content {margin-bottom: 15px;}
.form__section__content-leftpad {padding-left: 20px;}
.form__section__content .row {min-height:40px; width: 50%}

.form__section__content .form__label {padding-top:10px;padding-bottom:10px;}
.form__section__content .form__control {align-self: center;}
.form__tag {
    display: inline-block;
    background-color: #E8E8E8;
    padding: 5px 13px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 85%;
    font-weight: 400;
}
.form__tag__block {
    display: block;
    background-color: #E8E8E8;
    padding: 5px 13px;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    font-size: 85%;
    font-weight: 400;
    min-height: 45px;
}
.form__action {display:flex; background-color: #ececec;height: auto;overflow: hidden;padding: 20px;width: 100%;}
.form__action .floated.right {margin-left:auto;}
.form__action--floated {
    position: fixed;
    bottom: 0;
    left: 0;
    opacity:0.8;
    z-index: 10;
}
.form__action--floated:hover{opacity:1;transition:all .3s ease-in-out;}
/*#endregion*/

/* #region Enquiry Form*/
.enquiry-field-grid{border: 1px solid black;}
.enquiry-field-grid .index{width:2%;text-align:center;}
.enquiry-field-grid .name{width:20%;}
.enquiry-field-grid .inputtype{width:20%;}
.enquiry-field-grid .compulsory{width:20%;}
.enquiry-field-grid .validation{width:20%;}
.enquiry-field-grid .action{width:18%;}
.enquiry-field-grid .tools {display:flex; align-items: center; justify-content: center;}
.enquiry-field-grid .tools .icon {cursor:pointer;font-size:18px;}
.enquiry-field-grid > thead > tr > td,
.enquiry-field-grid > tbody > tr > td{padding:5px 10px;}
.enquiry-field-grid > thead > tr > td {padding-top:10px;padding-bottom:10px;}
.enquiry-field-grid > thead {font-size: 16px;font-weight: 700; background: black; color: white;}

.enquiry-field-grid > thead > tr > td {border-right:1px solid white;border-bottom:1px solid white;}
.enquiry-field-grid > thead > tr > td:last-child {border-right:0;}

.enquiry-field-grid > tbody > tr > td {border-right:1px solid black;border-bottom:1px solid black;}
.enquiry-field-grid > tbody > tr > td:last-child {border-right:0;}
.enquiry-field-grid > tbody > tr:last-child > td {border-bottom:0;}
.enquiry-field-grid > tbody > tr[data-hidden='1'] {display:none;}

.enquiry-form {margin-bottom:10px;}
.enquiry-form .row {margin-left:0px;margin-right:0px;}
.enquiry-form .enquiry-form-header { background-color: #ececec;border: 1px solid #292929;padding: 10px;    font-size: 105%;font-weight:700;}
.enquiry-form .enquiry-form-header .row {   justify-content: flex-start;}
.enquiry-form .enquiry-form-header .tools {margin-left:auto;}
.enquiry-form .enquiry-form-header .tools .arrow{transform: scale(1.5,1);cursor:pointer;}
.enquiry-form .enquiry-form-body { padding: 10px;  border: 1px solid #292929; border-top: 0;display:none;}

.enquiry-form .enquiry-options-form .option-list .action {float:right;}
.enquiry-form .enquiry-options-form .option-list .action .icon {font-size: 18px;}

.enquiry-form .enquiry-form-header .tools .arrow{transition:all .3s ease;}
.enquiry-form .enquiry-form-body.active {display:block;}
.enquiry-form.active .enquiry-form-header .tools .arrow{transform: scale(1.5,1) rotate(180deg);cursor:pointer;}
/*#endregion*/

/* #region Ack Container*/
.ack-container{
    padding: 10px 10px;    
    margin: 10px 0px;
    border-radius: 5px;
    background-color: #eaeaea;
    border: 1px solid #333;
    color: #333;
}
.ack-container.success{
     background-color: #c6efbb;
    border: 1px solid #34861d;
    color: #34861d;
}
.ack-container.hide {display:none;}
/*#endregion*/

/*#region Scolled*/
body.scrolled .divPageHdr{height:40px;}
body.scrolled .divPageHdr + * {margin-top:79px;}
body.scrolled .divPageHdr > .title {font-size:170%;padding: 4px 40px;}
body.scrolled .divPageHdr .hypListingAction,
body.scrolled .divPageHdr .hypListingAction:link,
body.scrolled .divPageHdr .hypListingAction:visited{ padding:0 20px 0px 30px;height: 40px;line-height: 40px;}
body.scrolled .divPageHdr .hypListingAction.add, 
body.scrolled .divPageHdr .hypListingAction.export, 
body.scrolled .divPageHdr .hypListingAction.setting {background-position:12px 12px;}
body.scrolled .divPageHdr .hypListingAction.add:hover, 
body.scrolled .divPageHdr .hypListingAction.export:hover, 
body.scrolled .divPageHdr .hypListingAction.setting:hover { background-position: 12px -52px;}

body.scrolled .divHeader {height:30px;}
body.scrolled .divHeader .divAdmPersonalizationDetails{ margin-top: 5px;font-size: 80%;}
body.scrolled .divHeader .admUserViewLink ,
body.scrolled .divHeader a.admUserViewLink:link ,
body.scrolled .divHeader a.admUserViewLink:visited {background-position: left 10px top 16px;height:30px;line-height: 30px;padding-left: 40px;  padding-right: 20px;}
body.scrolled .divHeader .updateProfile .icon{ top: 0;}
body.scrolled .divHeader .admUserViewLink, 
body.scrolled .divHeader a.admUserViewLink:link, 
body.scrolled .divHeader a.admUserViewLink:visited{background-position:left 10px top 5px;}
body.scrolled .divHeader a.admUserViewLink:hover, 
body.scrolled .divHeader a.admUserViewLink:active{background-position:left 10px top -64px;}
body.scrolled .divHeader .divAdmUserViewLink {font-size:80%;}
body.scrolled .divContent{margin-top:30px;}

.divPageHdr,
.divPageHdr + * ,
.divPageHdr > .title ,
.divPageHdr .hypListingAction,
.divHeader,
.divHeader .divAdmPersonalizationDetails,
.divHeader .admUserViewLink,
.divHeader .updateProfile .icon,
.divHeader .divAdmUserViewLink,
.divContent{transition:all .3s ease;}
/*#endregion*/

/* #region WeekDay Item & TimeSlot & Holiday Form */
.weekday-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
}
.weekday-item {
    width: 50px;
    height: 35px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #5b95ff;
    color: #5b95ff;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
}
.weekday-timeslot {
    padding: 0px 10px 10px 0px;
    display:flex;
}
.weekday-item input[type='checkbox'] {
    display: none;
}
.weekday-item label {
    width: 100%;
    height: 100%;
    display: block;
}
.weekday-item input:checked + label {
    background-color: #5b95ff;
    color: #fff;
}


.timeslot-section{}
.timeslot-frame .mfp-content{max-width:350px;height: 350px;}
.timeslot-form {padding-top:20px;}
.timeslot-form .row{margin-bottom:10px;align-items: center;}

.holiday-section{}
.holiday-frame .mfp-content{max-width:350px;height: 350px;}
.holiday-form {padding-top:20px;}
.holiday-form .row{margin-bottom:10px;align-items: center;}
/* #endregion */

/*#region Layout*/
.wrapper-container {display:flex;flex-direction:column;min-height: 100vh;}
.wrapper-container > .header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 11;
    background-color: #ececec;
}
.wrapper-container > .main-content {
    padding-top:50px;flex:1;
}
.wrapper-container > .footer{
    background-color: #cccccc;
    position: relative;
    height:100px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper-container > .header {padding-left:220px;}
.wrapper-container > .main-content {padding-left:220px;}
.wrapper-container > .footer {padding-left:220px;}
.main-content__header {padding-left:220px;}
.header__sidebar {width:220px;}
.header__sidebar__toggle {width:0;height:0;}
.form__action--floated {padding-left:250px;}

/*#endregion*/

/*#region Header*/
.header {display:flex;align-items:center;}
.header__action {margin-left:auto;}
.header__sidebar{ 
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;  
    z-index: 20;
    background-color:#434343;
}
.header__sidebar__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px dotted #7e9aa5;
    color: #434343;
    overflow:hidden;
    cursor:pointer;
}
/*#endregion*/

/* #region Main Content */
.main-content__header {
    left: 0;
    right:0;
    top:50px;
    height: 60px;
    border-bottom: 1px solid #ececec;
    z-index: 10;
    width: 100%;
    text-transform: capitalize;
    background-color: #ecfdff;
    position: fixed;
     display: flex;
}
.main-content__header + * { margin-top:60px;}
.main-content__header .title {font-size: 225%; font-weight: bold; padding: 10px 40px;}
.main-content__header .filter {margin-left:auto;}
/* #endregion */

/*#region Time Picker */
.timepicker td,
.datepicker td,
.datepicker th {
    vertical-align: middle !important;
    text-align: center !important;
}
.bootstrap-datetimepicker-widget,
.bootstrap-datetimepicker-widget div {
    padding-right: 0 !important;
}
span.month {
    flex: 0 0 33.3%;
    padding: 10px 0px;
}
.datepicker-months td{
    display: flex;
    flex-wrap: wrap;
    
}
.datepicker-months thead {
    display: flex;
    justify-content:center;
}

span.year {
    flex: 0 0 33.3%;
    padding: 10px 0px;
}

.datepicker-years td {
    display: flex;
    flex-wrap: wrap;
}

.datepicker-years thead {
    display: flex;
    justify-content: center;
}
/*#endregion Time Picker */

.nav > li > a {
    padding: 10px 10px 10px 35px !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: #4f4f4f;
}

.input-group input {
    margin: 0;
}

.mfp-iframe-holder .mfp-close{
    background: #000;
    right: 0px;
}

#autocompletecontainer,
#autocompletecontainer1,
#autocompletecontainer2{
    display: block;
    position: relative
}

.ui-autocomplete {
    position: absolute;
}

.last-action-date {
    font-weight: bold;
}

.payment-status-panel {
    float: right;
    width: 20%;
    padding: 10px 20px 0 0;
}

table.dataTable thead tr td.input-filter{
    border-bottom: 1px dashed #ccc;
}