﻿@media (max-width: 1350px) {
.wrapper-container > .header {padding-left:0px;}
.wrapper-container > .main-content {padding-left:0px;}
.wrapper-container > .footer {padding-left:0px;}
.main-content__header {padding-left:0px;}
.header__sidebar {width:0;}
.header__sidebar__toggle {width:50px;height:50px;flex: 0 0 50px;}
.form__action--floated {padding-left:20px;}

.sidebar-open .wrapper-container > .header {padding-left:220px;}
.sidebar-open .wrapper-container > .main-content {padding-left:220px;}
.sidebar-open .wrapper-container > .footer {padding-left:220px;}
.sidebar-open .main-content__header {padding-left:220px;}
.sidebar-open .header__sidebar {width:220px}
.sidebar-open .header__sidebar__toggle {transform:rotate(90deg);border-right:0;border-top: 1px dotted #7e9aa5;}
.sidebar-open .form__action--floated {padding-left:250px;}

.wrapper-container > .header,
.wrapper-container > .main-content,
.wrapper-container > .footer,
.main-content__header,
.header__sidebar,
.header__sidebar__toggle,
.form__action--floated {
    transition:all .3s ease;
}

}


@media (max-width: 1150px) {
/* --------- Header ---------------*/
.header__action__button > i {padding:0;}
.header__action__button > span {display:none;}
}



/* ---------------- Bootstrap View Port ==================*/
.form__section__content-leftpad {padding-left:0;}
@media (min-width: 576px){
    
}


@media (min-width: 768px) {
    .form__section__content-leftpad {padding-left:20px;}
}

@media (min-width: 992px) {
    .form__section__content-leftpad {padding-left:20px;}
}

@media (min-width: 1200px) {
    .form__section__content-leftpad {padding-left:20px;}
}