﻿/* General */
.divProdContentSub {height:auto; overflow:hidden;}
.divProdSub {height:auto; overflow:hidden; margin-bottom:20px;}
.divProductHeader {height:28px; overflow:hidden; width:198px; font-size:14px; color:#fff600; background:url(../img/usr/column-sidemenu-category.gif) repeat-x; padding-left:20px; padding-top:10px; border:1px solid #c10003;}
.divProductNameListing {height:auto; overflow:hidden; width:180px; padding:20px; background:#dc0000; border-top:1px solid #fe0000;}
.divIndProdSub {height:auto; overflow:hidden;}
.divProdSpliter {height:10px;}
.divProdDName:hover {padding-left:20px; float:left; background:url("../img/usr/bullet_1.gif") no-repeat 0px -65px;}
.divProdDNameSel {padding-left:20px; float:left; background:url("../img/usr/bullet_1.gif") no-repeat 0px -65px;}
.divNewProducts {height:auto; overflow:hidden; border-bottom:1px solid #fe0000;}
.divRecommended {height:auto; overflow:hidden;}

.btnProdSub {font-size:12px; color:#ffffff;}
a.btnProdSub:link {color:#ffffff; text-decoration:none;}
a.btnProdSub:visited {color:#ffffff; text-decoration:none;}
a.btnProdSub:hover {color:#434343; text-decoration:none;}
a.btnProdSub:active {color:#434343; text-decoration:none;}

.btnProdSubSel {font-size:12px; color:#434343;}
a.btnProdSubSel:link {color:#434343; text-decoration:none;}
a.btnProdSubSel:visited {color:#434343; text-decoration:none;}
a.btnProdSubSel:hover {color:#434343; text-decoration:none;}
a.btnProdSubSel:active {color:#434343; text-decoration:none;}
/* End of General */