* { box-sizing:border-box; }
body{
    font-size:16px;
    font-family:'Roboto', 'san-serif';
    color:#5d5d5d;
}
a ,
a:link ,
a:visited {color:#363bb3;font-size:16px;text-decoration:none;}
a:hover ,
a:active {color:#696de2; text-decoration:none;}
h1, h2, h3, h4 {font-family:'Roboto', 'san-serif'; font-weight:700;color:#5d5d5d;}
h1 {font-size:2.375rem;margin-bottom:19px;}
h2 {font-size:1.75rem;margin-bottom:14px;}
h3 {font-size:1.375rem;margin-bottom:11px;}
h4 {font-size:1.125rem;margin-bottom:9px;}

input[type='text'], 
input[type='password'], 
input[type='email'], 
input[type='number'], 
select, textarea{
    width:100%; 
    min-height:50px;
    border:1px solid #dddddd; 
    padding:10px; 
    outline:none;
    background:#ffffff;
    font-size:16px;
    font-family:'Roboto', 'san-serif';
}

p {
    font-size: 1rem;
    line-height:1.4rem;
    letter-spacing: 0.2px;
    text-align: justify;
}


/* =========== General Class ================*/
.floated.right {float:right;}
.floated.left {float:left;}
.clearfix {display:block;height:0;clear:both;}
.responsive-img {width:100%;max-width:100%;height:auto;}

.mstTagline {font-size:3.5rem;font-style:italic;}
.mstTagline2{font-size:1.75rem;}
.mstTagline3{font-size:1.125rem;}

.wrapper-container {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;min-height: 100vh;}
.wrapper-container > .header {position:fixed;z-index: 10;top:0;left:0;right:0; height:145px;transition:all .3s ease;}
.wrapper-container > .main-content {margin-top:145px;flex:1;}
.wrapper-container > .footer {}

.wrapper {width:960px;margin:auto;display:block;}
.wrapper.padding {padding:0 20px;}
.wrapper.gap {margin-top:50px;margin-bottom:50px;}

.errmsg {color:red;font-style:italic;font-size:0.875rem;}

ul{padding:0px 0px 0px 0px; margin:0px;}
.ulContent {}
.ulContent li{padding-left:20px; list-style-type:none;position:relative; margin-bottom:5px; text-align:justify;}
.ulContent li:before {
    content: " ";
    display: block;
    width: 7px;
    height: 7px;
    border: 2px solid #2e39ad;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 5px;
    box-sizing: border-box;
}

ol{padding:0px 0px 0px 30px; margin:0px;}
.olContent li{padding-left:0px; margin-bottom:5px; text-align:justify;}

.tblContent {width:100%; text-align:left;border-collapse: collapse; }
.tblContent th {padding:10px 20px; font-weight:normal; color:#fff; background:#2e39ad;}
.tblContent td {padding:10px 20px;}
.tblContent, 
.tblContent th, 
.tblContent td {
    border: 1px solid #ddd;
}
.tblContent td.odd {background-color:#fff;}
.tblContent td.even {background-color:#f5f5f5;}
.tblContent tbody tr:nth-child(odd) td {background-color:#fff;}
.tblContent tbody tr:nth-child(even) td {background-color:#f5f5f5;}

/* ============ Button ===============*/
.button,
a.button,
a.button:link,
a.button:visited {
    background-color:#2e39ad;
    color:#fff;
    font-size:1rem;
    font-family:'Roboto', sans-serif;
    font-weight:700;
    height:50px;
    line-height: 50px;
    min-width:150px;
    padding:0 15px;
    margin: 0 5px;
    display:inline-block;
    border-radius: 5px;
    text-align: center;
}
.button:hover,
a.button:hover,
a.button:active {background-color:#515cd5;}

.button.disabled,
a.button.disabled,
.button.disabled:hover,
a.button.disabled:hover,
a.button.disabled:active {opacity:0.2;cursor:not-allowed;}

.button.button-small,
a.button.button-small {height:30px;min-width:1px;}

.button.button-flex,
a.button.button-flex{display: flex; justify-content: center; align-items: center;}

.button.button-icon-right,
a.button.button-icon-right{ padding-right: 10px;}

.button.button-icon-left,
a.button.button-icon-left{ padding-left: 10px;}
   


/* ================ Header ================*/
.header-inner{ height: 80px;background-color: #2e39ad;position: relative;margin-top: 65px;display:flex;transition:all .3s ease;}
.header .logo-container {padding:0 40px;}
.header .logo-container > a {display:block; display: block; position: relative; margin-top: -55px;}
.header .logo-container > a img {transition:all .3s ease;}
.header .topmenu-container .topmenu-root,
.header .topmenu-container .topmenu-root .nav.nav-one {height: 100%;}
.header .contact-container {margin-left:auto;   padding-right: 30px;}
.header .contact-container,
.header .contact-container a {
    color:#fff;
}
.header .contact-container a:hover,
.header .contact-container a:active {text-decoration:underline;}
.header .contact-inner {display:flex;align-items:center;justify-content:center;height:100%;}
.header .contact-inner .icon {padding-right:10px;}
.header .contact-inner .contact-splitter {padding:0 5px;}

/* =============== Content=================*/
.supersized-container {height:805px;position:relative;} /* Supersized Height - Header Height */


/* =============== Subpage Content =================*/
.subpage .supersized-container {height:405px;} /* Supersized Height - Header Height */

/* ============== Footer ==================*/
.footer {color:#919191;background-color:#2c333b;height:440px;}
.footer-bottombanner b {color:#fff;}
.footer-copyright {padding:10px 0;}

/* ============== Enquiry Form ====================*/
.enquiry-form {width:100%;margin: 0 -10px;}
.enquiry-form td {padding:5px 10px;}
.enquiry-form textarea{height:230px;}

/* ============== Event Comment Form ====================*/
.event-comment-form {width:100%;margin: 0 -10px;}
.event-comment-form td {padding:5px 10px;}
.event-comment-form textarea{height:230px;}

/* =========== Acknowledgement Container =========== */
.ack-container,
.ack-container.row { margin-left: 0;margin-right: 0;border: 1px solid #292929;padding: 10px; border-radius: 5px; color: #292929; background-color: #f5f5f5;}
.ack-container.success {background: #cbffe2;  border: 1px solid #008000; color: #008000;}
.ack-container.error {  background: #ffe7e7; border: 1px solid #c53636; color: #c53636;}

/* ============= Grid Item ===============*/
.grid-items {height: auto; overflow: hidden; margin: 0 -6px;display: flex; flex-wrap: wrap;}
.grid-item {    
    width: 25%;
    height: auto;
    overflow: hidden;
    padding: 0 6px;
    margin-bottom: 15px;
    position: relative;
}
.grid-item-image {    
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    text-align: center;

}
.grid-item-image a{
    display: block;
    width: 100%;
    padding-bottom: 75%;
    height: 0;
}
.grid-item-image img {position: absolute; width: 100%; height: auto;  top: 50%; left: 50%; transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}
.grid-item-image img.potrait {position: absolute; width: auto; height: 100%;  top: 50%; left: 50%; transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}

/* ========== Scrolled ==============*/
body.scrolled .wrapper-container > .header {height:80px;box-shadow: 0px 2px 10px rgba(0,0,0,0.3);}
body.scrolled .wrapper-container > .header .header-inner {margin-top:0;}
body.scrolled .wrapper-container > .header .logo-container > a {margin-top: 0px;height:100%;}
body.scrolled .wrapper-container > .header .logo-container > a img{height:100%;width:auto;padding:10px 0;}

/* ========= Thickbox ===========*/
#ob_container, 
#ob_container *, 
#TB_window, 
#TB_window * {  box-sizing: content-box;}
