﻿.divContactNo {color:#919191;display:table;}
.spanContactNo {display:table-cell; vertical-align:top; padding:0px 5px 0px 20px; color:#c22229;}
.spanQuickEmail{color:#c22229; padding-left:3px;}

.hypQuickEmail {display:table-cell; vertical-align:top; padding:0px 0px 0px 3px;}
a.hypQuickEmail:link {text-decoration:none;}
a.hypQuickEmail:visited {text-decoration:none;}
a.hypQuickEmail:hover {text-decoration:underline;}
a.hypQuickEmail:active {text-decoration: underline;}