﻿@media (max-width: 1350px) {


.header .sidebar-nav {display:block;}
.header .sidebar-nav-toggle{transform:scale(1);}
.header .topmenu-container {display:none;}
.header .contact-container { padding-right:80px}

body {right:0;position:relative;transition:all .3s ease;}
body.open{right:260px; overflow: hidden;}
body.open .sidebar-nav{right:0px; }
body.open .wrapper-container > .header {right:260px;}



}