﻿.divSearchDesc {color:#ffffff; font-size:18px; font-weight:600; margin-bottom:5px;}
.divDDL {float:left; vertical-align:middle; color:#ffffff; border:solid 1px rgba(0,0,0,0.5); width:230px; height:50px; padding:5px ; font-size:18px; color:#bbbbbb; margin-right:10px; outline:none; -webkit-appearance: none; }
.ddlSearch {color:#ffffff; border:solid 1px rgba(0,0,0,0.5); width:8px; height:6px; padding:5px ;  outline:none; overflow:hidden;    -webkit-appearance: none; background:url(../img/usr/icon-arrow-searchbar.gif) no-repeat right #fff; }

.imgbtnSearch {float:left; height:50px; width:50px; background:url(../img/usr/btn-search.png) no-repeat; outline:none; }
.imgbtnSearch:hover {float:left; background:url(../img/usr/btn-search.png) no-repeat 0px -100px; outline:none;}
.divSearchInner {height: auto;}



.styled-select select {
   float:left; background: transparent;
   width: 268px;
   padding: 12px 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 50px;
   -webkit-appearance: none;
   }
   
   .styled-select {
   float:left; 
   width: 230px;
   height: 50px;
   overflow: hidden;
   background: url(../img/usr/icon-arrow-searchbar.gif) no-repeat 210px 20px #ffffff;
   border: 1px solid rgba(0,0,0,0.5);
   margin-right:10px;
   }
   
      .styled-select:hover {
   float:left; 
   width: 230px;
   height: 50px;
   overflow: hidden;
   background: url(../img/usr/icon-arrow-searchbar.gif) no-repeat #ffffff 210px -36px;
   border: 1px solid rgba(0,0,0,0.5);
   margin-right:10px;
   }
   
   
