﻿/* Sibling Pages */
.divCmnSiblingPages {height:auto; overflow:hidden; position:relative;}


/* Table */
.siblingpageTbl {width:100%;padding:20px 40px;}
.tdSiblingPages {}
.siblingpageTbl .tdSpace20 {height:20px;}

.siblingpageTbl .tdPageNo {width:50px; padding-left:10px; /*padding-top:5px;*/}
.siblingpageTbl .tdItem {width:300px; /*padding-top:5px;*/}
.siblingpageTbl .tdDetails {width:350px; /*padding-top:5px;*/}
.siblingpageTbl .tdAct {width:80px; /*padding-top:5px;*/}
.siblingpageTbl .trItem {}
/* End of Table */


/* Buttons & Links */
.btnSP {color:#4a88bf; font-size:14px;}
a.btnSP:link {color:#4a88bf; text-decoration:none;}
a.btnSP:visited {color:#4a88bf; text-decoration:none;}
a.btnSP:hover {color:#000; text-decoration:none;}
a.btnSP:active {color:#000; text-decoration:none;}

.btnSPBold {color:#4a88bf; font-size:14px; font-weight:bold;}
a.btnSPBold:link {color:#4a88bf; text-decoration:none;}
a.btnSPBold:visited {color:#4a88bf; text-decoration:none;}
a.btnSPBold:hover {color:#000; text-decoration:none;}
a.btnSPBold:active {color:#000; text-decoration:none;}

.btnSPDisabled {color:#aaa; font-size:14px;}
a.btnSPDisabled:link {color:#aaa; text-decoration:none;}
a.btnSPDisabled:visited {color:#aaa; text-decoration:none;}
a.btnSPDisabled:hover {color:#aaa; text-decoration:none;}
a.btnSPDisabled:active {color:#aaa; text-decoration:none;}
/* End of Buttons & Links */

/*ss*/
.siblingpageTbl .tdRecords {padding:15px 0px 10px 10px; background:#ffecb1; border-bottom:1px solid #cccccc;} 
.siblingpageTbl .tdNo {width:50px;}
.siblingpageTbl .tdPageName {width:300px;}
.siblingpageTbl .tdLink {width:350px;}
.siblingpageTbl .tdAction {width:80px;border-top:0px solid #000;}
/*ss*/
/* End of Sibling Pages */

/*User View Sibling Pages*/
.lblUsrTitle {color:#4a4a4a; font-weight:bold; text-transform:uppercase; border-bottom:1px solid #cccccc;}
.tdRecordsUser {background:#cccccc;}
/*End User View Sibling Pages*/
