﻿.divSubMenuOuter {}
.divSubMenuHdr {font-size:24px; color:#92cc44; padding-bottom:20px;}
.divSubMenuList {border-right:solid 1px #e0e0e0;}

.hypSubMenuLeft {display:block; color:#5d5d5d; font-size:20px; padding:5px 0px;}
a.hypSubMenuLeft:link {color:#5d5d5d; text-decoration:none;}
a.hypSubMenuLeft:visited {color:#5d5d5d; text-decoration:none;}
a.hypSubMenuLeft:hover {color:#454545; text-decoration:none; background:#ccc; border:solid 5px #ccc;}
a.hypSubMenuLeft:active {color:#454545; text-decoration:none; background:#ccc; border:solid 5px #ccc;}

.hypSubMenuLeftSel {display:block; color:#454545; font-size:20px; padding:5px 0px;}
a.hypSubMenuLeftSel:link {color:#454545; text-decoration:none;}
a.hypSubMenuLeftSel:visited {color:#454545; text-decoration:none;}
a.hypSubMenuLeftSel:hover {color:#454545; text-decoration:none; }
a.hypSubMenuLeftSel:active {color:#454545; text-decoration:none;}

.divSubMenuSpliter {height:1px;width:100%;background:#ccc;}
.divSubMenuRightSpliter {height:5px;width:210px; background:#ccc; float:right;}

/*sub menu level 2*/
.divSubMenuHdrLv2 {padding-bottom:20px;}
.divSubMenuLv2 {padding-left:15px;}
.divSubMenuLv2Splitter {height:2px;width:195px; float:right; border-top:solid 1px #e5e5e5; border-bottom:solid 1px #e5e5e5;}

.hypSubMenuLv2 {font-size:12px; color:#292929; padding:12px 0px 10px 15px; display:block; background:url(../img/usr/arrow-submenu.png)no-repeat 0px 18px;}
a.hypSubMenuLv2:link {color:#292929; text-decoration:none;}
a.hypSubMenuLv2:visited {color:#292929; text-decoration:none;}
a.hypSubMenuLv2:hover {color:#860b07; text-decoration:none; background:url(../img/usr/arrow-submenu.png)no-repeat 0px -37px;}
a.hypSubMenuLv2:active {color:#860b07; text-decoration:none; background:url(../img/usr/arrow-submenu.png)no-repeat 0px -37px;}

.hypSubMenuLv2Sel {font-size:12px; color:#860b07; padding:12px 0px 10px 15px; display:block; background:url(../img/usr/arrow-submenu.png)no-repeat 0px -37px;}
a.hypSubMenuLv2Sel:link {color:#860b07; text-decoration:none;}
a.hypSubMenuLv2Sel:visited {color:#860b07; text-decoration:none;}
a.hypSubMenuLv2Sel:hover {color:#860b07; text-decoration:none;}
a.hypSubMenuLv2Sel:active {color:#860b07; text-decoration:none;}
/*end sub menu level 2*/