.sidebar-nav {
    position: fixed;
    top: 0;
    right: -260px;
    bottom: 0;
    background-color: #292929;
    width: 260px;
    z-index: 100;
    padding:20px 20px;
    transition:all .3s ease;
    display:none;
}

.sidebar-nav .nav {display:flex;flex-direction:column;}

.sidebar-nav .nav ul {position:static;}
.sidebar-nav .nav li{width:100%;float:none;}
.sidebar-nav .nav li a {display:block;width:100%;overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;}

.sidebar-nav .nav-one > li > a{height:40px;padding: 12px 10px;color:#858585;position:relative;  margin: 1px 0px;}
.sidebar-nav .nav-one > li > a:hover{color:#fff;background-color:#2e39ad; }
.sidebar-nav .nav-one > li > a.selected{color:#fff;background-color:#2e39ad; }
.sidebar-nav .nav-one > li > a > i {position:absolute;right:10px; top: 50%; margin-top: -12px;display:none;}

.sidebar-nav .nav-one > li > a.parent > i.add {display:block;}
.sidebar-nav .nav-one > li > a.parent.expanded {color:#fff;}
.sidebar-nav .nav-one > li > a.parent.expanded > i.add{display:none;}
.sidebar-nav .nav-one > li > a.parent.expanded > i.remove{display:block;}

.sidebar-nav .nav-two {display:none;padding-left: 20px;padding-bottom:5px;transform: scale(1);transition:none;background-color:transparent;}
.sidebar-nav .nav-two > li > a,
.sidebar-nav .nav-two > li > a:visited,
.sidebar-nav .nav-two > li > a:link{ background-color:transparent;height: 35px;width:100%;padding: 8px 10px;color:#858585;}
.sidebar-nav .nav-two > li > a:hover,
.sidebar-nav .nav-two > li > a:active{background-color:transparent;color:#fff;}
.sidebar-nav .nav-two > li > a.selected {color:#fff;}

.sidebar-nav .nav-three {display:none;}


.sidebar-nav-toggle {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -10px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    display:block;
  transform: scale(0);
}

.sidebar-nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 30px;
  background: rgba(255,255,255,0.85);
  border-radius: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.sidebar-nav-toggle span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}


.sidebar-nav-toggle span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.sidebar-nav-toggle span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

/* ============== sidebar open ==============*/
body.open .sidebar-nav-toggle span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

body.open .sidebar-nav-toggle span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

body.open .sidebar-nav-toggle span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 19px;
  left: 8px;
}
