* { box-sizing:border-box; }
body{
    font-size:16px;
    font-family:'Roboto', 'san-serif';
    color:#5d5d5d;
}
a ,
a:link ,
a:visited {color:#363bb3;font-size:16px;text-decoration:none;}
a:hover ,
a:active {color:#696de2; text-decoration:none;}
h1, h2, h3, h4 {font-family:'Roboto', 'san-serif'; font-weight:700;color:#5d5d5d;}
h1 {font-size:2.375rem;}
h2 {font-size:1.75rem;}
h3 {font-size:1.375rem;}
h4 {font-size:1.125rem;}
.mstTagline {font-size:3.5rem;font-style:italic;}
.mstTagline2{font-size:1.75rem;}
.mstTagline3{font-size:1.125rem;}
.wrapper-container {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;}
.wrapper-container > .header {}
.wrapper-container > .main-content {}
.wrapper-container > .footer {}

