/*Supersized*/
#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:20px; height:20px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}
	
#supersized {display:block; overflow:hidden; z-index:-999; height:500px; width:100%; margin:0px; padding:0px;} /*position:absolute; left:0; top:135px; */
#supersized img {width:auto; height:auto; position:relative; display:none; outline:none; border:none;}
#supersized.speed img {-ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges;}	/*Speed*/
#supersized.quality img {-ms-interpolation-mode:bicubic; image-rendering: optimizeQuality;}			/*Quality*/
		
#supersized li {display:block; list-style:none; z-index:-30; position:absolute; overflow:hidden; top:0; left:0; width:100%; height:500px;}
#supersized a {width:100%; height:100%; display:block;}
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading {background:#url(../img/cmn/loading.gif) no-repeat center center; width:100%; height:100%;}
#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img {display:inline; margin-top:0px;}

ul#slide-list{padding:15px 0;float:right;position:absolute;right:0px;top:30px; z-index:99999999999;}
ul#slide-list li{list-style:none;width:30px;height:6px;float:right;margin:0 5px 0 0;}
ul#slide-list li.current-slide a,ul#slide-list li.current-slide a:hover{background-position:0 -56px;}
ul#slide-list li a{display:block;width:30px;height:6px;background:url('../img/usr/btn-hover-masthead.png') no-repeat 0 0px;}
ul#slide-list li a:hover{background-position:0 -56px;cursor:pointer;}
/*End Supersized*/

/*Supersized Tagline*/
.divSlideBgTagline 
{
    width:960px;
    height:500px;
    margin:auto;
    overflow:hidden;
    position:relative;
}

#slidedescription
{
    height:auto;
    width:540px;
    position:absolute;
    top:65px;
    right:0px;
    text-align:center; 
}
/*End of Supersized Tagline*/