/*Supersized*/
#supersized-loader { position:absolute; top:50%; left:0%; z-index:0; width:20px; height:20px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}
	
#supersized { display:block; position:absolute; left:0; top:0px; overflow:hidden; z-index:-999; max-height:550px; height:550px; width:100%; max-width:1920px; margin:0px; padding:0px; float:left;}
#supersized li {display:block; list-style:none; z-index:-30; position:absolute; overflow:hidden; top:0; left:0; width:100%;}
#supersized img {width:auto; height:auto; position:relative; display:none; outline:none; border:none;top:0px !important; }
#supersized.speed img {-ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges;}	/*Speed*/
#supersized.quality img {-ms-interpolation-mode:bicubic; image-rendering: optimizeQuality;}			/*Quality*/
		
#supersized a {width:100%; height:100%; display:block;transition:all 8s ease-out;}
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading {background:#url(../img/cmn/loading.gif) no-repeat center center; width:100%; height:100%;}
#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img {display:inline; margin-top:0px;}

ul#slide-list{
    position: absolute;
    right: 50px;
    bottom: 150px;
    z-index: 9999;
    padding: 0;    
    margin: 0px;
    display: flex;
}
ul#slide-list li{ list-style:none; margin:0 5px; width: 10px;height: 10px;    display: flex;justify-content: center; align-items: center;}
ul#slide-list li.current-slide a,
ul#slide-list li.current-slide a:hover{ width: 10px; height: 10px;}
ul#slide-list li a{    
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #2e39ad;
    cursor:pointer;
    transition:all .3s ease;
}
ul#slide-list li a:hover{width: 10px; height: 10px;}

#slidedescription
{
    height:100%;
    width:100%;
    margin:auto;
}

