﻿/* General */
.topMenuItem {display:block; color:#706f6f; background:transparent; padding:20px 0px; font-size:16px; font-weight:400;}
a.topMenuItem:link {color:#706f6f; text-decoration:none;}
a.topMenuItem:visited {color:#706f6f; text-decoration:none;}
a.topMenuItem:hover {color:#009fe3; text-decoration:none;}
a.topMenuItem:active {color:#009fe3; text-decoration:none;}

.topMenuItemSel {display:block; color:#009fe3; background:transparent; padding:20px 0px; font-size:16px; font-weight:400;}
a.topMenuItemSel:link {color:#009fe3; text-decoration:none;}
a.topMenuItemSel:visited {color:#009fe3; text-decoration:none;}
a.topMenuItemSel:hover {color:#009fe3; text-decoration:none;}
a.topMenuItemSel:active {color:#009fe3; text-decoration:none;}

a.topMenuSub:link, a.topMenuSub:visited {color:#7bb8f6;}
a.topMenuSub:hover, a.topMenuSub:active, a.topMenuSubSel:link, a.topMenuSubSel:visited, a.topMenuSubSel:hover, a.topMenuSubSel:active {color:#fff;}

.topMisMenuItem {display:block; color:#434343; font-size:12px; margin-bottom:15px;}
a.topMisMenuItem:link { color:#434343; text-decoration:none;}
a.topMisMenuItem:visited { color:#434343; text-decoration:none;}
a.topMisMenuItem:hover { color:#860b07; text-decoration:none;}
a.topMisMenuItem:active { color:#860b07; text-decoration:none;}

.topMisMenuItemSel {display:block; color:#860b07; font-size:12px; margin-bottom:15px;}
a.topMisMenuItemSel:link { color:#860b07; text-decoration:none;}
a.topMisMenuItemSel:visited { color:#860b07; text-decoration:none;}
a.topMisMenuItemSel:hover { color:#860b07; text-decoration:none;}
a.topMisMenuItemSel:active { color:#860b07; text-decoration:none;}

a.SubMenuParent {background:url(../img/usr/arrow-dropdown.png)no-repeat 160px 15px;}
a.SubMenuParent:hover {background:url(../img/usr/arrow-dropdown.png)no-repeat 160px -40px;}

/*a.hypTopSubMenuLv2:link {color:#ffffff; text-decoration:none;}
a.hypTopSubMenuLv2:visited {color:#ffffff; text-decoration:none;}
a.hypTopSubMenuLv2:hover {color:#ff9900; text-decoration:none; }
a.hypTopSubMenuLv2:active {color:#ff9900; text-decoration:none; }

a.hypTopSubMenuLv2Sel:link {color:#ff9900; text-decoration:none;}
a.hypTopSubMenuLv2Sel:visited {color:#ff9900; text-decoration:none;}
a.hypTopSubMenuLv2Sel:hover {color:#ff9900; text-decoration:none;}
a.hypTopSubMenuLv2Sel:active {color:#ff9900; text-decoration:none;}*/


.divSubMenuLv2 {}
.ulTopmenu {margin:0; padding:0; height:auto; overflow:hidden;}
.liTopMenu {margin:0; list-style:none; height:auto;}
.divTopMenuInnerContainer {height:auto; overflow:visible; position:relative;}
.divTopMenuInnerContainer .active a {background:#d21820;}
.divTopSpliter {float:left; width:25px; height:1px; display:block;}
.divTopTopSpliter {float:left; width:15px; height:1px; display:block;}

/* End of General */
.divTopSubMenuSpliter{height:1px;width:100%;background:transparent; border-bottom:dotted 1px #fff; margin:auto;}