﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mst/mobile/publicmb.master" AutoEventWireup="true" CodeFile="pagemb.aspx.cs" Inherits="usr_page" ValidateRequest="false" %>
<%@ MasterType VirtualPath="~/mst/mobile/publicmb.master" %>
<%@ Register Src="~/ctrl/mobile/ucUsrContent.ascx" TagName="UsrContent" TagPrefix="uc" %>

<asp:Content ID="Content2" ContentPlaceHolderID="cphHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphContent" Runat="Server">
    <uc:UsrContent ID="ucUsrContent" runat="server"/>
</asp:Content>
