﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mst/private.master" AutoEventWireup="true" validateRequest="false" EnableEventValidation="false" CodeFile="userManual.aspx.cs" Inherits="adm_userManual" %>
<%@ MasterType VirtualPath="~/mst/private.master" %>
<%@ Register Src="~/ctrl/ucAdmUserManual.ascx" TagName="AdmUserManual" TagPrefix="uc" %>


 <asp:Content ID="Content1" ContentPlaceHolderID="cphHead" Runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="cphContent" Runat="Server">
    <uc:AdmUserManual id="AdmUserManual" runat="server" />
</asp:Content>