﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mst/public_blank_tb.master" AutoEventWireup="true" CodeFile="map.aspx.cs" Inherits="usr_map" %>

<asp:Content ID="Content2" ContentPlaceHolderID="cphHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphContent" Runat="Server">
    <div class="divMap">
        <div class="divMapContainer">
            <asp:Panel ID="pnlMap" runat="server">
            </asp:Panel>
        </div>
    </div>
</asp:Content>