﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mst/public_sub_one_column.master" AutoEventWireup="true" CodeFile="pagesub.aspx.cs" Inherits="usr_pagesub" ValidateRequest="false" %>
<%@ MasterType VirtualPath="~/mst/public_sub_one_column.master" %>
<%@ Register Src="~/ctrl/ucUsrCMS.ascx" TagName="UsrCMS" TagPrefix="uc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphContent" Runat="Server">
   <uc:UsrCMS ID="ucUsrCMS" runat="server" />
</asp:Content>
