﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mst/public.master" AutoEventWireup="true" CodeFile="page.aspx.cs" Inherits="usr_page" ValidateRequest="false" %>
<%@ MasterType VirtualPath="~/mst/public.master" %>
<%@ Register Src="~/ctrl/ucUsrCMS.ascx" TagName="UsrCMS" TagPrefix="uc" %>

<asp:Content ID="Content2" ContentPlaceHolderID="cphHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphContent" Runat="Server">
    <uc:UsrCMS ID="ucUsrCMS" runat="server" />
</asp:Content>
