﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mst/public_blank.master" AutoEventWireup="true" CodeFile="pageblank.aspx.cs" Inherits="usr_pageblank" ValidateRequest="false" %>
<%@ MasterType VirtualPath="~/mst/public_blank.master" %>
<%@ Register Src="~/ctrl/ucUsrCMS.ascx" TagName="UsrCMS" TagPrefix="uc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphHead" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphContent" Runat="Server">
   <uc:UsrCMS ID="ucUsrCMS" runat="server" />
</asp:Content>
