﻿.animate-column{
    opacity:0;
    transition:all .5s ease-in-out;
    transform: matrix(1, 0, 0, 1, 0, -30);
}
.animate-column.active{
    opacity:1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}
.divPageSplitter .shape a.diamond{
    right:800px;
}
.divPageSplitter .shape a.diamond.moving{
    animation: rotate 2s linear 1;
    right:0;
    transition: all 2s ease-in-out;
}
.divPageSplitter .shape a.diamond.moved{
    right:0;
}

#tblBnnServices img{
    transform:scale(0.1);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
            
#tblBnnServices img.active{transform:scale(1);}
#tblBnnServices img.active.icon-second{ transition-delay: .3s;}
#tblBnnServices img.active.icon-third{transition-delay: .5s;}
#tblBnnServices img.active.icon-fourth{transition-delay: .8s; }
#tblBnnServices img.active.icon-fifth{transition-delay: 1.0s; }

.delay-item{-webkit-animation-delay: 0.4s; animation-delay: 0.4s;}
.delay-item-1{-webkit-animation-delay: 0s; animation-delay: 0s;}
.delay-item-2{-webkit-animation-delay: 0.2s; animation-delay: 0.2s;}
.delay-item-3{-webkit-animation-delay: 0.4s; animation-delay: 0.4s;}
.delay-item-4{-webkit-animation-delay: 0.6s; animation-delay: 0.6s;}
.delay-item-5{-webkit-animation-delay: 0.8s; animation-delay: 0.8s;}
.delay-item-6{-webkit-animation-delay: 1s; animation-delay: 1s;}
.delay-item-7{-webkit-animation-delay: 1.2s; animation-delay: 1.2s;}

.tblLivePengerangItem{
    display:none;
}
.tblLivePengerangItem.active{
    display:block;
}