﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="public_blank.master.cs" Inherits="mst_public_blank" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="cphHead2" runat="server">
        <link href="<% =System.Configuration.ConfigurationManager.AppSettings["cssBase"] %>ui-lightness/jquery-ui-1.8.7.custom.css" rel="Stylesheet" type="text/css" />
        <link href="<% =System.Configuration.ConfigurationManager.AppSettings["cssBase"] %>public.css" rel="Stylesheet" type="text/css" />
        <link href="<% =System.Configuration.ConfigurationManager.AppSettings["cssBase"] %>thickbox.css" rel="Stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css' />
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <script src="<% =System.Configuration.ConfigurationManager.AppSettings["jsBase"] %>config.js" type="text/javascript"></script>
        <script src="<%= System.Configuration.ConfigurationManager.AppSettings["jsBase"] %>jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="<% =System.Configuration.ConfigurationManager.AppSettings["jsBase"] %>jquery-ui-1.8.12.custom.min.js" type="text/javascript"></script>
        <script src="<% =System.Configuration.ConfigurationManager.AppSettings["jsBase"] %>thickbox.js" type="text/javascript"></script>
        <meta name="keywords" content="<% =System.Configuration.ConfigurationManager.AppSettings["keywords"] %>" />
        <meta name="description" content="<% =System.Configuration.ConfigurationManager.AppSettings["description"] %>" />
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder id="cphHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="scriptmanager1" runat="server"></asp:ScriptManager>
    <div class="divAskShareBG"><asp:ContentPlaceHolder id="cphContent" runat="server"></asp:ContentPlaceHolder></div>
    </form>
</body>
</html>
