﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="public_sub_one_column.master.cs" Inherits="mst_public_sub" %>

<%@ Register Src="~/ctrl/ucUsrCMSContainer.ascx" TagName="UsrCMSContainer" TagPrefix="uc" %>
<%@ Register Src="~/ctrl/ucUsrAdminLogout.ascx" TagName="UsrAdminLogout" TagPrefix="uc" %>

<%@ Register Src="~/ctrl/ucUsrBackground.ascx" TagName="UsrBackground" TagPrefix="uc" %>
<%@ Register Src="~/ctrl/ucUsrHeader.ascx" TagName="UsrHeader" TagPrefix="uc" %>
<%@ Register Src="~/ctrl/ucUsrFooter.ascx" TagName="UsrFooter" TagPrefix="uc" %>

<%@ Register Src="~/ctrl/ucCmnIcon.ascx" TagName="CmnIcon" TagPrefix="uc" %>
<%@ Register Src="~/ctrl/ucCmnHeader.ascx" TagName="CmnHeader" TagPrefix="uc" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="cphHead" runat="server">
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="cphHead2" runat="server">
        <uc:CmnHeader ID="ucCmnHeader" runat="server" />
        <link type="text/css" href="<% =System.Configuration.ConfigurationManager.AppSettings["cssBase"] %>supersized.subpage.css" rel="Stylesheet" />
    </asp:ContentPlaceHolder>
</head>
<body runat="server" id="BodyID" class="bodySubpage">
    <form id="form1" runat="server">
        <uc:CmnIcon ID="ucCmnIcon" runat="server" />
        <asp:ScriptManager ID="scriptmanager1" runat="server">
        </asp:ScriptManager>
        <asp:HiddenField ID="hfVSFileName" runat="server" />
        <uc:UsrAdminLogout ID="ucUsrAdminLogout" runat="server" />

        <div class="wrapper-container subpage">
            <div id="header" class="header">
                <uc:UsrHeader ID="ucUsrHeader" runat="server" />
            </div>
            <div class="main-content">
                <uc:UsrBackground ID="ucUsrBackground" runat="server" />
                <div class="page-title" runat="server" visible="false">
                    <h1><asp:Literal ID="litPageDName" runat="server"></asp:Literal></h1>
                </div>
                <div class="page-content">
                    <asp:ContentPlaceHolder ID="cphContent" runat="server"></asp:ContentPlaceHolder>
                </div>
                <div class="banner-content">
                    <uc:UsrCMSContainer ID="ucUsrCMSBanner" runat="server" blockId="1" cmsType="3" />
                </div>
            </div>
            <div id="footer" class="footer">
                <uc:UsrFooter ID="ucUsrFooter" runat="server" />
            </div>
        </div>
    </form>
</body>
</html>