﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucUsrContent.ascx.cs" Inherits="ctrl_mobile_ucUsrContent" %>

<asp:Panel ID="pnlContent" runat="server" CssClass="divContent">
    <asp:Literal ID="litContent" runat="server"></asp:Literal>
</asp:Panel>
