﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucUsrWebteqmb.ascx.cs" Inherits="ctrl_ucUsrWebteq" %>

<asp:Panel ID="pnlWebteq" runat="server" CssClass="divWebteqContainerOuter" Visible="false">
    <asp:HyperLink ID="hypWebteq" runat="server">
        <asp:Image ID="imgWebteqLogo" runat="server" BorderWidth="0" />
    </asp:HyperLink>
</asp:Panel>
