﻿/* Admin Copy */
.divAdmCopy {height:auto; overflow:hidden; margin-bottom:40px;}
.divAdmCopyText {height:auto; overflow:hidden; color:#5e5e5e; padding-right:10px; padding-top:3px; }
.divAdmCopyLogo {height:auto; overflow:hidden; float:left;}
/* End of Admin Copy */