﻿.row,.col-half,.col-full,.box{  box-sizing: border-box; }
.row { }
.col-half,.col-full{ 
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    
}
.col-half{width:100%;}
.col-full{width:100%;}
.row .col-half:only-child {
    width:100%;
}
.row:after,.row:before{display: table;content: " ";}
.row:after{clear:both;}

.box:after,.box:before{display: table;content: " ";}

.box{
    width:100%;
    position: relative;  
    margin-bottom:20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color:#fff;
}
.box .box-header{ padding: 20px; }
.box .box-header .title {text-transform:capitalize;font-size:180%;}
.box .box-body{  padding: 10px;}
.box .box-footer{}

.divDashboardContainer {margin-top:120px;}
.divDashboard {padding-top:10px;}
.divContent{background-color:#ECF0F5;}
.pika-single.is-bound{position:absolute !important}
#date-range-selector-container label {width: 75px;display: inline-block;}