﻿/* Admin Menu */
.divAdmMenu {height:100%; overflow:hidden; clear:both; background:#434343; position:absolute; left:0px; top:116px; width:100%;}
.divAdmMenuInner {padding:20px;}
.divSubMenu {padding-top:5px; padding-bottom:15px; background:#434343;}

/* Buttons & Links */
.menuLinkDashboard ,
a.menuLinkDashboard:link ,
a.menuLinkDashboard:visited {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-dashboard.png') no-repeat 15px 12px; padding:11px 15px 11px 35px; margin-bottom:1px;}
a.menuLinkDashboard:hover,
a.menuLinkDashboard:active {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-dashboard.png') no-repeat 15px -54px;}

.menuLinkDashboardSel ,
a.menuLinkDashboardSel:link,
a.menuLinkDashboardSel:visited,
a.menuLinkDashboardSel:hover,
a.menuLinkDashboardSel:active{display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-dashboard.png') no-repeat 15px -54px; padding:11px 15px 11px 35px;}

.menuLinkWebsite ,
a.menuLinkWebsite:link ,
a.menuLinkWebsite:visited {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-website.gif') no-repeat 15px 12px; padding:11px 15px 11px 35px; margin-bottom:1px;}
a.menuLinkWebsite:hover,
a.menuLinkWebsite:active {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-website.gif') no-repeat 15px -52px;}

.menuLinkWebsiteSel ,
a.menuLinkWebsiteSel:link,
a.menuLinkWebsiteSel:visited,
a.menuLinkWebsiteSel:hover,
a.menuLinkWebsiteSel:active{display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-website.gif') no-repeat 15px -52px; padding:11px 15px 11px 35px;}

.menuLinkProduct ,
a.menuLinkProduct:link ,
a.menuLinkProduct:visited {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-product.gif') no-repeat 15px 12px; padding:11px 15px 11px 36px; margin-bottom:1px}
a.menuLinkProduct:hover,
a.menuLinkProduct:active {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-product.gif') no-repeat 15px -53px;}

.menuLinkProductSel ,
a.menuLinkProductSel:link,
a.menuLinkProductSel:visited,
a.menuLinkProductSel:hover,
a.menuLinkProductSel:active{display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-product.gif') no-repeat 15px -53px; padding:11px 15px 11px 36px;}

.menuLinkUser ,
a.menuLinkUser:link ,
a.menuLinkUser:visited {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-user.gif') no-repeat 15px 12px; padding:11px 15px 11px 35px; margin-bottom:1px}
a.menuLinkUser:hover,
a.menuLinkUser:active {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-user.gif') no-repeat 15px -55px;}

.menuLinkUserSel ,
a.menuLinkUserSel:link,
a.menuLinkUserSel:visited,
a.menuLinkUserSel:hover,
a.menuLinkUserSel:active{display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-user.gif') no-repeat 15px -55px; padding:11px 15px 11px 35px;}

.menuLinkOrder ,
a.menuLinkOrder:link ,
a.menuLinkOrder:visited {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-order.gif') no-repeat 15px 12px; padding:11px 15px 11px 36px; margin-bottom:1px}
a.menuLinkOrder:hover,
a.menuLinkOrder:active {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-order.gif') no-repeat 15px -52px;}

.menuLinkOrderSel ,
a.menuLinkOrderSel:link,
a.menuLinkOrderSel:visited,
a.menuLinkOrderSel:hover,
a.menuLinkOrderSel:active{display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-order.gif') no-repeat 15px -52px; padding:11px 15px 11px 36px;}

.menuLinkEnquiry ,
a.menuLinkEnquiry:link ,
a.menuLinkEnquiry:visited {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-enquiry.gif') no-repeat 15px 12px; padding:11px 15px 11px 36px; margin-bottom:1px}
a.menuLinkEnquiry:hover,
a.menuLinkEnquiry:active {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-enquiry.gif') no-repeat 15px -51px;}

.menuLinkEnquirySel ,
a.menuLinkEnquirySel:link,
a.menuLinkEnquirySel:visited,
a.menuLinkEnquirySel:hover,
a.menuLinkEnquirySel:active{display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-enquiry.gif') no-repeat 15px -51px; padding:11px 15px 11px 36px;}

.menuLinkDefault ,
a.menuLinkDefault:link ,
a.menuLinkDefault:visited {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-default.gif') no-repeat 15px 12px; padding:11px 15px 11px 36px;}
a.menuLinkDefault:hover,
a.menuLinkDefault:active {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-default.gif') no-repeat 15px -52px;}

.menuLinkDefaultSel ,
a.menuLinkDefaultSel:link,
a.menuLinkDefaultSel:visited,
a.menuLinkDefaultSel:hover,
a.menuLinkDefaultSel:active{display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-default.gif') no-repeat 15px -52px; padding:11px 15px 11px 36px;}

.menuLinkLogOut {}
a.menuLinkLogOut:link ,
a.menuLinkLogOut:visited {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-logout.png') no-repeat 15px 12px; padding:11px 15px 11px 36px;}
a.menuLinkLogOut:hover,
a.menuLinkLogOut:active {display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-logout.png') no-repeat 15px -53px;}

.menuLinkLogOutSel ,
a.menuLinkLogOutSel:link,
a.menuLinkLogOutSel:visited,
a.menuLinkLogOutSel:hover,
a.menuLinkLogOutSel:active{display: block; color:#ffffff; height:auto; background:url('../../img/adm/mobile/icon-menu-logout.png') no-repeat 15px -53px; padding:11px 15px 11px 36px;}

.menuLink,
a.menuLink:link ,
a.menuLink:visited {display: block; color:#ffffff; height:auto; background:#373737; padding:11px 15px 11px 20px;}
a.menuLink:hover,
a.menuLink:active {display: block; color:#ffffff; height:auto; background:#4f4f4f;}

.menuLinkSel ,
a.menuLinkSel:link,
a.menuLinkSel:visited,
a.menuLinkSel:hover,
a.menuLinkSel:active{display: block; color:#ffffff; height:auto; background:#4f4f4f; padding:11px 15px 11px 20px;}

.submenuLink ,
a.submenuLink:link,
a.submenuLink:visited { display: block; padding: 10px 20px 0px 20px; margin: 0px 0px;color: #ffffff; background:#434343; }
a.submenuLink:hover ,
a.submenuLink:active {color:#fff; }

.submenuLinkSel,
a.submenuLinkSel:link,
a.submenuLinkSel:visited {color:#fff; background:#434343; display: block; padding: 10px 20px 0px 20px; margin: 0px 0px;}
a.submenuLinkSel:hover,
a.submenuLinkSel:active {color:#fff; display: block; padding: 10px 20px 0px 20px; margin: 0px 0px;}

.subsubmenuLink,
a.subsubmenuLink:link,
a.subsubmenuLink:visited { display: block; margin: 0px 10px;color: #ffffff; }
a.subsubmenuLink:hover,
a.subsubmenuLink:active {color:#fff;background-color:#04e2e5 }

.subsubmenuLinkSel,
a.subsubmenuLinkSel:link,
a.subsubmenuLinkSel:visited,
a.subsubmenuLinkSel:hover,
a.subsubmenuLinkSel:active {color:#fff;background-color:#04e2e5;  display: block;padding: 8px 20px;margin: 0px 10px;}
/* End of Buttons & Links */


/* End of Admin Menu */
