﻿/* Admin Personalization */
.divAdmPersonalization {height:auto; overflow:hidden;}
.divAdmPersonalizationDetailsTop {height:auto; overflow:hidden; font-size:112.5%; background:#ececec; padding:15px 20px; width:100%;}
.divAdmPersonalizationDetailsTop a:link,.divAdmPersonalizationDetailsTop a:visited{color:#434343;}
.divAdmPersonalizationDetailsTop a:hover,.divAdmPersonalizationDetailsTop a:active{text-decoration:none; color:#05e2e5;}

.divAdmPersonalizationDetailsBottom {height:auto; overflow:hidden; font-size:112.5%; background:#ececec; padding:15px 0px 15px 0px; width:100%; border-top:solid 1px #ccc; width:100%;}

.divAdmPersonalizationDetailsBottom a:link, .divAdmPersonalizationDetailsBottom a:visited{color:#434343;}
.divAdmPersonalizationDetailsBottom a:hover, .divAdmPersonalizationDetailsBottom a:active{text-decoration:none; color:#05e2e5;}
.divTime {color:#434343; background-image:url('../../img/adm/icon-time.gif'); background-repeat:no-repeat; background-position:0 0;  padding-left:30px; display:inline-block; height: 20px; font-size:90.5%;}
.divProject {color:#434343; padding-left:20px; display:inline-block;}
.spanTime {font-weight:700;}
.divAdmPersonalizationLeft {}
.divAdmPersonalizationRight {}
/* End of Admin Personalization */
