﻿/* Admin User View */
.divAdmUserView {height:auto; overflow:hidden;}
.divAdmUserViewLink {text-align:center;font-size:87.5%;}


/* Buttons & Links */
.admUserViewLink ,
a.admUserViewLink:link ,
a.admUserViewLink:visited {color:#434343;background-position: center top 14px;background-color:#191919;height:50px;line-height: 50px;display:block;background-repeat:no-repeat;}
a.admUserViewLink:hover ,
a.admUserViewLink:active {color:#fff; background-position:center top -56px; background-color:#191919; text-decoration:none;}
/* End of Buttons & Links */

.manageUserView{background-image:url('../../img/adm/mobile/btn-manage-userview-.gif');}
.gotoUserView{background-image:url('../../img/adm/mobile/btn-goto-userview.gif');}
.updateProfile{background-image:url('../../img/adm/mobile/btn-profile.gif');}

/* End of Admin User View */
