﻿.divEventList {height:auto; overflow:hidden;}
.divEventItemOuter {height:auto; overflow:hidden; width:100%;}
.divEventItem {height:auto; overflow:hidden; display:table; width:100%;}
.divEventContent {height:auto; overflow:hidden;}
.divListPaginationInner {height:auto; overflow:hidden; text-align:left;}
.divListPaginationTop {height:auto; overflow:hidden; margin-bottom:10px; width:auto; float:left;}
.divListPaginationBottom {height:auto; overflow:hidden; padding-top:15px;}

.divDdlSort {float:right; padding-left:15px; font-size:13px;}
.ddl_sort, .ddl_filter { padding:5px; background:#fff; color:#656565; border:1px solid #dedede; font-style:italic; font-size:13px; outline:none;}
.ddl_sort {width:110px;}
.ddl_filter {width:70px;}

.divEventImage {overflow:hidden; width:auto; height:auto; padding-bottom:10px;}
.divEventImg {overflow:hidden; /*padding:7px;*/ display:table; width:100%; height:auto; webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.divEventImgInner {position:relative; overflow:hidden; width:100%; height:auto; vertical-align:middle; display:table-cell; background:url('../img/usr/img-not-available.jpg') no-repeat;}
.divEventImgInner img {width:100% !important; height:auto !important; background:url('../img/usr/img-not-available.jpg') no-repeat;}

.divEventDetails {height:auto; overflow:hidden; }
.divEventName {height:auto; overflow:hidden; padding-bottom:5px;display:flex;align-items: center;}
.divEventStartDate {height:auto; overflow:hidden; padding-bottom:5px;font-size:130%; color:#f45449; font-weight:300;display:flex;align-items: center;}
.divEventStartDate {color:#292929; }
.divEventSnapshot {height:auto; overflow:hidden; text-align:justify;}

.divEventSpliter {overflow:hidden; width:100%; height:25px;}

.hypEventName,
a.hypEventName:link,
a.hypEventName:visited,
a.hypEventName:hover,
a.hypEventName:active{font-size:1.125rem; font-weight:400;color:#5d5d5d;}

.btnPagination {color:#919191;}
a.btnPagination:link {color:#919191; text-decoration:none;}
a.btnPagination:visited {color:#919191; text-decoration:none;}
a.btnPagination:hover {color:#ff0000; text-decoration:none;}
a.btnPagination:active {color:#ff0000; text-decoration:none;}

.btnPaginationSel {color:#ff0000;}
a.btnPaginationSel:link {color:#ff0000; text-decoration:none;}
a.btnPaginationSel:visited {color:#ff0000; text-decoration:none;}
a.btnPaginationSel:hover {color:#ff0000; text-decoration:none;}
a.btnPaginationSel:active {color:#ff0000; text-decoration:none;}

.divEventItemOuter .fa-stack{ display:none; font-size:16px;margin-right: 8px;}
.divEventItemOuter .fa-stack-1x {
    line-height: inherit;
    color: white;
    font-size: 12px;
}
.divEventItemOuter .fa-stack-1x.info{
    font-size: 16px;
    font-family: san-s;
    font-weight: 700;
}