﻿.divIndEvent {height:auto; overflow:hidden;}
.divIndEvtDate {}
.divIndEvtName {float:left;}
.divIndEvtBack {float:right; padding-top:5px;}
.divIndEventDate {height:auto; overflow:hidden; padding-bottom:5px; font-size:130%; color:#f45449; font-weight:300;}
.divIndEventTitle {height:auto; overflow:hidden; font-size:14px; color:#101261;}
.divIndEventDesc {height:auto; overflow:hidden; padding-bottom:10px; text-align:justify;}

.divEventRow {height:auto; overflow:hidden; width:100%; display:table; -moz-box-sizing: border-box; box-sizing: border-box;}
.two-columns {width: 49% !important; display: table-cell; /*padding:5px; border:solid 1px #cccccc;*/ -moz-box-sizing: border-box; box-sizing: border-box;}

/*
.divEventGallList {height:auto; overflow:hidden;}
.divEventGalleryItems {height:auto; overflow:hidden; float:left; width:auto; border:1px solid #cccccc; padding:2px; background:#ffffff; margin:2px; margin-bottom:10px;}
.divEventGalleryImg {overflow:hidden; padding:3px; border:solid 1px #dedede;}
.divEventGalleryImgInner {vertical-align:middle; text-align:center; width:112px; height:84px; position:relative; overflow:hidden;}
.divEventGalleryItems img {width:100% !important; height:auto !important; }*/

.divEventGallList {height:auto; overflow:hidden; padding-top:10px;}
.divEventGallList .fa-stack-1x {font-size:16px;color:#fff;}
.divEventGallList .fa-stack-2x{font-size:36px;}
.divEventGallList .event-title {display:flex;align-items:center;margin-bottom:10px;}
.divEventGallList .event-title h2 {margin-bottom:0;}
.divEventGalleryItems {height:auto; overflow:hidden; float:left; width:auto; margin-right:2%; margin-bottom:10px; position:relative;}
.divEventGalleryItemsLast {height:auto; overflow:hidden; float:left; width:auto; margin-bottom:10px; position:relative;}
.divEventGalleryImg {height:auto; overflow:hidden; background:#ffffff;  -moz-box-sizing: border-box; box-sizing: border-box; position:relative;}
.divEventGalleryImgInner {width:100%; height:auto; overflow:hidden; }
.divEventGalleryImgInner img {margin:auto; position:absolute;}

.hypEventGalleryVid {width:100%; height:100%; display:block; background-size:cover;}
.imgPlay {position:absolute; display:block; width:56px; height:56px; background:url(../../img/usr/mobile/btn-play.png)no-repeat 0px 0px; border:none; top:30%; left:44%;}
.hypEventGalleryVid:hover .imgPlay {background:url(../../img/usr/mobile/btn-play.png)no-repeat 0px -106px;}
.divWaterMark {position:absolute; top:0; left:0; height:100%; width:100%; background:url('../../img/usr/icon-play-video.png') no-repeat 50% 50%, rgba(0, 0, 0, 0.40);}
.divWaterMark:hover {background:none;}

.hypIndEvtBack {font-size:12px; color:#3d2314;}
.hypIndEvtBack:link {color:#3d2314; text-decoration:none;}
.hypIndEvtBack:visited {color:#3d2314; text-decoration:none;}
.hypIndEvtBack:hover {color:#3d2314; text-decoration:underline; }
.hypIndEvtBack:active {color:#3d2314; text-decoration:underline;}

.lazyload {opacity: 0;}
.lazyloading {opacity: 1;transition: 300ms opacity;background: #f7f7f7 url(../img/cmn/loading.gif) no-repeat center;min-height: 60px;}

.event-item { margin-bottom: 30px;}
.event-item .event-title .icon {display:none;}

/* =========== Event Comment ============== */
.event-comment-container {margin-bottom: 40px;}
.event-comment-container .event-title .icon{display:none;}
.event-comments {}
.event-comment {display:flex;flex-wrap: wrap;border-bottom:1px solid #ddd;padding: 20px 0px 20px 0px;}
.event-comment:first-child {padding-top:0;}
.event-comment-author{flex-basis: 100%; flex-grow: 0; flex-shrink: 0;padding: 10px 0px 0px 0px;display:flex;}
.event-comment-author-name {}
.event-comment-postdate{margin-left:auto;}
.event-comment-contet {flex-basis: 100%; flex-grow: 0; flex-shrink: 0;padding: 10px 0px 10px 0px;}
.event-comment-reply{
    flex: 0 0 100%;
    background-color: #2e39ad;
    color: #fff;
    position: relative;
    padding: 10px 15px 10px 40px;
    margin-top: 0;
    margin-left: auto;
}
.event-comment-reply .icon {position:absolute;left:10px;top:5px;}