﻿.nav {margin:0;padding:0;}
.nav li {list-style:none;margin:0;padding:0;}
.nav li a {font-size:1rem;min-height:50px;display:flex;align-items:center;}

.nav.nav-one > li.splitter {display:none;}
.nav.nav-one > li > div > a,
.nav.nav-one > li > div > a:link,
.nav.nav-one > li > div > a:visited {position:relative;padding:0 20px;}
.nav.nav-one > li > div > a:hover,
.nav.nav-one > li > div > a:active {background-color:#fff;color:#2e39ad;}
.nav.nav-one > li > div > a {border-top:1px solid #5d69e3;}
.nav.nav-one > li > div > a.selected {background-color:#fff;color:#2e39ad;}
.nav.nav-one > li > div > a > i { 
    width:50px;
    height:50px;
    line-height: 50px;
    text-align:center;
    position: absolute;
    right: 0px; 
    display: none;
}
.nav.nav-one > li > div > a.parent > i.add {display: block;}
.nav.nav-one > li > div > a.parent.expand > i.add {display: none;}
.nav.nav-one > li > div > a.parent.expand > i.remove {display: block;}

.nav.nav-two {display:none;}
.nav.nav-two > li > div > a,
.nav.nav-two > li > div > a:link,
.nav.nav-two > li > div > a:visited{padding-left:40px;}
.nav.nav-two > li > div > a:hover,
.nav.nav-two > li > div > a:active,
.nav.nav-two > li > div > a.selected {background-color:#666ff0;}

.nav.nav-three > li > a,
.nav.nav-three > li > a:link,
.nav.nav-three > li > a:visited{padding-left:60px;}
.nav.nav-three > li > a:hover,
.nav.nav-three > li > a:active,
.nav.nav-three > li > a.selected {background-color:#666ff0;}


.footer-bottommenu .nav{}
.footer-bottommenu .nav.nav-one{display:flex;}
.footer-bottommenu .nav.nav-one > li {flex:1;}
.footer-bottommenu .nav.nav-one > li > a {
    height:75px;
    color:#858585;
    font-size:0.625rem;
    font-weight:400;
    flex-direction: column;
}
.footer-bottommenu .nav.nav-one > li > a > i { 
    background-image:url('../../img/usr/button/icon-btm-panel.png');
    background-repeat: no-repeat; 
    background-position: top center;
    background-size: 500% 200%;
    width: 100%;
    max-width: 50px;
    flex: 0 0 50%;
    margin-bottom: 5px;
}
.footer-bottommenu .nav.nav-one > li > a > i:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.footer-bottommenu .nav.nav-one > li > a > span {display:block;}

.footer-bottommenu .nav.nav-one > li > a:hover,
.footer-bottommenu .nav.nav-one > li > a:active,
.footer-bottommenu .nav.nav-one > li > a.selected{ color:#1d53ac;}

.footer-bottommenu .nav.nav-one > li > a:hover > i,
.footer-bottommenu .nav.nav-one > li > a:active > i,
.footer-bottommenu .nav.nav-one > li > a.selected > i {
    background-position-y: 100% !important;
}


.footer-bottommenu .nav.nav-one > li > a.disabled,
.footer-bottommenu .nav.nav-one > li > a.disabled:link,
.footer-bottommenu .nav.nav-one > li > a.disabled:visited,
.footer-bottommenu .nav.nav-one > li > a.disabled:hover,
.footer-bottommenu .nav.nav-one > li > a.disabled:active {
    color: #858585;
    opacity: 0.4;
}
.footer-bottommenu .nav.nav-one > li > a.disabled > i,
.footer-bottommenu .nav.nav-one > li > a.disabled:link > i,
.footer-bottommenu .nav.nav-one > li > a.disabled:visited > i,
.footer-bottommenu .nav.nav-one > li > a.disabled:hover > i,
.footer-bottommenu .nav.nav-one > li > a.disabled:active > i {
    background-position-y: 0 !important;
}

/* ========== Custom Menu ===========*/
.footer-bottommenu .nav.nav-one > li > a.booking > i {background-position:0% 0%;}
.footer-bottommenu .nav.nav-one > li > a.history > i {background-position:25% 0%;}
.footer-bottommenu .nav.nav-one > li > a.marked > i {background-position:50% 0%;}
.footer-bottommenu .nav.nav-one > li > a.chat > i {background-position:75% 0%;}
.footer-bottommenu .nav.nav-one > li > a.login > i {background-position:100% 0%;}