﻿html, body, form {height:100%;}
body {font-family: Calibri, Arial, Verdana, Sans-Serif; font-size: 14px; color:#434343; padding:0px; margin:0px;}
td {padding-bottom:5px; vertical-align:top;}
a:link ,a:visited {color:#05e2e5; text-decoration:none;}
a:hover ,a:active {color:#05e2e5; text-decoration:underline;}
input, textarea, select {font-family:Calibri, Arial, Verdana, Sans-Serif; background:#ffffff; outline:none; color:#4a4a4a; font-size:14px; /*-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border:1px solid;*/ }
input {text-indent:5px;}
input[type="text"], input[type="password"], select {height:35px; /*border:1px solid #cccccc;  border-radius: 5px;*/ }
textarea {padding:5px;border:1px solid #cccccc;  border-radius: 5px;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {border:1px solid #434343;} /* -moz-box-shadow: 0 0 8px #999; -webkit-box-shadow: 0 0 8px #999; box-shadow:0px 0px 8px #999;*/
input[type="checkbox"]+label {padding-left:3px;}
input[type="file"] {border:0px; text-indent:0px;}
input.disabled {background-color:#EBEBE4 !important;cursor:not-allowed;}
input.compulsory:focus,
select.compulsory:focus,
input.compulsory.focus,
select.compulsory.focus {border:1px solid #D33836;}
input.uniq:focus,select.uniq:focus  {border:1px solid #A359B8;}
iframe {width:100%; height:auto; overflow:hidden;}
table {width:100%;}
th {text-align:left; padding:2px 2px 10px 2px; font-size:120%;}
td {}

h1{font-size:24px; font-weight:bold; margin:0px 0px 20px 0px;}
h2{font-size:18px; font-weight:bold; margin:0px;}
h3{font-size:16px; font-weight:bold;}
/* useful class */

.left{float:left;}
.right{float:right;}
.clear{clear:both;}

.alignCenter{text-align:center !important;}
.alignLeft{text-align:left !important;}
.alignRight{text-align:right !important;}

.inline{display:inline-block;}

.borderBottom{border-bottom:1px solid #ececec;}
.borderTop{border-top:1px solid #ececec;}
.borderSplitter{border-top:1px solid #ececec;width:100%;}
.infoBox{padding: 20px;margin: 20px;border-style: solid;border-width: 1px; background-color: #dfeff5;border-color: #9ebcce;}
.chklist{  border: 1px solid #CCCCCC; width: 200px;}
.chklist > tbody > tr > td{padding: 3px 10px;}

.chklist.gst {  border-collapse: collapse;}
.chklist.gst tr:first-child{border-bottom: 1px solid #cccccc;}
.chklist.gst > tbody > tr > td{padding: 6px 10px;}

.input-group {display:table;width:100%;}
.input-group > .text_fullwidth {display:table-cell;}
.input-group > .spanTooltip {display:table-cell;padding-left:10px;}
.input-group-no-icon {margin-right:30px;}


#wrap {/*min-height: 100%;*/ margin-bottom: -166px;  padding: 0 0 0 0;position:relative;z-index:10; min-height:500px; }
#wrap:after {content: "";display: block;}
#footer, #wrap:after {height: 166px;}
#footer {height:auto; overflow:hidden; margin:auto; width:100%; padding:17px 0px 0px 0px; text-align:center; color:#434343; font-weight:bold; position:absolute; bottom:0px;  z-index:99; left:0px; background-color:#ccc; }

#left-sidebar{ position:fixed;top: 0;left: 0;width: 150px;height: 100%;  z-index: 1000;background-color:#ffffff;}
#main-container{height:auto; overflow:hidden; background:#fff; position:relative;}

.hypMenu {display:inline-block; width:40px; height:30px; background:transparent url("../../img/adm/mobile/btn-menu.gif") no-repeat 0px 0px;}
a.hypMenu:link, a.hypMenu:visited {text-decoration:none; background:transparent url("../../img/adm/mobile/btn-menu.gif") no-repeat 0px 0px;}
a.hypMenu:hover, a.hypMenu:active {text-decoration:none; background:transparent url("../../img/adm/mobile/btn-menu.gif") no-repeat 0px -80px;}

.divTopMenuLinkContainer {height:auto; overflow:hidden; float:right;}
.divSideMenuOverlay {height:100%; width:100%; z-index:1; background-color:#000; display:none;}
.divSearchMenuOverlay {height:auto; width:100%; z-index:1;}
/* side bar */

.divHeaderTop {height:auto; overflow:visible; width:100%;}
.divHeader{height:auto; overflow:visible; width:100%; position:fixed; z-index:99; left:0px; background:#ececec; border-bottom:1px solid #cccccc; top:0px}
.divHeaderLeft{float:left;}
.divHeaderRight{float:right; margin-right: 0px; margin-top:10px; position:fixed; right:20px;}

.divContent {}
.divLogo {  text-align: center;}

.divLeftSideBarInner {  padding: 30px 16px 0 15px;height: 100%;  border-right: 1px solid #ececec;background-color:#FFFFFF;}
/* end of side bar */

/* Form */
.text {width:98%;}
.text_fullwidth{width:98%; word-break:break-word; border:none;}
.text_small {width:40px; border:none;}
.text_medium {width:100px; border:none;}
.text_medium_2 {width:100px; float:left;}
.text_medium3 {width:100px; border:none; border-radius:5px;}
.text_item {width:130px;}
.text_small_item {width:55px;}
.text_medium_item {width:90px;}
.text_big_item {width:310px;}
.text_big {width:98%; border:none;}
.text_big_perc {width:95%;}
.text_big2 {width:600px;}
.text_big3 {width:372px;}
.text_bigdate {width:400px; vertical-align:top;}
.file {width:200px;}
.file_big {width:400px;}
.chk {}
.ddl {width:200px;}
.ddl_medium4 {width:200px; border-radius:5px;}
.ddl_medium5 {width:100px; border-radius:5px;}
.ddl_fullwidth{width:100%;}
.ddl_big {width:400px;}
.ddl_medium {width:130px;}
.ddl_medium2 {width: 100px;} 
.ddl_medium3 {width:90px; border-radius:5px;}
.ddl_small {width:40px;}
.ddl2 {width:200px; float:left; margin-right:5px;}
.ddl3 {width:253px;}
.ddl_page{width:49.6%;  height: 150px;}
.pdfText {font-size:xx-small;}
/* End of Form */

/* General */
.divMain {height:auto; overflow:hidden;}
.divTopOut {height:50px; overflow:hidden; background:#acd8ff; border-bottom:1px solid #62a8e3;}
.divTopTop {height:auto; overflow:hidden; margin-left:10px; margin-right:10px; padding-top:10px; padding-bottom:10px;}
.divTopBottom {height:auto; min-height:27px; border-top:1px solid #c5e4ff; background:url("../img/adm/bg_topmenu_rpt.gif") repeat-x top; clear:both;}
.divTopBottomInner {height:auto; margin-right:10px; margin-left:10px;}
.divBottomUser {height:auto; overflow:hidden; display:table; width:100%; background:#191919;}
.divAdmMenuContainer {height:auto; width:100%; overflow:hidden;}
.divAdmUserViewContainer {height:auto; overflow:hidden; display:table-cell;}
.divAdmUserViewManageContainer {height:auto; overflow:hidden; display:table-cell;}

.divMiddle {height:auto; overflow:hidden;clear:both;}
.divMiddleInner {height:auto; overflow:hidden; }
.divMiddleInnerInnerTop {height:40px; overflow:hidden; padding-top:5px; padding-right:20px;}
.divAdmInfoContainer {width:100%; margin:auto; text-align:center; padding-top:120px; padding-bottom:190px;}
.divMiddleInnerBottom {height:auto !important; overflow:hidden;}
.divMiddleInnerInnerBottomContent {height:auto; overflow:hidden; position:relative;}
.divMenu {height:auto; overflow:hidden; margin-bottom:1px; background:#373737 url("../../img/adm/mobile/icon-menu.png") no-repeat right 20px top 18px;}
.divMenu:hover {height:auto; overflow:hidden; background:#4f4f4f url("../../img/adm/mobile/icon-menu.png") no-repeat right 20px top 18px;}
.divBottom {height:auto; overflow:hidden; background:#e7e7e7; /*border-top:1px solid #fff;*/}

.divFloatLeft {float:left;}
.divFloatRight {float:right;}
.divAgnTop {vertical-align:top;}
.divAgnMiddle {vertical-align:middle;}
.divLinkBtn {float:right;}
.divPnlItems {height:auto; overflow:hidden; padding-top:10px; padding-bottom:20px;}
.divItemListScroll {height:auto; max-height:300px; overflow:auto; padding-bottom:50px;margin-bottom:50px;border-bottom:1px solid #ececec;}

.divPageHeader {color:#1c7fd7; font-weight:bold; border-bottom:1px solid #ccc;}

.divFooterInner {height:auto; overflow:hidden; margin:auto; padding:17px 0px 0px 0px; text-align:center; color:#434343; font-weight:bold;}
/* Sub Page */
.divTopTopLeft {height:auto; overflow:hidden; float:left;}
.divTopTopRight {height:auto; overflow:hidden; float:right; padding-top:15px;}
.divMiddleInnerInnerBottomSub {height:auto; height:auto !important; overflow:hidden; padding-bottom:40px;}
/* End of Sub Page */

/* Listing Page */
.divListing {height:auto; overflow:hidden; position:relative;}
.divListing2 {padding-top:100px; height:auto; overflow:hidden;}
.divListing3 {padding:20px 40px 20px 40px; height:auto; overflow:hidden;}
.divListingHdr {height:auto; overflow:hidden;border-bottom:5px solid #cccccc; margin-bottom: 10px;}
.divListingHdrPadding {height:auto; overflow:hidden; padding-top:25px;}
.divListingHdrLeft {height:auto; overflow:hidden; padding-left:20px;}
.divListingAction {height:auto; overflow:hidden; background:#ecf9ff; padding:16px 20px 16px 20px; border-top:1px dotted #abc4cf; border-bottom:1px dotted #abc4cf;}

.divListingLeft {height:auto; overflow:hidden; width:50%; float:left;}
.divListingRight {height:auto; overflow:hidden; width:50%; float:left;}

.divListingData {height:auto; overflow:hidden; overflow-x:auto; padding-top:5px; margin:0px 20px 20px 20px;}
.divFaq {height:auto; overflow:hidden; border:solid 1px red;}
/* End of Listing Page */

/* Details Page */
.divForm {height:auto; overflow:hidden; padding:0px 0px 0px 0px; background:#fff;} 
.divFormWithLeftMenu {}
.divEditProduct {height:auto; overflow:hidden;}

.hypProdDetails {cursor:pointer; display:block; width:98px; cursor:default; color:#5b95ff; background:#ffffff url('../../img/adm/mobile/icon-product-detail.gif') no-repeat 37px 20px; padding:20px 37px; text-decoration:none; border-bottom:solid 1px #ccc; border-left:solid 1px #ccc;}
a.hypProdDetails:link,
a.hypProdDetails:visited {cursor:pointer; color:#5b95ff; width:98px; background:#ffffff url('../../img/adm/mobile/icon-product-detail.gif') no-repeat 37px 20px; padding:20px 37px; text-decoration:none;}
a.hypProdDetails:hover,
a.hypProdDetails:active {cursor:pointer; color:#ffffff; width:98px; background:#5b95ff url('../../img/adm/mobile/icon-product-detail.gif') no-repeat 37px -130px; padding:20px 37px; text-decoration:none;}

.hypProdContent {cursor:pointer; display:block; width:98px; cursor:default; color:#5b95ff; background:#ffffff url('../../img/adm/mobile/icon-product-content.gif') no-repeat 37px 20px; padding:20px 37px; text-decoration:none; border-bottom:solid 1px #ccc; border-left:solid 1px #ccc;}
a.hypProdContent:link,
a.hypProdContent:visited {cursor:pointer; color:#5b95ff; width:98px; background:#ffffff url('../../img/adm/mobile/icon-product-content.gif') no-repeat 37px 20px; padding:20px 37px; text-decoration:none;}
a.hypProdContent:hover,
a.hypProdContent:active {cursor:pointer; color:#ffffff; width:98px; background:#5b95ff url('../../img/adm/mobile/icon-product-content.gif') no-repeat 37px -130px; padding:20px 37px; text-decoration:none;}

.hypProdPricing {cursor:pointer; display:block; width:98px; cursor:default; color:#5b95ff; background:#ffffff url('../../img/adm/mobile/icon-product-pricing.gif') no-repeat 37px 20px; padding:20px 37px; text-decoration:none; border-bottom:solid 1px #ccc; border-left:solid 1px #ccc;}
a.hypProdPricing:link,
a.hypProdPricing:visited {cursor:pointer; color:#5b95ff; width:98px; background:#ffffff url('../../img/adm/mobile/icon-product-pricing.gif') no-repeat 37px 20px; padding:20px 37px; text-decoration:none;}
a.hypProdPricing:hover,
a.hypProdPricing:active {cursor:pointer; color:#ffffff; width:98px; background:#5b95ff url('../../img/adm/mobile/icon-product-pricing.gif') no-repeat 37px -130px; padding:20px 37px; text-decoration:none;}

.hypRelProd {cursor:pointer; display:block; width:98px; cursor:default; color:#5b95ff; background:#ffffff url('../../img/adm/mobile/icon-product-releted.gif') no-repeat 37px 20px; padding:20px 37px; text-decoration:none; border-bottom:solid 1px #ccc; border-left:solid 1px #ccc;}
a.hypRelProd:link,
a.hypRelProd:visited {cursor:pointer; color:#5b95ff; width:98px; background:#ffffff url('../../img/adm/mobile/icon-product-releted.gif') no-repeat 37px 20px; padding:20px 37px; text-decoration:none;}
a.hypRelProd:hover,
a.hypRelProd:active {cursor:pointer; color:#ffffff; width:98px; background:#5b95ff url('../../img/adm/mobile/icon-product-releted.gif') no-repeat 37px -130px; padding:20px 37px; text-decoration:none;}

.imgProdDetails {height:100px; width:98px; padding-bottom:15px;}
.divProdDetailsImg {height:auto; overflow:hidden; width:auto; float:left;}

.hypEventDetails {cursor:pointer; display:block; cursor:default; color:#5b95ff; text-decoration:none; padding:20px 20px 0px 20px;}
a.hypEventDetails:link,
a.hypEventDetails:visited {cursor:pointer; color:#5b95ff; text-decoration:none;}
a.hypEventDetails:hover,
a.hypEventDetails:active {cursor:pointer; text-decoration:underline;}

/* End of Details Page */

.divStatusLabel {padding-left:25px; padding-right:25px; padding-top:2px; padding-bottom:2px; cursor:default;}
.divSectHdrRight {float:right; padding-bottom:5px;}

.hypPageTitle {font-size:24px; font-weight:bold; background:url('../../img/adm/mobile/arrow-back.gif') no-repeat left center; text-decoration:none; padding-left:16px; color:#434343;}
a.hypPageTitle:link,
a.hypPageTitle:visited {font-size:24px; font-weight:bold; background:url('../../img/adm/mobile/arrow-back.gif') no-repeat left center; text-decoration:none; color:#434343;}
a.hypPageTitle:hover,
a.hypPageTitle:active {background:url('../../img/adm/mobile/arrow-back.gif') no-repeat left center;}

.divSectHdr {padding-bottom:20px;}
.SectHdr {font-size:120%; font-weight:bold;}

.divLeft {float:left;}
.divStatusActRight {float:left; padding-left:10px;}
.divOrdStatusItalic {font-style:italic;}

.divListingBilling {width:50%; float:left;}
.divListingDelivery {width:50%; float:left;}

.divGrouping {height:auto; overflow:hidden;padding:20px 40px;}
.divGroupingInner {padding:10px 20px;}

.btnUpdate {font-weight:bold;}
.btnUpdate2 {font-weight:bold; background:grey;}

.tdShipNeed {font-weight:bold; font-size:120%; font-style:italic;}

.lblSize {float:left;}
.lblSize2 {float:left; padding-top:12px; padding-left:5px;}

.divTrainingOther {float:left;}

.divCurrListing {margin-top:15px;}
.divAckBtn {padding-top:10px;} /*@lex to keep the space before buttons.


/* End of General */

/* Message */
.errmsg {color:red;}
.attention_compulsory {color:#ff0101;}
.attention_unique {color:#ce0bd0;}
.noticemsg {}
.boldmsg {font-weight:bold; font-size:110%;}
.keyword {font-size:110%; font-weight:bold;}
.italicmsg {font-style:italic; text-align:justify;}
.spanItalic {font-style:italic;}
.spanFieldDesc {padding-left:5px;}
.spanSectTitle {text-decoration:underline;}
.fieldDesc {color:#4a88bf;}
.nowrap{white-space: nowrap;}

ul{padding:0px; margin:0px;}
.ulOrdSpec li{margin-bottom:2px; margin-left:16px;}

.spanLink {padding-left:10px;}
.spanStrike {text-decoration:line-through;}

.main-content__header {font-size:24px; font-weight:bold; margin:120px 0px 0px 0px; padding:0px; height:auto; overflow:hidden; clear:both; border-bottom:1px dotted #ececec;  z-index: 999;width: 100%; text-transform:capitalize; background-color: #ecf9ff;}
.main-content__header + * { /* margin-top: 139px;*/}
.main-content__headerLeft {float:left; height:auto; overflow:hidden; padding:10px 0px 10px 20px;}
.main-content__headerRight {float:right; height:auto; overflow:hidden; display:none;}
.divSectionTitle {font-size:112.5%;font-weight:700;margin:0px;padding-bottom:5px; padding-left:20px;}
.divSectionTitlePadding {color:#1c7fd7; font-weight:bold; height:auto; overflow:hidden; clear:both; border-bottom:1px solid #ccc; padding-bottom:5px; padding-top:20px;}
.divSectionTitleLeft {color:#1c7fd7; height:auto; overflow:hidden; padding-bottom:5px; float:left;}
.divSearchHeaderAction {height:auto; overflow:hidden; padding-bottom:5px; float:right;}
.divSectionTitleHighlight {background:#ccc; font-weight:bold; height:auto; overflow:hidden; clear:both; padding:5px 0px 5px 10px;}

.spanSectTitleUnd {color:#4a4a4a; font-weight:bold; text-decoration:underline;}

.tdProdDescListHdr {font-weight:bold;}
/* End of Message */

.divLinkSplit {float:left; width:1px; margin-left:10px; margin-right:10px;}
.divBtnCenter {text-align:center;}
.divBtnCenterPadding {text-align:center; padding-top:30px; height:auto; overflow:hidden; padding-bottom:10px;}

.pgHidden {display:none;}
.hiddenCol {display:none !important;}
.showCol {display:block;}

.SectKeyword {font-weight:bold;}

/* Table */
tr.trHeader td {padding-bottom:10px;}  /*@lex to add space for those table-row with header, to create a gap between header and form*/
tr.trBtn td {padding-top:10px;} /*@lex to add space for those table-row with button, to create a gap between button and form*/
td.tdHeader {font-size:120%; font-weight:bold;}

td.tdSectionHdr {font-size:112.5%;font-weight:700; background:url('../../img/adm/mobile/icon-collapseexpand.gif') no-repeat right 20px top 20px; padding:13px 0px 13px 20px !important; border-bottom:solid 5px #ccc !important; cursor:pointer; }
td.tdSectionHdrExpand {font-size:112.5%;font-weight:700; background:url('../../img/adm/mobile/icon-collapseexpand.gif') no-repeat right 20px top -37px; }
td.tdSectionHdrLeft {color:#1c7fd7; font-weight:bold; border-bottom:1px solid #ccc;}
td.tdSectionHdrRight {border-bottom:1px solid #ccc; text-align:right;}

.tdSectionHdr {font-size:112.5%;font-weight:700; background:url('../../img/adm/mobile/icon-collapseexpand.gif') no-repeat right 20px top 20px; padding:13px 0px 13px 20px !important; border-bottom:solid 5px #ccc !important; cursor:pointer; }

td.tdSpacer {height:5px; font-size:5px; padding:0px; border:none !important;}
td.tdBtn {padding-top:20px;}

#tblFileUpload .tdWithFileUpload {border:none;}
#tblFileUpload .tdNoBorder {border:none;}

table.formTbl {width:100%;}
table.formTbl td {text-align:left; padding-bottom:5px; padding-top:5px;}
table.formTbl td:first-child {}
table.formTbl td td:first-child {}
table.formTbl td:last-child {width:100%;}
table.formTbl td.tdLabel {padding-right:10px; padding-top:14px;}
table.formTbl td.tdLiteral {padding-top:14px;}
table.formTbl td.tdWithCheckbox {padding-top:15px;}
table.formTbl td.tdWithFileUpload {padding-top:10px;}
table.formTbl td.withNestedTable {padding-top:0px; padding-right:0px;}
table.formTbl.borderTop{border-top:1px solid #ececec;}
table.formTbl:last-child,
table.formTbl.noBorderBtm {border-bottom:0px solid #ececec;} 
table.formTbl .trBorder {border-bottom:1px solid #ccc;}
table.formTbl .noBorder {border:none !important;} 

table.formTblNested td {text-align:left; padding:2px; padding-right:20px;}
table.formTblNested td:first-child {}
table.formTblNested td:last-child {width:100%; padding-bottom:5px; padding-top:5px;}
table.formTblNested td.tdLabel {padding-right:10px; padding-top:14px;}
table.formTblNested td.tdWithCheckbox {padding-top:15px;}
table.formTblNested .tdNoBorder {border:none;}
table.formTblNested .tdAction {padding-left:0px !important;}

table.formTbl2 {width:100%;}
table.formTbl2 td {text-align:left; padding:2px; padding-right:20px;}
table.formTbl2 td:first-child {float:left;}
table.formTbl2 td td:first-child {}
table.formTbl2 td:last-child {width:100%;}
table.formTbl2 td.tdLabel {padding-right:10px; padding-top:14px;}
table.formTbl2 td.tdLiteral {padding-top:14px;}
table.formTbl2 td.tdWithCheckbox {padding-top:15px;}
table.formTbl2 td.tdWithFileUpload {padding-top:5px;}
table.formTbl2 td.withNestedTable {padding-top:0px;}

table.innerTbl {margin-top:10px;}
table.tblNoPadding td {}
.tdDelete {float:right; padding-top:5px; padding-bottom:50px;}
td.tdLabelSmall {width:70px; padding-top:4px;}
td.tdLast {width:100%;}

.tdSpacerBorderBottomSolid {height:20px; border-bottom:1px solid #ccc;}
.tdSpacerBorderTop {height:20px; border-top:1px dotted #ccc;}
.tdSpacer10 {height:10px; border-bottom:1px dotted #ccc;}
.tdSpacer10_2 {height:10px;}
.tdSpacer2 {height:20px;}

.dataTbl {width:100%;border:0;border:1px solid #cccccc;}
.dataTbl > tbody > tr:hover:not(.pg){}
.dataTbl > tbody > tr:hover:not(.pg) .tdAct a{background-position: 0px -66px;}
.dataTbl > tbody > tr {border:1px solid #cccccc;}
.dataTbl > tbody > tr > td {padding:10px 10px 0px 10px; border:0; display:block; }
.dataTbl > tbody > tr:last-child > td{border-bottom:0px dashed #cccccc;}
.dataTbl tfoot tr td{background-color:#cccccc;}

.dataTbl th {padding:15px 15px 15px 15px;color:#fff; background-color:#434343;border: 0;  text-transform: capitalize; display:none;}
.dataTbl th a:link,
.dataTbl th a:visited {color:#fff;}
.dataTbl th a:active,
.dataTbl th a:hover{color:#05e2e5}
.dataTbl th.asc > a,
.dataTbl th.desc > a{color:#05e2e5;}
.dataTbl th.asc > a:after,
.dataTbl th.desc > a:after{transition:0.5s all;display:inline-block;padding-left: 10px;padding-right: 5px;color:#05e2e5; content:"◤";}
.dataTbl th.asc > a:after{transform: rotate(45deg);} /* background:url('../img/adm/icon-sort.gif') no-repeat right center;  */
.dataTbl th.desc > a:after{transform: rotate(225deg);}
.dataTbl th.asc:hover > a:after {transform: rotate(225deg);}
.dataTbl th.desc:hover > a:after {transform: rotate(45deg);}

.dataTbl .td_alt {padding:10px 15px 10px 15px; border:none;}
.dataTbl .tdNo {width:50px; text-align:center;}
.dataTbl .tdAct {text-align:center; padding-bottom:10px; float:right;}
.dataTbl .tdAct2 {width:370px; text-align:center;}
.dataTbl .tdAct3 {width:150px; text-align:left;}
.dataTbl .tdAct a[disabled=disabled]{color:#a4a4a4;}
.dataTbl .tdAct .spanSplitter, .dataTbl .tdAct2 .spanSplitter{color:#5b95ff; padding:0px 10px;}
.dataTbl .td_right {text-align:right;}
.dataTbl .td_left{text-align:left;}
.dataTbl .tdCurrency {width:100px; text-align:right;}
.dataTbl .td_small {width:100px; text-align:left;}
.dataTbl .td_medium {width:80px; text-align:center;}
.dataTbl .td_medium2 {text-align:left; padding-left:55px;}
.dataTbl .td {width:100px;}
.dataTbl .pg {  position: absolute;top: 32px;}
.dataTbl .pg table {width:auto;}
.dataTbl .pg td{ border:0;padding:0 10px;}
.dataTbl .pg > td { height:20px; padding:2px 5px 2px 5px;}
.dataTbl .pg a:link,.dataTbl .pg a:visited {color:#434343;}
.dataTbl .pg a:hover,.dataTbl .pg a:active,
.dataTbl .pg span {color:#05e2e5; }
.dataTr td {padding-bottom:20px;}
.dataTbl .trUnread {font-weight:bold; font-size:120%; line-height:14px;}
.dataTbl .itemProd {margin-left:10px; padding-left:0px; padding-bottom:10px;}
.dataTbl .tdNew {border-top:1px dotted #ccc !important; padding-top:10px;}

.dataTbl .trMobileGrid {
    display:block;
    position:relative;
}
.dataTbl .tdSlide {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
    -moz-transition: max-height .3s ease-in-out;
    -webkit-transition: max-height .3s ease-in-out;
    -o-transition: max-height .3s ease-in-out;
    border-top:1px dashed transparent;
}
.dataTbl .tdSlide.active{
    max-height: 300px;
}
.dataTbl .tdSlide .right.row{padding-bottom:10px;}
.dataTbl .tdArrow{
    width: 20px;
    height: 20px;
    padding: 0;
    background-image: url('../../img/adm/ic_keyboard_arrow_down_black_24dp_1x.png');
    background-repeat: no-repeat;
    background-position: center center;
    position:absolute;
    right: 10px;
    top: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out; 
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.dataTbl .tdArrow:hover,
.dataTbl .tdArrow.active{
    -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.dataTbl2 {width:100%; border:0; border:1px solid #cccccc;}

.lblNewHeader {padding-right:30px; font-size:16px; font-weight:bold;    min-width: 100px;display: inline-block;}
/* for Page manager datatble */
.divPageManagerGridContainer .tdNo{width:3%;}
.divPageManagerGridContainer .td_small{width:5%;}
.divPageManagerGridContainer .tdPageName{width:15%;}
.divPageManagerGridContainer .tdPageDisplayName{width:15%;}
.divPageManagerGridContainer .tdParent{width:9%;}
.divPageManagerGridContainer .tdCreation{width:12%;}
.divPageManagerGridContainer .tdLastUpdate{width:12%;}
.divPageManagerGridContainer .tdAct{width:11%;}

.shipCountry {text-transform:lowercase;}
.shipCountry:first-letter {text-transform:uppercase;}

.tdCenter {text-align:center;}
.tdActBig {width:150px; text-align:center;}

.tdLabelNor {padding:5px 10px 5px 0px;}
.tdItem {padding:5px 10px 5px 10px;}
.tdLabelBig {padding-top: 4px; padding-right: 10px; width: 180px;}
.tdLabelBigGrey {padding-right:10px; padding-top:4px; color:#a4a4a4;}
.tdLabelBigGrey2 {padding-right:10px; color:#fff; background:#acc4ce; width:100%; padding-left:20px;}
.tdMax {width:100% !important; padding-right:20px !important;}
.tdCheckbox{padding-top:14px !important;}
.tdlistbox {width:100px;}
.tdLabel {}
.tdLabelRemarks {padding-top:4px; padding-right:135px;}
.tdLabel2 {padding-top:4px; padding-right:10px;}
.tdLabel3 {padding-right:5px !important;}
.tdLabelNor2 {padding-right:30px; width:20%;}
.tdLabelNor3 {padding-right:30px; font-weight:bold; width:55%;}
.tdLabelNor4 {width:20%;}
.tdLabelSpec {padding-top:4px; padding-right:40px; width:114px;}
.nobr {white-space:nowrap;}
.tdLabelGrey {padding:10px; width:100px; background:#f3f3f3;}
.tdLabelItalic {padding-top:4px; padding-right:10px; width:100px; font-style:italic;}
.tdLabelRightItalic {padding-top:4px; padding-right:10px; width:100px; text-align:right; font-style:italic;}
.tdLabelRightItalic2 {padding-top:4px; padding-right:20px; width:100px; text-align:left; font-style:italic; color:#fff;}
.tdbtnNextPrev {vertical-align:middle;}
.tdLabelProg {width:128px; padding-right:20px;}

.imgClose { display:block; width:50px; background:url('../../img/adm/mobile/btn-search.gif') no-repeat;}

.hypSearch {display:inline-block; width:50px; height:50px; background:transparent url("../../img/adm/mobile/btn-search.gif") no-repeat 0px 0px;}
/*a.hypSearch:link {text-decoration:none; background:transparent url("../../img/adm/mobile/btn-search.gif") no-repeat 0px 0px;}
a.hypSearch:visited {text-decoration:none; background:transparent url("../../img/adm/mobile/btn-search.gif") no-repeat 0px 0px;}
a.hypSearch .hover {text-decoration:none; background:transparent url("../../img/adm/mobile/btn-search.gif") no-repeat 0px -100px;}
a.hypSearch .active {text-decoration:none; background:transparent url("../../img/adm/mobile/btn-search.gif") no-repeat 0px -100px;}*/

.hypSearchhover {text-decoration:none; background:transparent url("../../img/adm/mobile/btn-search.gif") no-repeat 0px -100px;}
.hypSearchactive {text-decoration:none; background:transparent url("../../img/adm/mobile/btn-search.gif") no-repeat 0px -100px;}

.main-content__headerInner {float:left; padding-top:10px; padding-left:20px; padding-bottom:10px; width:70%;} 
.divImgClose {width:50px; float:right;}
.divRelProdImgClose {width:50px; float:right; width:50px;}

.tdLabelNor5 {padding-right:30px; width:150px; padding-left:25px; padding-top:4px;}
.tdLabelNorCur {padding-right:30px; width:130px; text-align:center; padding-left:25px; padding-top:4px;}
.tdLabelActive {padding-top:4px; padding-right:20px; width:60px; text-align:center !important;}
.tdLabelMedium {padding-right:30px; width:80px; text-align:center; padding-left:25px; padding-top:4px;}
.tdLabelAction {width:120px; text-align:center !important; padding-top:4px; padding-right:20px;}
.tdLabelCurFlag {width:150px; text-align:center; padding-top:4px; padding-right:30px;}

.tdRdoOrd {width:90px; display:block; float:left;}
.tdInvoiceTotal {float:right;}

.tdLabelSales {padding-top:4px;}
.tdMaxSales {max-width:100%;}

.dataTbl .tdAction {height:auto; overflow:hidden; border-top:1px solid #ccc; padding-top:5px;}

.listTbl {width:100%;}
.listTbl th {padding:15px 25px 15px 25px; background:#ffecb1; border-bottom:1px solid #ccc; text-align:left;}
.listTbl .trFooter {padding:15px 25px 15px 25px; background:#ffecb1;}
.listTbl .trItem {}
.listTbl .trItem:hover {color:#ff6c00;}
.listTbl td {padding:5px 25px 5px 25px; text-align:center; vertical-align:middle; line-height:16px;}

.listTbl .tdNo {width:50px; text-align:center;}
.listTbl .td_small {width:60px; text-align:center;}
.listTbl .td_norLeft {text-align:left; vertical-align:top;}
.listTbl .td_Left {text-align:left;}
.listTbl .td_right {text-align:right;}
.listTbl .tdDetails {text-align:left; vertical-align:top; padding-top:20px; padding-bottom:20px;}
.listTbl .tdImg {text-align:left; vertical-align:top; padding-top:20px; padding-bottom:20px;}

.listTblInvoice {width:100%;}
.listTblInvoice th {padding:15px 25px 15px 25px; background:#cccccc; border-bottom:1px solid #ccc; text-align:left;}
.listTblInvoice .trFooter {padding:15px 25px 15px 25px; background:#cccccc;}
.listTblInvoice .trItem {}
.listTblInvoice .trItem:hover {color:#ff6c00;}
.listTblInvoice td {padding:5px 25px 5px 25px; text-align:center; vertical-align:middle; line-height:16px;}
.listTblInvoice .thItem {width:10%; text-align:center;}
.listTblInvoice .thDesc {width:50%; text-align:left;}
.listTblInvoice .thQty {width:10%; text-align:center;}
.listTblInvoice .thUnitPrice {width:15%; text-align:center;}
.listTblInvoice .thAmount {width:15%; text-align:center;}

.listTblInvoice .tdNo {width:10%; text-align:center;}
.listTblInvoice .tdItem {width:50%; text-align:left; vertical-align:top;}
.listTblInvoice .tdQty {width:10%; text-align:center;}
.listTblInvoice .tdUnitPrice {width:15%; text-align:center;}
.listTblInvoice .tdTotal {width:15%; text-align:center;}

.listTblInvoice .tdNo_alt {width:10%; text-align:center; background:#f3f3f3;}
.listTblInvoice .tdItem_alt {width:50%; text-align:left; vertical-align:top; background:#f3f3f3;}
.listTblInvoice .tdQty_alt {width:10%; text-align:center; background:#f3f3f3;}
.listTblInvoice .tdUnitPrice_alt {width:15%; text-align:center; background:#f3f3f3;}
.listTblInvoice .tdTotal_alt {width:15%; text-align:center; background:#f3f3f3;}

.listTblInvoice .td_small {width:60px; text-align:center;}
.listTblInvoice .td_norLeft {text-align:left; vertical-align:top;}
.listTblInvoice .td_Left {text-align:left;}
.listTblInvoice .td_right {text-align:right;}
.listTblInvoice .tdDetails {text-align:left; vertical-align:top; padding-top:20px; padding-bottom:20px;}
.listTblInvoice .tdImg {text-align:left; vertical-align:top; padding-top:20px; padding-bottom:20px;}

.tdRemarkItemNo {padding-right:5px;}
.tdOrdRemarkItem {padding-right:40px;}

.tdAddItemDName {padding-left:70px; width:60px;}
.tdAddItemDesc {padding-left:10px; width:300px;}
.tdAddItem {padding-left:10px; width:80px;}

.td_headerItemCart {padding:15px 15px 15px 15px; background:#ffecb1; border:none; border-bottom:1px solid #ccc; font-weight:bold;}
.td_headerPriceCart {padding:15px 15px 15px 15px; background:#ffecb1; border:none; border-bottom:1px solid #ccc; font-weight:bold;}
.td_headerQtyCart {padding:15px 15px 15px 15px; background:#ffecb1; border:none; border-bottom:1px solid #ccc; font-weight:bold;}
.td_headerTotalCart {padding:15px 15px 15px 15px; background:#ffecb1; border:none; border-bottom:1px solid #ccc; font-weight:bold;}
.td_headerLastCart {padding:15px 15px 15px 15px; background:#ffecb1; border:none; border-bottom:1px solid #ccc; font-weight:bold;}
 
 table.tblInnerTable {}
 table.tblInnerTable td {padding-left:5px; vertical-align:middle;}
 table.tblInnerTable td.tdInnerTableLast {width:100%;}
 
 .tblData {}
 .tblData > thead > tr > td:first-child,
 .tblData > tbody > tr > td:first-child{width:10%;}
 .tblData > thead > tr > td:last-child,
 .tblData > tbody > tr > td:last-child{width:90%;}
 .tblData > thead > tr > th:first-child:not(.tdSectionHdr),
 .tblData > thead > tr > td:first-child:not(.tdSectionHdr),
 .tblData > tbody > tr > td:first-child:not(.tdSectionHdr),
 .tblData > tbody > tr > td:first-child:not(.tdSectionHdr) {padding-left:20px; padding-right:20px;}
 .tblData > tbody > tr > td:not(.tdSectionHdr) {border-bottom:1px solid #ccc;}
 
 .tblData2 {border-bottom:1px solid #ececec; padding:20px 10px;}
 .tblData2 > thead > tr > td:first-child,
 .tblData2 > tbody > tr > td:first-child{width:20%;  min-width: 120px;}
 .tblData2 > thead > tr > td:last-child,
 .tblData2 > tbody > tr > td:last-child{width:80%;}
 .tblData2 > thead > tr > th:first-child:not(.tdSectionHdr),
 .tblData2 > thead > tr > td:first-child:not(.tdSectionHdr),
 .tblData2 > tbody > tr > td:first-child:not(.tdSectionHdr),
 .tblData2 > tbody > tr > td:first-child:not(.tdSectionHdr) {padding-left:20px; padding-right:20px;}
 
 .tblEmailSyntax {border-collapse: separate;width:95%;}
 .tblEmailSyntax tr, .tblEmailSyntax td {border:1px solid #434343;  padding: 10px;}
 .tblEmailSyntax .th{color:#ffffff;background-color:#5b95ff;}
 /* Prod Group */
.tdCatHeader {font-weight:bold; width:100px; border-bottom:1px solid #ccc; padding-left:5px; padding-right:5px;}
.tdCatItem {padding-top:2px; padding-bottom:2px; width:100px; padding-left:5px; padding-right:5px;}
/* End of Prod Group */
 
 /* Product Listing */
.gvProduct {width:100%; border:none;}
.gvProduct .pg .item4, .pg .item8, .pg .item12, .pg .item15 {padding:2px; height:20px; background:#ffe694; width:100%;}
.gvProduct .gv_alt {padding:5px 15px 5px 15px; background:#f3f3f3;}
.gvProduct .item4 {width:4%;}
.gvProduct .item8 {width:8%;}
.gvProduct .item12 {width:12%;}
.gvProduct .item15 {width:15%;}
.gvProduct th {padding:15px 0px 15px 0px; background:#ffecb1; border:none; border-bottom:1px solid #ccc;}
.gvProduct th a:link {color: #1c7fd7;}
.gvProduct th a:visited {color: #1c7fd7;}
.gvProduct th a:active {color: #1c7fd7; text-decoration:underline;}
.gvProduct th a:hover {color: #1c7fd7; text-decoration:underline;}
.gvProduct tr {}
.gvProduct tr:hover {color:#ff6c00;}
.gvProduct td {padding:5px 10px 5px 10px; border:none;}
 /* End of Product Listing*/
 
/* Alternate */
.listTbl .td_alt {padding:5px 25px 5px 25px; background:#f3f3f3;}
.listTbl .td_norLeft_alt {text-align:left; vertical-align:top; background:#f3f3f3;}
.listTbl .td_Left_alt {text-align:left; background:#f3f3f3;}
.listTbl .td_right_alt {text-align:right; background:#f3f3f3;}

.listTblInvoice .td_alt {padding:5px 25px 5px 25px; background:#f3f3f3;}
.listTblInvoice .td_norLeft_alt {text-align:left; vertical-align:top; background:#f3f3f3;}
.listTblInvoice .td_Left_alt {text-align:left; background:#f3f3f3;}
.listTblInvoice .td_right_alt {text-align:right; background:#f3f3f3;}
/* End of Alternate */


/* End of Table */

/* Loading ---------- */
.tdLoading {position:relative; height:auto; overflow:hidden; width:100%;}
.divLoadingContainer {position:relative; height:auto; overflow:hidden;}
.divFormLoading {position:relative; height:auto; overflow:hidden;}
.divLoading {color:#fff; width:100%; height:100%; overflow:hidden; background:#4a88bf; position:absolute; top:0; left:0; filter:alpha(opacity=35); -moz-opacity: 0.35; opacity:0.35; text-align:center;}
.divLoading img {padding-top:10px;}
/* End Of Loading ---------- */


/* Tooltip */
.spanTooltip {display:inline-block;position:relative;width:20px;height:20px;  vertical-align: middle;}
.spanTooltip .icon { background: url("../img/adm/icon-notice.gif") no-repeat left;width:100%;height:100%;display: block;cursor:pointer;}
.spanTooltip .icon:hover + .msg,.spanTooltip:hover .msg{opacity:1; visibility:visible;}
.spanTooltip .msg {  transition: opacity .3s ease-in-out;padding:10px;opacity:0;visibility:hidden;white-space: nowrap;position:absolute;  right: -55px;top: -60px;background-color:#434343;color:#fff; min-width:80px;}
.spanTooltip .msg:after {  content: "\A";border-style: solid;border-width: 15px 10px 0px 10px;border-color: #434343 transparent transparent transparent;position: absolute;  right: 55px; bottom: -30px;padding-bottom: 15px;}
.spanTooltip a:visited,.spanTooltip a:link {color:#05e2e5;}
.spanTooltip a:hover{text-decoration:underline;}

.spanTooltip .msg.right { left: 45px;top: -15px;right: auto;bottom: auto;}
.spanTooltip .msg.right:after {left: -15px; top: 25%;right: auto;bottom: auto;border-width: 12px 15px 12px 0px;border-color: transparent #434343 transparent transparent;  padding-bottom: 0;}
/* end of Tooltip */

/* Button ---------- */
.form__action form__action--floated {height:auto; overflow:hidden; padding-top:20px; padding-left:20px; padding-right:20px;}
.form__action form__action--floated.shiftleft{  padding-left: 40px;}
.divActionLeft {height:auto; overflow:hidden;}
.divActionRight {height:auto; overflow:hidden; float:right;margin-right:10px;}
.divActionPrint {height:auto; overflow:hidden; text-align:right;  position: absolute; right: 80px; top: 120px;}

.divFormBtnRight {height:auto; overflow:hidden; text-align:right; padding-top:20px; padding-bottom:20px; padding-right:20px; padding-left:20px;}
.divFormBtnRight a {float:right;}

.divAckGrey {padding:10px 20px; height:auto; overflow:hidden; background:#f3f3f3; border-top:1px solid #fff;}
.divAck {height:auto; overflow:hidden; padding-bottom:10px;}

.imgLink {border:0px;}

.btn,
a.btn:link,
a.btn:visited{display: inline-block; height:60px; width:100%; color:#fff; font-size:24px; line-height: 55px; background-color:#5b95ff; text-align:center; margin-bottom:10px;}
a.btn:active ,
a.btn:hover {color:#fff; background-color:#72a4ff; text-decoration:none; text-align:center;}

.btnLogin,
a.btnLogin:link,
a.btnLogin:visited{display: inline-block; height:90px; width:100%; color:#fff; font-size:320%; line-height: 90px; background-color:#5b95ff; text-align:center; margin-bottom:10px;}
a.btnLogin:active ,
a.btnLogin:hover {color:#fff; background-color:#72a4ff; text-decoration:none; text-align:center;}

.btn2 ,
a.btn2:link ,
a.btn2:visited {display: inline-block;padding:0px 30px 0px 55px;height:48px;width:auto;color:#5b95ff;font-size:100%;  line-height: 48px; background-repeat: no-repeat;background-position: left 20px top 18px;border:1px solid #5b95ff;border-radius:5px;}
a.btn2:active ,
a.btn2:hover { background-position: left 20px top -47px;background-color:#F8F8F8;text-decoration:none; }

.btn3:link,.btn3:visited{  background-position: right 20px top 10px;background-color:#2b539b;background-image:url('../img/adm/btn-login.gif');background-repeat:no-repeat;color:#fff;height:40px;line-height:40px;font-size:87.5%;padding: 0px 55px 0px 30px;display:inline-block;}
.btn3:active,.btn3:hover{  background-position: right 20px top -60px;background-color:#4077db;text-decoration:none;}

.btnmb2 ,
a.btnmb2:link ,
a.btnmb2:visited {display: inline-block; padding:0px 30px 0px 25px; height:15px; width:auto;color:#2b539b;font-size:100%;  line-height: 15px; background-repeat: no-repeat; background-position: left 0px top 0px;}
a.btnmb2:active ,
a.btnmb2:hover { background-position: left 0px top -65px; text-decoration:none; color:#5b95ff;}

.btnRedPaddingRight {float:left; padding-left:25px; padding-right:25px; padding-top:2px; padding-bottom:2px; border:1px solid #272727; color:#fff; background:url("../img/adm/bg_button_red.gif") repeat-x top #b90000; margin-right:5px;}
a.btnRedPaddingRight:link {color:#fff; }
a.btnRedPaddingRight:visited {color:#fff; }
a.btnRedPaddingRight:active {color:#272727; }
a.btnRedPaddingRight:hover {color:#272727; }

.btnRed {float:left; padding-left:25px; padding-right:25px; padding-top:2px; padding-bottom:2px; border:1px solid #272727; color:#fff; background:url("../img/adm/bg_button_red.gif") repeat-x top;}
a.btnRed:link {color:#fff; }
a.btnRed:visited {color:#fff; }
a.btnRed:active {color:#272727; }
a.btnRed:hover {color:#272727; }

.btnSectMenu {float:left; padding-left:10px; padding-right:10px; padding-top:2px; padding-bottom:2px; border:1px solid #ccc; color:#4a4a4a; background:#e7e7e7; margin-right:5px;}
a.btnSectMenu:link {color:#4a4a4a; }
a.btnSectMenu:visited {color:#4a4a4a; }
a.btnSectMenu:active {color:#1c7fd7; }
a.btnSectMenu:hover {color:#1c7fd7; }

.btnSectMenuSel {float:left; padding-left:10px; padding-right:10px; padding-top:2px; padding-bottom:2px; border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #fff; color:#1c7fd7; background:#fff; margin-right:5px;}
a.btnSectMenuSel:link {color:#1c7fd7; }
a.btnSectMenuSel:visited {color:#1c7fd7; }
a.btnSectMenuSel:active {color:#1c7fd7; }
a.btnSectMenuSel:hover {color:#1c7fd7; }

.btnGreyShadwow {padding-left:25px; padding-right:25px; padding-top:5px; padding-bottom:5px; border:1px solid #ccc; border-radius:4px; -moz-border-radius:4px;  color:#4a4a4a; background:url("../img/adm/") repeat-x top; box-shadow: 0px 2px 7px #ccc;}
a.btnGreyShadwow:link {color:#4a4a4a; }
a.btnGreyShadwow:visited {color:#4a4a4a; }
a.btnGreyShadwow:active {color:#272727;  box-shadow: 0px 2px 7px #999;}
a.btnGreyShadwow:hover {color:#272727;  box-shadow: 0px 2px 7px #999;}


.btnNext {float:left; padding-left:20px; padding-right:20px; padding-top:5px; padding-bottom:5px; border:1px solid #ccc; color:#4a4a4a; background:#e7e7e7; margin-bottom:10px;}			
a.btnNext:link {color:#4a4a4a; text-decoration:none;}			
a.btnNext:visited {color:#4a4a4a; text-decoration:none;}			
a.btnNext:active {color:#1c7fd7; text-decoration:none;}			
a.btnNext:hover {color:#1c7fd7; text-decoration:none;}

.actLink ,
a.actLink:link ,
a.actLink:visited ,
a.actLink:hover ,
a.actLink:active {float:left;}

.linkShow ,
a.linkShow:link ,
a.linkShow:visited{color:#434343;transition:0.5s all;font-size:112.5%;text-transform:capitalize;background:url("../img/adm/icon-advanced.gif") no-repeat right 8px;padding-right:20px;}
a.linkShow:hover,
a.linkShow:active {text-decoration:none;}

.linkHide ,
a.linkHide:link ,
a.linkHide:visited{color:#434343;transition:0.5s all;font-size:112.5%;text-transform:capitalize;background:url("../img/adm/icon-advanced.gif") no-repeat right -55px;padding-right:20px;}
a.linkHide:hover ,
a.linkHide:active {text-decoration:none;}

.btnStatus {padding-bottom:2px; cursor:default; font-weight:bold; text-transform:uppercase;}
a.btnStatus:link {color:#4a4a4a; }
a.btnStatus:visited {color:#4a4a4a; }
a.btnStatus:hover {color:#4a4a4a; }
a.btnStatus:active {color:#4a4a4a; }

.btnStatusDisabled {padding-left:25px; padding-right:25px; padding-top:2px; padding-bottom:2px; cursor:default; background:#fff; color:#4a4a4a; font-weight:bold; text-transform:uppercase;}
a.btnStatusDisabled:link {color:#4a4a4a;  cursor:default;}
a.btnStatusDisabled:visited {color:#4a4a4a;  cursor:default;}
a.btnStatusDisabled:hover {color:#4a4a4a;  cursor:default;}
a.btnStatusDisabled:active {color:#4a4a4a;  cursor:default;}

.btnStatusSel ,
a.btnStatusSel:link ,
a.btnStatusSel:visited ,
a.btnStatusSel:hover,
a.btnStatusSel:active {color:#4a4a4a; padding-top:2px; padding-bottom:2px; cursor:default; font-weight:bold; text-transform:uppercase;}

.btnStatusAct {padding-left:25px; padding-right:25px; padding-top:5px; padding-bottom:5px; border:1px solid #272727; color:#fff; background:url("../img/adm/bg_button.gif") repeat-x top #4b4b4b;}
a.btnStatusAct:link {color:#fff; }
a.btnStatusAct:visited {color:#fff; }
a.btnStatusAct:hover {color:#ff6c00; }
a.btnStatusAct:active {color:#ff6c00; }

.hypUploadInfo {cursor:default;}
a.hypUploadInfo:link {}
a.hypUploadInfo:visited {}
a.hypUploadInfo:hover {}
a.hypUploadInfo:active {}
.hypUploadInfo img {width:30px; height:30px;}

.linkDeleteDisabled ,
a.linkDeleteDisabled:link ,
a.linkDeleteDisabled:visited ,
a.linkDeleteDisabled:hover ,
a.linkDeleteDisabled:active {background:url('../img/adm/icon-delete.gif') no-repeat 0 -66px; color:#aaa; cursor:default; text-decoration:none; padding-left: 20px; text-decoration:none;}

.linkDisabled ,
a.linkDisabled:link ,
a.linkDisabled:visited ,
a.linkDisabled:hover ,
a.linkDisabled:active {color:#aaa; cursor:default;}

.imgbtnPrint {background:url("../img/adm/icon_print.gif") no-repeat;}
.imgbtnPrint:hover {background:url("../img/adm/icon_print.gif") no-repeat 0px -12px;}
.imgbtnPrintDisabled {background:url("../img/adm/icon_print.gif") no-repeat 0px -12px; cursor:default;}




.lnkbtn:link, .lnkbtn:visited{color:#5b95ff; text-decoration:none;}
.lnkbtn:hover,.lnkbtn:active {color:#72a4ff; text-decoration:none;}


.lnkbtnNoIcon{padding-left:0 !important;background-position:0 0;}
.lnkbtnEdit{background-image:url('../img/adm/icon-edit.gif');}
.lnkbtnDelete{background-image:url('../img/adm/icon-delete.gif');}
.lnkbtnPrint {background-image:url('../img/adm/icon-print.gif');}
.btnSave{background-image:url('../img/adm/btn-save.gif') !important;}
.btnBack{background-image:url('../img/adm/btn-back.gif') !important;}
.btnPrint{background-image:url('../img/adm/btn-print.gif') !important;}
.btnRevert{background-image:url('../img/adm/btn-revert.gif') !important;}
.btnSearch {background-image:url("../../img/adm/mobile/icon-search.gif") !important; cursor:pointer;}
.btnAdd{background-image:url('../../img/adm/mobile/btn_add.gif') !important;}
.btnAddmb{background-image:url('../../img/adm/mobile/icon-add-product.gif') !important;}
.btnExportExcel , .btnExport {background-image:url('../../img/adm/mobile/btn_download.gif') !important;}
.btnExportExcelmb , .btnExportmb {background-image:url('../../img/adm/mobile/icon-download.gif') !important;}
.btnDelete {background-image:url('../img/adm/btn-delete.gif');}

.btnConfirm:link,.btnConfirm:visited{  background-position: right 20px top 10px;background-color:#2b539b;background-image:url('../img/adm/btn-confirm.gif');background-repeat:no-repeat;color:#fff;height:40px;line-height:40px;font-size:87.5%;padding: 0px 55px 0px 30px;display:inline-block;}
.btnConfirm:active,.btnConfirm:hover{  background-position: right 20px top -60px;background-color:#4077db;text-decoration:none;}

.btnCancel:link,.btnCancel:visited{background-color:#FF2424 !important;background-image:url('../img/adm/btn-cancel.gif') !important;}
.btnCancel:hover,.btnCancel:active{background-color:#FF4A4A !important;}

.btnDisabled,.btnDisabled:link ,.btnDisabled:visited,
.btnDisabled:active,.btnDisabled:hover {cursor:not-allowed; background-position: left 0px top -65px; text-decoration:none; color:#5b95ff; }
/* End Of Button */


/* Search Box */
.divSearch {height:auto; overflow:hidden; border-top: 1px dotted #7e9aa5; background:#acc4ce;}
.divSearchHeader {height:auto; overflow:hidden;}
.divSearchForm {height:auto; overflow:hidden; padding:20px 0px 15px 20px;}
.divSearchFormShow {height:auto; overflow:hidden; padding-top:20px; display:block;}
table.tblSearchForm {width:100%;}
table.tblSearchForm td.tdLabel {width:100px; padding-right:10px; padding-top:12px;}
table.tblSearchForm td.tdInputField {padding-right:40px;}
table.tblSearchForm td:first-child {}

.tblSearch{width:100%; background:#acc4ce;}
.tblSearch td{vertical-align:middle; white-space: nowrap;}
.tblSearch .txtKeyword {width:498px;height:30px; padding:10px; font-style:italic; border:none;}

.divFilterContainer{height:auto; overflow:hidden;padding:20px 40px;border-top: 1px solid #ececec;}
.divFilter {position:relative;}
.divFilter.active {height:auto;}
.divFilter .divKeyword {display:inline-block;}
.divFilter .tdKeyword {  vertical-align: middle;font-size:112.5%;padding-right: 30px;}
.divFilter .txtKeyword {width:100%; height:30px; padding:10px 15px; font-style:italic; border:none; background:#d0e3ea;}
.divFilter .btnSearch {height:30px !important; width:30px !important; background-repeat:no-repeat; outline:none; border:none; background-color:#d0e3ea; position:absolute; right:15px; top:17px;}


/* End of Search Box */

/* Login */
#divLoginContainer {width:100%; margin:auto; height:auto !important; height:auto; overflow:hidden; }
#tblLogin {}
#tblLogin th {text-align:left; padding-bottom:20px; font-weight:bold; }
#tblLogin td {padding:0px; }
#tblLogin .tdLoginBtn {text-align:left; padding:50px 20px 20px 20px;}
#divLoginContainer input {height:120px; font-size:345%; width:99%; color:#bababa; border:0px solid transparent; background-position:right 20px top 43px; background-repeat:no-repeat;}
#divLoginContainer input:focus {box-shadow:0 0 0 0; background-position:right 20px top -42px; color:#434343;}
#divLoginContainer .txtEmail{background-image:url("../../img/adm/mobile/icon-userid.gif"); font-style:italic; padding-left:20px;}
#divLoginContainer .txtPassword{background-image:url("../../img/adm/mobile/icon-password.gif"); font-style:italic; padding-left:20px;}
.tdSplitterLogin {border-bottom:1px solid #cccccc; padding:0px;}
.divLoginError {background:url("../../img/adm/mobile/icon-fail.gif") no-repeat 0px 0px; padding-left:25px; color:#d33836!important;}
.divLoginErrorMsg {padding:15px 20px; font-size:14px; background:#ececec; border:solid 1px #ccc; width:100%;}
.divLoginAck {padding:15px 20px; font-size:14px; text-align:center; background:#ececec; border:solid 1px #ccc; width:100%;}

.divGstSetting{}
.divUpdateProfile{padding:0px 0px;}
.divUpdateProfile .formTbl td {padding-left:20px; border-bottom:1px solid #ececec;}
/* End of Login */

/* Control Panel */
.divControlPanelContainer {}
.divControlPanelContainer .text_fullwidth{width:95%;}
.divControlPanelContainer .formTbl{padding:0px 0px;}
.divControlPanelContainer .formTbl:last-child{border-bottom:0px solid transparent;}

.divControlPanelContainer .formTbl td:first-child {width:10%;  min-width:130px; padding-right:0px;}
.divControlPanelContainer .formTbl td:last-child {width:90%;}

.divControlPanelContainer .formTbl td.tdSectionHdr {padding:10px 0px;}
.divControlPanelContainer .formTbl td {padding-left:20px; border-bottom:1px solid #ececec;}
.divControlPanelContainer .formTbl tr:last-child td{}
.divControlPanelContainer .formTbl .tdNoBorder {border:none;}
.divControlPanelContainer .formTbl .tdAction {padding-left:0px !important; padding-right:20px !important;}

#tblControlPanel {border-collapse: collapse;}
#tblControlPanel tbody {border-top:1px solid #ececec;border-bottom:1px solid #ececec;}
#tblControlPanel tbody:first-child {border-top:0px solid transparent;}
#tblControlPanel tbody:last-child {border-bottom:0px solid transparent;}
#tblControlPanel tbody:empty{display:none;}


/* end of Control Panel */

/* Logo & Icon setting */
.divLogoSettingContainer .tblData td{padding-top:10px;padding-bottom:10px;}
.divLogoSettingContainer #tblAction {padding-top:0px;}

/* end of Logo & Icon setting */

/* start of email setup */
.divEmailSetupContainer {}
.divEmailSetupContainer .formTbl{padding:0px 0px;}
.divEmailSetupContainer .formTbl td:first-child {width:20%;}
.divEmailSetupContainer .formTbl td:last-child {width:80%;}
.divEmailSetupContainer .formTbl td.tdSectionHdr {padding:10px 0px;}
.divEmailSetupContainer .formTbl td {padding-left:20px; border-bottom:1px solid #ececec;}
.divEmailSetupContainer .formTbl tr:last-child td{padding-bottom:20px;}
.divEmailSetupContainer .formTbl .tdNoBorder {border:none;}
.divEmailSetupContainer .formTbl .tdAction {padding-left:0px !important;}

/* end of email setup */

/* Upload Info */
.divFileUpload {height:25px; overflow:visible;}
.divFileUploadAction {height:25px; overflow:visible; float:left; padding-right:10px;}

.divFileUploadRule {height:auto; min-height:15px; overflow:visible; position:relative; float:left;}
.divFileUploadRuleNor {height:auto; min-height:15px; overflow:visible; width:150px; position:relative;}
.divFileUploadInfo {height:auto; overflow:hidden; position:absolute; width:500px; left:30px; top:0px; display:none;}

#spanFileUploadInfo {display:none;}
#upload {padding-bottom:20px;}
/* End of Upload Info */

/* Related Product */
.divProdRelNoFound, .divDealSelNoFound {height:auto; overflow:hidden;}
.divProdList {height:auto; overflow:hidden;}
.divProdSelList, .divDealSelContainer {height:auto; overflow:hidden; padding-top:20px;}
.divProdListItems, .divDealSelListing {height:auto; overflow:hidden;}

.divProdRelProdTotal {height:auto; overflow:hidden; padding-bottom:10px; padding-left:20px;}
.divRelProdTotal {height:auto; overflow:hidden; width:90%; float:left;}
.divProdRelProdPagingPagination {height:auto; overflow:hidden; float:right; display:table;}
.divProdRelProdItems {height:auto; overflow:hidden; padding-top:20px; padding-bottom:20px;}

.divIndProd, .divRelDealItem {float:left;width:100%;  height:auto; overflow:hidden; margin-right:70px; margin-bottom:15px; text-align:center;}
.divIndProdLast, .divRelDealItemLast {float:left;width:100%; height:auto; overflow:hidden; text-align:center; margin-bottom:15px;}

.divRelProdImgProd, .divRelDealImg {height:100px; overflow:hidden; width:100px; display:table;margin:auto;}
.divRelProdImgProdInner, .divRelDealImgInner {display:table-cell; text-align:center; vertical-align:middle;}
.divRelProdName, .divRelDealName {height:auto; overflow:hidden; padding-top:10px;}


.relprodTbl {width:100%;}

.relprodTbl .tdRelProdItem {vertical-align:top; width:20%;}
.relprodTbl .tdRelProdItemLast {vertical-align:top; width:20%;}
/* End of Related Product */

/* Highlight Gallery */
.divHighGallery {height:auto; overflow:hidden; clear:both;}
.divIndImage {float:left; width:230px; height:350px; overflow:hidden; margin-right:30px; margin-bottom:50px; text-align:center; border:1px solid #eee; padding:5px;}
.divIndImage:hover {border:1px solid; -moz-box-shadow: 0 0 8px #999; -webkit-box-shadow: 0 0 8px #999; box-shadow:0px 0px 8px #999;}
.divIndImage table {height:100%;}
.divIndImage table td {padding:0px;text-align:center;}
.divIndImage img {padding-bottom:5px;}
.divIndImageLast {float:left; width:200px; height:auto; overflow:hidden; text-align:center; margin-bottom:15px;}
td.tdHighImageNumber {height:100%; vertical-align:bottom;}

.divEventForm #tblEventDetail{padding-bottom:0px;}
.divEventForm #tblAddDesc,
.divEventForm #tblAddArticle,
.divEventForm #tblAddVideo,
.divEventForm #tblFileUpload,
.divEventForm #tblManageComment{padding-top:0px;}
/* End of Highlight Gallery */


/* Pagination */
.divPaging {height:auto; overflow:hidden; padding:5px; background:#434343;}
.divPagingInner {display:table-cell; text-align:center; vertical-align:middle;}
.spanPagination {padding-left:2px; padding-right:2px; vertical-align:0px;}

.linkPage,
a.linkPage:link,
a.linkPage:visited {color:#fff;  padding: 0 5px;}
a.linkPage:hover,
a.linkPage:active{color:#05e2e5;}

.linkPageSel ,
a.linkPageSel:link ,
a.linkPageSel:visited ,
a.linkPageSel:hover ,
a.linkPageSel:active {color:#05e2e5;  padding: 0 5px;}

.linkPageLead {color:#1c7fd7;}
a.linkPageLead:link {color:#1c7fd7; }
a.linkPageLead:visited {color:#1c7fd7; }
a.linkPageLead:hover {color:#003c71; }
a.linkPageLead:active {color:#003c71; }
/* End of Pagination */

/* GST Settings */
#tblGSTSettings table td:first-child {min-width:150px;width:20%;padding-left:20px;}
#tblGSTSettings table td:nth-child(2) {width:80%;padding-right:20px;}
/* End of GST Settings */

/* Transaction Detail */
.divTop {height:auto; overflow:hidden;}
.divSalesDetail .divActionPrint{position:absolute;right:40px;top:120px;z-index:999;}
.divSalesDetail .divLeft {float:left;width:50%;}
.divSalesDetail .divRight {float:right;width:50%;}
.divSalesDetail .divBottomItems {height:auto; overflow:hidden;clear:both;}
.divSalesDetail .divOrdSalesItems {height:auto; overflow:hidden; clear:both;}

.divSalesDetail .divLeft .divDetails {padding:20px 20px 20px 20px;border-right:1px solid #ececec;overflow:hidden;}
.divSalesDetail .divLeft .divDetails .divFormBtnRight {padding-right:20px;min-width:500px;}
.divSalesDetail .divLeft .divDetails .divFormBtnRight a {margin-left:10px;}
.divSalesDetail .formTbl2 {padding-left:20px;min-width:500px}
.divSalesDetail .formTbl2 thead td:first-child {font-weight:700;padding-bottom:20px;}
.divSalesDetail .formTbl2 thead td a {float:right;}
.divSalesDetail .formTbl2 tbody td {padding-bottom:10px;}
.divSalesDetail .formTbl2 tbody td input,.divSalesDetail .formTbl2 tbody td select {width:100%;  height: 38px;}
.divSalesDetail .divDeliveryHeader,
.divSalesDetail .divPaymentHeader,
.divSalesDetail .divStatusHeader{font-weight:700;padding-bottom:20px;}
.divSalesDetail .divItemsHeader{font-weight:700;  border-bottom: 5px solid #cccccc;padding-bottom: 10px;margin-bottom: 10px;}
.divSalesSummary { padding:0px 0px;}
.divSalesDetail .divStatus {padding:20px 0px;}
.divSalesDetail .divPayment {padding:20px 0px;}
.divSalesDetail .divBottomItems {padding:20px 0px;}
.divSalesDetail .divOrdInvoicePrint{  position: absolute;right: 20px; top: 145px;}
.divStatusActRight {float:left; padding-left:10px;}


.divStatus .tblStatus {border-collapse: collapse;}
.divStatus .tblStatus tbody { border-top:1px dashed #ececec;}
.divStatus .tblStatus tbody td{padding-bottom:10px; padding-left:20px; }
.divStatus .tblStatus td:first-child{width:10%;}
.divStatus .tblStatus td:last-child{width:90%;}
.divStatus .tblStatus tbody tr:first-child td{padding-top:20px;}
.divStatus .tblStatus tbody tr:last-child td{padding-bottom:20px;}
.divStatus .form__action form__action--floated {text-align:right;}
.divStatus .tblStatus tbody tr {border-bottom:1px solid #ececec;}

.divPayment .tblPaymentDetails {  padding-left: 20px;}
.divPayment .tblPaymentDetails thead td:first-child{  font-weight: 700;padding-bottom: 20px;}
.divPayment .tblPaymentDetails td:first-child{width:30%;}
.divPayment .tblPaymentDetails td:last-child{width:70%;}

.divPayAmount {height:auto; overflow:hidden;}
.divPayRemarks {height:auto; overflow:hidden;}
.divBottomItems .divFormBtnRight{ padding-right: 20px;}
.divBottomItems .divFormBtnRight a {margin-left:10px;}
.divBottomItemsHeader {height:auto; overflow:hidden; padding-bottom:20px;}
.divBottomItemsHeaderInner {height:19px; border-bottom:1px solid #ccc; padding-left:10px;}

.divListingBilling {width:50%; float:left;}
.divListingDelivery {width:50%; float:left;}

.divBillingDetails {height:auto; overflow:hidden;padding-bottom:20px; padding-top:10px;}
.divDeliveryDetails {height:auto; overflow:hidden;}


.divOrderProdItemDetail {height:auto; overflow:hidden; }
.divOrderProdImg {float:left; width:100px; height:100px; padding:0px 25px 0px 0px; display:table;}
.divOrderProdImgInner {display:table-cell; vertical-align:middle; text-align:center;border: 1px solid #cccccc;}
.divOrderProdImgInner img{width:100%;}
.divOrderProdDetail {float:left; text-align:left; height:auto; overflow:hidden; }

#tblOrderItems tr td:first-child{text-align:center;vertical-align:middle;}
#tblOrderItems tr td:nth-child(4) input{border-radius:0px;}
#tblOrderItems td {vertical-align:middle;}
#tblOrderItems tfoot td{padding:5px 10px;}
#tblOrderItems tfoot tr:first-child td{padding-top:20px;}
#tblOrderItems tfoot tr:last-child td{padding-bottom:20px;}
#tblOrderItems .trSpacer td{height:20px;border-bottom:0 solid transparent;}

#tblOrderItems .first{width:5%;}
#tblOrderItems .second{width:59%;}
#tblOrderItems .third{width:12%;}
#tblOrderItems .fourth{width:12%;}
#tblOrderItems .fifth{width:12%;}

#tblSalesSummary td {padding-bottom: 12px;}
#tblSalesSummary > tbody > tr > td:first-child {padding-left:20px;  padding-right:0px;}
#tblSalesSummary tbody td textarea {width:100%;height:150px;}

#tblSalesSummary .cboxCustomer > div{position:relative;}
#tblSalesSummary .cboxCustomer table{width:100%;}
#tblSalesSummary .cboxCustomer table .ajax__combobox_textboxcontainer{  width: 96%;}
#tblSalesSummary .cboxCustomer table .ajax__combobox_textboxcontainer input{width:100%;}
#tblSalesSummary .cboxCustomer table .ajax__combobox_textboxcontainer input:focus{border:1px solid #D33836;}
#tblSalesSummary .cboxCustomer .ajax__combobox_itemlist{  width: 40% !important; top: -6px !important;left: 3px !important;}


/* End of Transaction Detail */

/* product Specification */
.divProdSpecContainer .formTbl td {vertical-align:middle;}
/* end of product Specification

/* Status */
.tblStatus {}
.tblStatus td:first-child {}
.tblStatus .trPaymentAction td {padding-bottom:10px;}
.tdStatusBtnLabel {padding-top:10px;}

.tdStatusLabel {padding-right:10px; padding-top:10px; width:130px;}
.tdStatusLabelActive {padding-left:10px; padding-top:14px; padding-right:10px; width:130px; background:#f3f3f3;}
.tdStatusActive {background:#f3f3f3; padding-right:10px;}
.tdStatusLabelActivePadding {padding-left:10px; padding-top:20px; padding-right:10px; padding-bottom:10px; width:100px; background:#f3f3f3;}
.tdStatusActivePadding {background:#f3f3f3; padding-left:10px; padding-top:20px; padding-right:10px; padding-bottom:10px;}
/* End of Status */

/* Cancel Trans */
.divCancelTrans {height:auto; overflow:hidden; padding-top:50px;}
.divCancelTrans .divAck{display: table-cell;vertical-align: middle;}
.divCancelTransInner {height:260px; overflow:hidden; width:600px; margin:auto;display:table;}
.divCancelTransForm {}
.tdCancelTrans {}
.tblCancelTransInner td:first-child {padding-top:14px; padding-right:10px;}
.tblCancelTransInner tr.trHeader td {padding-top:2px;}
.tblCancelTransInner td.tdHeader {padding-top:2px;}
/* End of Cancel Trans */


/* Delete Trans */
.divDeleteTrans {height:auto; overflow:hidden;}
.divDeleteTransInner {height:auto; overflow:hidden; width:550px; padding-left:30px; padding-right:30px; margin:auto;}
.divDeleteTransForm {height:auto; overflow:hidden; text-align:left;}
.tdDeleteTrans {text-align:center; vertical-align:middle; height:300px;}
/* End of Delete Trans */

/* Undo Status */
.divUndoStatus {height:auto; overflow:hidden;}
.divUndoStatusInner {height:auto; overflow:hidden; width:500px; padding-left:30px; padding-right:30px; margin:auto;}
.divUndoStatusForm {height:auto; overflow:hidden; text-align:left;}
.tdUndoStatus {text-align:center; vertical-align:middle; height:300px;}
/* End of Undo Status */

/* Print */
.divPrintContainer {width:850px; height:auto; overflow:hidden; padding-left:25px; padding-right:25px; margin-top:20px; margin:auto; color:#000000;}
.divPrintItems {height:auto; overflow:hidden;}
.divInvoiceType {height:auto; overflow:hidden; text-align:center; padding-top:20px; padding-bottom:20px; text-transform:uppercase; font-weight:bold; color:#414141; font-size:150%;}

.divPrintInvoiceHeader {height:auto; overflow:hidden; padding-bottom:10px; border-bottom:5px solid #cccccc;}
.divPrintInvoiceHeaderRight {float:left; padding-left:30px; font-size:120%; color:#414141; font-weight:bold;}
.spanROC {font-size:90%; font-weight:normal; padding-left:10px;}
.divPrintInvoiceBillDelDetails {height:auto; overflow:hidden; font-size:120%; padding-top:20px; padding-bottom:30px;}
.divPrintInvoiceListingItems {height:auto; overflow:hidden; padding-bottom:30px;}
.divPrintInvoiceSalesRemarks {height:auto; overflow:hidden; text-align:justify;}

.divPrintInvoiceTopWrap {/*min-height:980px;*/height:auto; overflow:hidden;}

.divPrintInvoiceTopMain {overflow:auto; padding-bottom: 180px;}  /* must be same height as the footer */
.divPrintInvoiceBtmContainer {height:180px; overflow:hidden; padding-top:50px; /*position:relative; margin-top: -180px; /* negative value of footer height */ /*height: 180px; clear:both;*/}

.tdInvoiceDetail1 {width:15%; font-weight:bold;}
.tdInvoiceDetail2 {width:85%; border-right:1px solid #cccccc;}
.tdInvoiceDetail3 {width:50%; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
/* End of Print */

/* Sales */
.divBillingDetailsHdr {height:auto; overflow:hidden; border-bottom:1px solid #ccc;}
.divBillingDetailsHdrLeft {float:left; margin-right:10px; font-weight:bold;}
.divBillingDetailsHdrRight {float:left;}

.divOrdSalesSummary {height:auto; overflow:hidden;}
.divOrdSalesSummaryLeft {float:left; width:60%; padding-right:30px;}
.divOrdSalesSummaryLeft .text{width:73%;}
.divOrdSalesSummaryLeft .ajax__combobox_textboxcontainer{width: 90%;}
.divOrdSalesSummaryLeft .ajax__combobox_textboxcontainer input{width:102%;}
.divOrdSalesSummaryRight {float:left; width:37%;}
.divSalesActionBtns {height:auto; overflow:hidden;}
.divOrdInvoicePrint {height:auto; overflow:hidden; padding-top:10px;}
.divInvoicePrint {float:right;}
.divInvoicePrintLeft {float:left; padding-right:30px;}
.divInvoicePrintRight {float:left;}
.divInvoiceQuickDone {height:auto; overflow:hidden; padding-top:10px; padding-bottom:50px; float:right;}

.btnFloat {position:absolute; top:0px; right:0px;}
/* End of Sales */

/*Shipping*/
.tdShippingLeftList {padding-right:20px;}

.divShipCompContainer {height:auto; overflow:hidden;}
.divShipCompDetailsContainer {height:auto; overflow:hidden;}
.divShipCompSettingsContainer {height:auto; overflow:hidden;}
.divShippingDetails .tblShippingSettings td:first-child{width:19% !important;}
/*End of Shipping*/

/*Country Manager*/
.divCountryDetailsContainer {height:auto; overflow:hidden; padding-top:30px;}
/*End of Country Manager*/

/*Registration Details*/
.divRegistrationDetailsOuter {height:auto; overflow:hidden; padding-top:30px; padding-bottom:30px;}
.divRegistrationDetailsInner {height:auto; overflow:hidden; width:800px; margin:auto;}
.divRegistrationDetails {height:auto; overflow:hidden; padding-bottom:50px;}
.divRegistrationDetailsHdr {height:40px;position:relative; overflow:hidden; padding-bottom:5px; border-bottom:1px solid #cccccc;}
.divRegDetailsHdrLeft {float:left; font-weight:bold; font-size:120%;padding-top:16px;}
.divRegDetailsHdrRight {float:right;}
.divRegistrationDetailsContent {height:auto; overflow:hidden; padding-top:10px;}

.divRegistrationPaymentDetails {height:auto; overflow:hidden;}
.divPaymentDetailsHdr {font-weight:bold; font-size:120%; padding-bottom:5px; border-bottom:1px solid #cccccc;}
.divPaymentDetailsContent {height:auto; overflow:hidden; padding-bottom:20px; padding-top:10px;}

.divAdmRegBtn {width:800px; border-top:1px solid #ccc; padding-top:5px;}
.divBtnLeft {float:left;}
.divBtnRight {float:right;}

.tdRegDetailLabel {width:180px; padding-right:20px; padding-top:4px; vertical-align:top;}
.tdRegDetailLabel2 {width:120px; padding-left:50px; padding-right:20px; padding-top:4px; vertical-align:top;}
.tdRegDetailLabelNor {width:140px; padding-right:20px; vertical-align:top;}
.tdRegDetailLabelNor2 {width:120px; padding-left:50px; padding-right:20px; vertical-align:top;}

.divRegistrationDetailsAck {height:auto; overflow:hidden; padding-top:10px;}
.noticemsg2 {color:#a4a4a4; font-style:italic;}
.errmsg{color:red; font-style:italic;}
.errmsg2 {color:red; font-style:italic;}
.errmsg3{color:#D33836;font-style:italic;}
.hypClose {cursor:pointer;}
/*End Registration Details*/

/*Address List*/
.divAddressList {height:auto; overflow:hidden; padding-top:30px;padding:20px 40px 20px 40px;}
/*End of Address List/

/*Related Deal*/
.divDealRelNoFound {height:auto; overflow:hidden;}
.divRelDeal {height:auto; overflow:hidden;}
.divRelDealTotal {height:auto; overflow:hidden; padding-bottom:10px;}
.divRelDealPaginationTopContainer, .divRelDealPaginationBtmContainer {height:auto; overflow:hidden; padding:5px; background:#ffe694;}
.divRelDealPaginationTopContainerInner, .divRelDealPaginationBtmContainerInner {height:auto; overflow:hidden; float:right; display:table;}
.divRelDealItemsContainer {height:auto; overflow:hidden; padding-top:20px; padding-bottom:20px;}

.relDealTbl {width:100%;}

.relDealTbl .tdRelDealItem {vertical-align:top; width:170px;}
.relDealTbl .tdRelDealItemLast {vertical-align:top; width:100px;}
/*End of Related Deal*/

/*Tree View*/
.tvCategory {}
.tvCategory a:link ,.tvCategory a:visited,
.tvCategory a:hover ,.tvCategory a:active {color:#434343; text-decoration:none;} 
.tvCategory table {width:0px;}
/*End of Tree View*/

/*------------ START OF INVENTORY RECEIVABLE -----------------*/
#tblReceiveItemForm .code { width:500px; }
#tblReceiveItemForm .price { width:70px; }
#tblReceiveItemForm .discount { width:70px; }
#tblReceiveItemForm .amount { width:70px; }

#tblReceiveItemForm .divQtyContainer {width:100px;}
#tblReceiveItemForm .qty { width:70px; }

#tblReceiveItemForm .tdSpacerForBillDiscount,
#tblReceiveItemForm .tdSpacerForTotal{width: 47%;}
/*------------ END OF INVENTORY RECEIVABLE -----------------*/


/*------------ START OF INVENTORY ADJUSTMENT -----------------*/
#tblAdjustItemForm .code{ width:500px; }
#tblAdjustItemForm .divQtyContainer {width:100px;}
#tblAdjustItemForm .qty { width:70px; }



/*------------ END OF INVENTORY ADJUSTMENT -----------------*/


/*------------ START OF WATER MARK ON IMAGE -----------------*/
#lblOpacity {
  border: 1px solid #ececec;
  padding: 5px;
  display:inline-block;
  margin-left: 10px;
}

.txtOpacity{
    border: 0;
    margin: 0;
}

/*------------ END OF WATER MARK ON IMAGE -----------------*/
 
/*------------ START OF SLIDE SHOW MANAGER -----------------*/
.divAblImg .divAblImgContainer{display:inline-block;padding:10px; vertical-align:top !important;}
.divAblImg .divImg{width:325px;height:195px;overflow:hidden;position:relative;margin-bottom:15px; border:1px solid #cccccc; }
.divAblImg .divImg img {position: absolute;top:50%;left:50%;}

.divAblImg .divImg{}
.divAblImg .divDetail{}
.divAblImg .divName{padding-bottom:10px;}
.divAblImg .divActive{padding-bottom:10px;}
.divAblImg .divGroupName{padding-bottom:10px;overflow:hidden; text-overflow: ellipsis;  white-space: nowrap;}
.divAblImg .form__action form__action--floated{padding:10px 0px;text-align:center;background-color:#ececec;}
.divAblImg .spanSplitter{color:#5b95ff; padding:0px 10px;}
/*------------ END OF SLIDE SHOW MANAGER -----------------*/

/*DB Execution for All Projects*/			
.divFormDB {float:left; width:860px;}		
.divAckDB {padding:10px; height:auto; overflow:hidden; background:#f3f3f3; border-top:1px solid #fff; float:left; width:860px;}	
.imgbtnTrans {height:10px; overflow:hidden; width:110px; border:none;}		
/*End of DB Execution for All Projects*/

/* Sales order popup */
.divPopUpOuter {height:auto; overflow:hidden;font-size:12px;}
    
.divPopUpBar {width:100%; overflow:hidden; background:#FFFFFF;}
.divPopUpBarInner { overflow:hidden;margin: 0px 30px;padding:30px 0px 20px 0px;border-bottom: 1px dotted black; }
.divPopUpBarSubBlock {vertical-align:top;}
.divPopUpBar .divLogo{margin-right: 30px;width:230px;float:left;}
.divPopUpBar .divLogo a{display:block;}
.divPopUpBar .divLogo img{width:100%;height:100%;}
.divPopUpBar .divPageInfo{overflow:hidden;}
.divPopUpBar .divPrint {float:right;margin-top: 20px;}
.divPopUpBar .divQuickContact{}
.divPopUpBar .divQuickContact .imgTel,
.divPopUpBar .divQuickContact .imgEmail,
.divPopUpBar .divQuickContact .imgFax {padding-right:5px;}
.divPopUpBar .divQuickContact .divTel,
.divPopUpBar .divQuickContact .divEmail,
.divPopUpBar .divQuickContact .divFax {padding-right:10px; font-size:85%;}
.divPopUpBar .divPageTitle{display:inline-block;font-size:170%;font-weight:700;padding-bottom: 5px;}
.divPopUpBar .divRegNo{display:inline-block;padding-left:5px;  font-size: 85%;}
.divPopUpBar .divRegNo .divCompanyRegNo,
.divPopUpBar .divRegNo .divGstRegNo,
.divPopUpBar .divRegNo .divSplitter{display:inline-block;}

.divPopUpBar .divDomainName{font-size:100%;font-weight:700;padding-bottom: 5px;}

.divPopUpContent {width:100%; height:auto; overflow:hidden; min-height:500px; overflow:hidden; background:#ffffff;}
.divPopUpContentInner {margin: 0px 30px; padding-top: 15px;}
.divPopUpContent .divColumnLeft{float:left;width:45%;}
.divPopUpContent .divColumnRight{float:right;width:45%;}
.divPopUpContent .frmTblDelivery {width:100%;font-size:100%;}
.divPopUpContent .frmTblDelivery td { padding-bottom:5px;font-size:110%; }
.divPopUpContent .frmTblDelivery td:first-child{width: 33%;}
.divPopUpContent .divPrint {float: right;margin: 0px 8px 20px 0px;}
.divPopUpContent .divPaymentSummary .frmTblDelivery td:first-child,
.divPopUpContent .divOrdListingSummary .frmTblDelivery td:first-child{width:40%;}
.divPopUpContent .divListingHdr {font-weight: 700;font-size: 130%;padding-bottom: 8px;border:solid 0 transparent;}
.divPopUpContent .divDetailHdr {color:#3f3f3f;font-weight:700;font-size:130%;padding-bottom:8px;border-bottom: 2px solid black;margin-bottom: 18px;}

.divPopUpContent .divSummaryOuter {height:auto; overflow:hidden;}
.divPopUpContent .divPaymentSummary {padding-top:20px;}
.divPopUpContent .divOrdListingSummary {padding-top:20px; padding-bottom:20px;}
.divPopUpContent .divListingItem {margin-top:10px;border:0px solid transparent;}
.divPopUpContent .divListingDetail {height:auto; overflow:hidden; padding-top:20px;padding-bottom:0px;}
.divPopUpContent .divSubListingDetail {width:100%; overflow:hidden;padding-bottom: 50px;}

.divPopUpFooter {}
.divPopUpFooterInner {  margin: 0px 30px;}
.divPopUpFooter .divLeft {float:left; width:50%;font-size: 85%;}
.divPopUpFooter .divRight {float:right; width:50%;}
.divPopUpFooter .divPrint{margin: 20px 0px;float:right;}
.divPopUpFooter .divLine {margin:3px 0px;}
.tblReviewOrderItem {border-collapse: collapse;border:1px solid #3f3f3f;}
.tblReviewOrderItem > thead{border-bottom:1px solid #7c7c7c;}
.tblReviewOrderItem > thead td {padding: 15px 0px 15px 0px;text-align: center;}
.tblReviewOrderItem > thead td:first-child {padding: 15px 0px 15px 20px;text-align: left;}
.tblReviewOrderItem > thead td:last-child {padding: 15px 20px 15px 0px;text-align: right;}

.tblReviewOrderItem > tbody > tr {border-bottom:1px dotted #3f3f3f;}
.tblReviewOrderItem > tbody > tr:last-child {border-bottom:0px dashed #3f3f3f;}
.tblReviewOrderItem > tbody > tr:hover{color:#000;}
.tblReviewOrderItem > tfoot{background-color:#e6e6e6;border-top:1px solid #7c7c7c;}

.tblReviewOrderItem .td_price,
.tblReviewOrderItem .td_qty,
.tblReviewOrderItem .td_total{ width:20%;text-align:center; vertical-align:top; padding-top:20px; }
.tblReviewOrderItem .td_total{padding-right:20px;text-align:right;}
.tblReviewOrderItem .td_item {padding-left:20px;}
.tblReviewOrderItem .td_item .divReviewCartProdImg{width:22%;height:auto;padding:20px 15px 20px 5px;border:0px solid transparent;float:left;}
.tblReviewOrderItem .td_item .divCartDetail{  width: 60%;height: auto;padding: 20px 0px 20px 12px;float: left;}
.tblReviewOrderItem .td_item .divCartProdImgInner {border: 1px solid #eaeaea;padding: 3px;float:left;}

.tblReviewOrderItem .tblTotal {width:auto;float:right;padding: 30px 20px 20px 0px;}
.tblReviewOrderItem .tblTotal td:first-child{text-align:right;padding-right:30px;padding-left: 10px;}
.tblReviewOrderItem .tblTotal td:last-child{text-align:right;position:relative;}
.tblReviewOrderItem .tblTotal td {padding-bottom: 10px;}
.tblReviewOrderItem .tblTotal td.tdOrderTotal {padding-top: 0px;color:#3f3f3f;font-size:115%;font-weight:700;border-top: 0px solid black;}
.tblReviewOrderItem .tblTotal tr.trDiscount {color:red;}
.tblReviewOrderItem .tblTotal tr.trDiscount .lblDisCode{padding-right:10px;}
.tblReviewOrderItem .tblTotal td .divSplitter {  height: 1px;margin: 0;padding: 0;width: 185px;background-color: #000000;box-shadow: inset 0 0 0 1000px #000000;position: absolute;top: 0;right: 0;}


.divTopMainContainer {height:50px; overflow:hidden; width:100%; margin:auto; padding:0px 10px; border-bottom:1px solid #e0e0e0; background:#fff; box-sizing:border-box;}
.divTopMenuLinkContainer {height:auto; overflow:hidden; width:40px;  float:left;}
.divTopMenuLinkContainerInner {height:auto; overflow:hidden; position:fixed; z-index:99; }
.divMainContainer {height:auto; overflow:hidden; background:#f0f0f0; position:relative;}
.divTopLeftContainer {height:50px; overflow:hidden; float:left; margin-top:10px;}
/* Sales order popup */