* { box-sizing:border-box; }
body{
    font-size:0.875rem;
    font-family:'Open Sans', 'san-serif';
    font-weight:400;
    color:#333333;
}
a ,
a:link ,
a:visited {color:#33a7d8;font-size:0.875rem;text-decoration:none;}
a:hover ,
a:active {color:#33a7d8; text-decoration:none;}

h1, h2, h3, h4 {font-family:'Open Sans', 'san-serif'; font-weight:400;color:#333333;}
h1 {font-size:1.75rem;margin-bottom:14px;}
h2 {font-size:1.375rem;margin-bottom:11px;}
h3 {font-size:1.125rem;margin-bottom:9px;}

b{font-weight:700;}

input[type='text'], 
input[type='password'], 
input[type='email'], 
input[type='number'], 
select, textarea{
    width:100%; 
    min-height:50px;
    border:1px solid #dddddd; 
    padding:10px; 
    outline:none;
    background-color:#f7f7f7;
    border-radius:5px;
    font-size:1rem;
    font-family:'Open Sans', 'san-serif';
}

p {
    font-size: 1rem;
    line-height:1.4rem;
    letter-spacing: 0.2px;
    text-align: justify;
}

/* =========== General Class ================*/
.floated.right {float:right;}
.floated.left {float:left;}
.align.left{text-align:left;}
.align.right{text-align:right;}
.align.center{text-align:center;}
.display.hide {display:none !important;}
.clearfix {display:block;height:0;clear:both;}
.responsive-img {width:100%;max-width:100%;height:auto;}

.mstTagline,
.mstTagline2,
.mstTagline3 {color:#292929;}
.mstTagline {font-size:8.5rem;}
.mstTagline2{font-size:4.0rem;}
.mstTagline3{font-size:3.5rem; color: #454545;font-weight: 300;}

.wrapper-container {display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;min-height: 100vh;}
.wrapper-container > .header {position:static;z-index: 10;top:0;left:0;right:0; height:70px;box-shadow: 0px 2px 10px rgba(0,0,0,0.3);transition:all .3s ease;}
.wrapper-container > .main-content {margin-top:00px;margin-bottom: 75px;padding-top: 20px;flex:1;}
.wrapper-container > .footer {  z-index: 10;}

.wrapper {width:100%;margin:auto;display:block;}
.wrapper.padding {padding:0 30px;}
.wrapper.gap {margin-top:50px;margin-bottom:50px;}

.errmsg {color:red;font-style:italic;font-size:0.875rem;}

ul{padding:0px 0px 0px 0px; margin:0px;}
.ulContent {}
.ulContent li{padding-left:20px; list-style-type:none;position:relative; margin-bottom:5px; text-align:justify;}
.ulContent li:before {
    content: " ";
    display: block;
    width: 7px;
    height: 7px;
    border: 2px solid #2e39ad;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 5px;
    box-sizing: border-box;
}

ol{padding:0px 0px 0px 30px; margin:0px;}
.olContent li{padding-left:0px; margin-bottom:5px; text-align:justify;}

.tblContent {width:100%; text-align:left;border-collapse: collapse; }
.tblContent th {padding:10px 20px; font-weight:normal; color:#fff; background:#2e39ad;}
.tblContent td {padding:10px 20px;}
.tblContent, 
.tblContent th, 
.tblContent td {
    border: 1px solid #ddd;
}
.tblContent td.odd {background-color:#fff;}
.tblContent td.even {background-color:#f5f5f5;}
.tblContent tbody tr:nth-child(odd) td {background-color:#fff;}
.tblContent tbody tr:nth-child(even) td {background-color:#f5f5f5;}

/* ============ Button ===============*/
.button,
a.button,
a.button:link,
a.button:visited {
    background-color:#33a7d8;
    color:#fff;
    font-size:1rem;
    font-family:'Open Sans', sans-serif;
    font-weight:400;
    height:50px;
    line-height: 50px;
    min-width:150px;
    padding:0 15px;
    margin: 0 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    position:relative;
}
.button:hover,
a.button:hover,
a.button:active {background-color:#48b8e8;}

.button.disabled,
a.button.disabled,
.button.disabled:hover,
a.button.disabled:hover,
a.button.disabled:active {opacity:0.2;cursor:not-allowed;}

.button.button-small,
a.button.button-small {height:30px;min-width:1px;}

.button.button-full,
a.button.button-full {width:100%;margin:0;}

.button.button-round,
a.button.button-round {border-radius:30px;}

.button.button-edge.button-icon-right i{
    position:absolute;
    right:5%;
    top:50%;
    transform:translateY(-50%);
}

.button > i {margin:0px 5px;}

/* ============== Form ==================*/
.form__container {}
.form__control {position:relative;}
.form__section {}
.form__section__title {font-weight:700;font-size:112.5%;padding:10px 0px;}
.form__section__content {margin-bottom: 15px;}
.form__section__content .row {margin-bottom:15px;}

.form__section__content .form__label {padding-top:10px;padding-bottom:10px;}
.form__section__content .form__control {align-self: center;}
.form__section__content .form__error {}
.form__action {display:flex; background-color: #ececec;height: auto;overflow: hidden;padding: 20px;width: 100%;}

.form__container--frame .form__section__title{background-color: #33a7d8; color: #fff; padding: 10px;}
.form__container--frame .form__section__content {border: 1px solid #33a7d8; padding: 10px;}

/* ================ Header ================*/
.header-inner{  height: 100%;background-color:#fff;position: relative;display:flex;align-items: center;}
.header .header-title {margin-left: auto;padding-right:20px; color:#1d53ac;font-size: 1.125rem;}
.header .logo-container {height: 100%;padding:0 20px;}
.header .logo-container > a {padding: 10px 0px;height: 100%;display:block; position: relative;}
.header .logo-container > a img { height: 100%; width: auto;}
.header .topmenu-container .topmenu-root,
.header .topmenu-container .topmenu-root .nav.nav-one {height: 100%;}
.header .contact-container {margin-left:auto;}
.header .contact-container,
.header .contact-container a {
    color:#2e39ad;
}
.header .contact-container a:hover,
.header .contact-container a:active {text-decoration:underline;}
.header .contact-inner {display:flex;align-items:center;justify-content:center;height:100%;}
.header .contact-inner .icon {padding-right:10px;}
.header .contact-inner .contact-splitter {padding:0 5px;}
.header .sidebar-nav-container{
    position:fixed;
    left:100%;
    width:100%;
    height:100%;
    z-index: 0;
    transition:all .3s ease;
    padding-top: 70px;
    overflow:hidden;
    overflow-y: auto;
    background-color:#2e39ad;
}

/* ============== Footer ==================*/
.footer {
    background-color:#f2f2f2;
    border-top:1px solid #ddd;
    height:75px;    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-bottommenu {}
.footer-bottombanner b {color:#fff;}
.footer-copyright { padding: 20px 0; text-align: center;}

/* =========== Acknowledgement Container =========== */
.ack-container { margin-left: 0;margin-right: 0;border: 1px solid #292929;padding: 10px; border-radius: 5px; color: #292929; background-color: #f5f5f5;}
.ack-container--margin-btm {margin-bottom:15px;}
.ack-container.hide {display:none;}
.ack-container.success {background: #cbffe2;  border: 1px solid #008000; color: #008000;}
.ack-container.error {  background: #ffe7e7; border: 1px solid #c53636; color: #c53636;}

/* ========== Body Scrolled ==============*/
body.scrolled .wrapper-container > .header {    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) );}


/* ============== Enquiry Form ====================*/
.enquiry-form {width:100%;margin: 0 -10px;}
.enquiry-form td {padding:5px 10px;}
.enquiry-form textarea{height:230px;}

/* ============== Event Comment Form ====================*/
.event-comment-form {}
.event-comment-form table {width:100%;}
.event-comment-form td {padding:5px 0px;}
.event-comment-form textarea{height:230px;}


/* ============ Login Form ===================*/
.loginform {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.loginform .row{margin-bottom:15px;}
.loginform__logo > a{ display:block;padding: 20px 0px;}
.loginform__subtitle {color:#656565;padding-bottom:20px;}
.loginform .form__label {display:none;}
.loginform .form__control > input{ border:0; border-bottom:1px solid #ddd;padding-right:50px;}
.loginform .form__control > i{
    font-size: 2rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

/* ============ Booking Form ===================*/
.bookingform {padding-top:20px;}
/*.bookingform .form-input input[type='text'], 
.bookingform .form-input input[type='password'], 
.bookingform .form-input input[type='email'], 
.bookingform .form-input input[type='number'], 
.bookingform .form-input select, 
.bookingform .form-input textarea{
    margin:5px 0;
}*/
.bookingform .row{
    margin-bottom:10px;
}
.bookingform__headline {text-align:center;}
.bookingform__info {color:#656565;text-align:center;}
.bookingform__text--lightgray {color:#9a9a9a;}
.bookingform__remark {margin-bottom:25px;}
.bookingform__contact { margin-bottom: 20px;}
.bookingform__contact__info {margin-bottom:20px;}
.bookingform__review {
    text-align:left;font-size: 1rem;
    padding:20px;
}
.bookingform__review .col {padding:5px;}
.bookingform__amount {
    font-weight: 700;
    font-size:1rem;
    padding: 10px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.bookingform__step1 .aircond-list {
    background-color: #f7f7f7;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.bookingform__step1 .aircond-item {
    height: 25px;
}


/* ============= Calendar ===============*/
.calendar,
.calendar__container{flex: 1;display: flex;flex-direction: column;}
.calendar__container {margin-bottom: 80px;}
.calendar__header {border-bottom: 1px solid #ddd;}
.calendar__body {position:relative;flex: 1;overflow: auto;}

.calendar__month {font-size:1rem;text-align:left;padding:10px 0px;}
.calendar__days {}
.calendar__day__row {display:flex;flex-wrap:wrap;transition:all .3s ease;top: 0px;left: 0px; right: 0px;position: relative; }
.calendar__day__row.selected {  }
.calendar__day {flex:0 0 14.2857%;padding-bottom: 14.2857%; height: 0;position:relative;}
.calendar__day__value {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 2;
}
.calendar__day__background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    z-index: 1;
    margin: 5px;
    transform:scale(0);
    transition:all .3s ease;
}

.calendar__day.past {opacity: .4;}

.calendar__day.selected .calendar__day__background,
.calendar__day.today .calendar__day__background,
.calendar__day.holiday .calendar__day__background,
.calendar__day.occupied .calendar__day__background{transform:scale(1);border-radius: 50%;}


.calendar__day.today {color: #1d53ac;}
.calendar__day.today .calendar__day__background{ border: 1px solid #1d53ac;}
.calendar__day.occupied {color: #fff;}
.calendar__day.occupied .calendar__day__background{  background-color: #cccccc;border: 1px solid #cccccc; }
.calendar__day.holiday {color: #fff;}
.calendar__day.holiday .calendar__day__background{ background-color:#292929; }
.calendar__day.selected .calendar__day__value {color:#fff;}
.calendar__day.selected .calendar__day__background{background-color: #33a7d8;}

.calendar__day .timerpicker { display:none;}
.calendar__day.selected .timerpicker {display:block;}

.calendar__lookup{    
    height: 80px;
    position: fixed;
    bottom: 75px;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgba(242, 242, 242,0.5);
    border-top: 1px solid #ddd;
    flex-wrap:wrap;
    padding: 2% 10%;
    z-index:2;
}
.calendar__lookup__item{
    flex:0 0 50%;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
}
.calendar__lookup__item i {
    width: 20px;
    height: 20px;
    border:1px solid transparent;
    margin-right: 8px;
    border-radius: 50%;
}
.calendar__lookup__item-selected i{background-color:#33a7d8;}
.calendar__lookup__item-today i{border: 1px solid #1d53ac;}
.calendar__lookup__item-occupied i{background-color:#cccccc;}
.calendar__lookup__item-holiday i{background-color:#292929;}

/*.bookingform__step2{
    padding-top:20px;
    position: fixed;
    top: 70px;
    bottom: 155px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition:all .3s ease;
}
.bookingform__step2.day-selected{top:100%;}
.calendar__body__inner {position:absolute;left:0;right:0;top:0;}
.calendar__day__row.selected { top: 90px;left: 20px; right: 20px;position: fixed; }
.calendar__day.selected .timerpicker {transition-delay:.1s;transform: scale(1);top: calc(70px + 100%/7);}*/

/* =============== Calendar Timpicker ==================*/
.timerpicker {
    background-color: #f6f6f6;
    border-top: 1px solid #ddd;
    position: fixed;
    display:none;
    bottom: 155px;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 10;
    overflow: scroll;
}

.timerpicker__options { display:flex; flex-wrap:wrap; margin-bottom: 10px;}
.timerpicker__item { flex:0 0 47%;  text-align: center; background-color:#fff; border:1px solid #e9e9e9; border-bottom:2px solid #e9e9e9; margin:1.5%; padding:15px;}
.timerpicker__item.selected {color:#33a7d8; border:1px solid #33a7d8; border-bottom:1px solid #33a7d8;}
.timerpicker__item.occupied { background-color: #eee; color: #ccc;}
.timerpicker__action {display:flex; align-items: center;}
.timerpicker__date {font-size:1rem;}
.timerpicker__close{background-color:#292929; width:30px;height:30px;color:#fff; border-radius:50%; margin-left:auto;}
.timerpicker__close > i{
    line-height: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.timerpicker__info {text-align:center;font-size:120%;font-weight:700;margin-bottom:20px;}
/* =============== History ==============*/
.history__container {
}
.history__filter {padding:10px 0px}
.history__filter .form-input {position:relative;}
.history__filter .form-input input{background-color:#fff; height:40px;min-height: 1px;border-radius:30px;    padding-left: 20px; padding-right: 40px;}
.history__filter .form-input i{position:absolute; right:10px; top:50%;transform:translateY(-50%);}
.history__item {
    border-bottom: 1px solid #ddd;
    padding: 12px 0px;
    display: flex;
    align-items: center;
}

.history__item__icon {
    flex: 0 0 50px;
    height: 50px;
    margin-right: 15px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    position: relative;
}

.history__item.complete .history__item__icon{background-color: rgb(0,198,173);}
.history__item.new .history__item__icon{background: #2250a6;}
.history__item__content {  flex: 1;  display: flex;}
.history__item__icon i {  position:absolute; top:50%; left:50%;  transform:translate(-50%,-50%);}
.history__item__timestamp { flex: 0 0 90px; margin-left: auto; color: #656565;}
.history__item__info {flex: 1;}
.history__item__code {  font-size: 1.125rem; font-weight: 700;}
.history__item__status { color: #9a9a9a;}