﻿.divQuickLinks{}
.divQuickLinksInner {height:auto; overflow:hidden;/* background:url(../img/usr/icon-tel.gif) no-repeat 0px 0px;*/ }

/*Quick Contact*/
.divQuickLinksContactNo {height:auto; overflow:hidden; text-align:center; padding-top:15px; padding-bottom:10px;}
.divlblContact {font-size:18px;}
.divhypContact {font-size:30px; font-weight:bold;}

.hypQuickContactNo {color:#292929;}
a.hypQuickContactNo:link {color:#292929; text-decoration:none;}
a.hypQuickContactNo:visited {color:#292929; text-decoration:none;}
a.hypQuickContactNo:hover {color:#292929; text-decoration:none;}
a.hypQuickContactNo:active {color:#292929; text-decoration:none;}
/*End Quick Contact*/

/*Quick Email && Facebook*/
.divQuickLinksEmailFacebookLike {height:auto; overflow:hidden; border-top:solid 1px #ccc;}
.divEmailFacebookLike {height:auto; overflow:hidden; padding-top:10px; padding-bottom:10px; display:table; margin:0px auto;}
.divQuickLinksEmail {height:auto; overflow:hidden; display:table-cell; vertical-align:middle;}
.divFbPageContainer {height:auto; overflow:hidden; display:table-cell; vertical-align:middle; padding-left:35px; }
.divFacebookWebsitePage {float:left; /*padding-right:30px;*/}
.divFacebookLikePage {float:left;}
.divFbPageLikeContainer {padding-left:15px;}
.divFbBottom {margin:auto; display:table; padding-top:5px;}

.hypQuickEmail {width:23px; height:14px; background:url(../../img/usr/mobile/mail-btm-banner.gif) no-repeat; display:block;}
a.hypQuickEmail:link {text-decoration:none;}
a.hypQuickEmail:visited {text-decoration:none;}
a.hypQuickEmail:hover {text-decoration:none;}
a.hypQuickEmail:active {text-decoration:none;}
/*End Quick Email*/