.divtagline {height:100%; overflow:hidden; position:absolute; top:0px; left:0px; width:100% !important;}
.divLittag1 {height:100%; overflow:hidden; }

/*Jssor Slider CSS Begin */
.divSliderContainer {position: relative; margin: 0 auto; top: 0px; left: 0px; /*width: 386px; height: 249px;*/ overflow: hidden;}
.divMastheadSlider {cursor: move; position: absolute; left: 0px; top: 0px; /*width: 386px; height: 249px;*/ overflow: hidden;}

/*Bullet Navigator Skin Begin*/
.divNavigator {position: absolute; bottom: 26px; left: 6px;}
.divNavigator .divPrototype{POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px;}

.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av
{
    background: url(../img/b21.png) no-repeat;
    overflow:hidden;
    cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px;}
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
/* Bullet Navigator Skin End */


/*Arrow Navigator Skin Begin*/
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn
{
    position: absolute;
    cursor: pointer;
    display: block;
    background: url(../img/a21.png) center center no-repeat;
    overflow: hidden;
}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21ldn { background-position: -243px -33px; }
.jssora21rdn { background-position: -303px -33px; }

.spanArrowLeft {width: 55px; height: 55px; top: 123px; left: 8px;}
.spanArrowRight {width: 55px; height: 55px; top: 123px; right: 8px;}
/*Arrow Navigator Skin End */
/*Jssor Slider CSS End */
        