﻿/*Mobile SideMenu*/


.sidebar-nav-inner {height:100%; width:100%; position:relative;}

.sidebar-nav-container .desktopview-container{padding:10px 20px;color:#fff; }
.sidebar-nav-container .desktopview-inner { display: flex; align-items: center;}
.sidebar-nav-container .desktopview-label{padding-right:10px;}

.sidebar-nav-container .copyright-container{padding:20px;color:#a8aff5;font-size:.92rem;}

.sidebar-nav-container .socials-container{padding:10px 20px;display:flex;   align-items: center;}
.sidebar-nav-container .socials-container > * {padding-right:10px;}

.sidebar-nav-container .desktopview-container,
.sidebar-nav-container .copyright-container,
.sidebar-nav-container .socials-container{
    border-top: 1px solid #5d69e3;
}