﻿/*SocialLink*/
.divFbContainer, .divTwitterContainer, .divInstagramContainer, .divLinkedInContainer, .divYouTubeContainer, divGooglePlusContainer{height:auto; overflow:hidden; float:left; padding-right:15px;}

/*End of SocialLink*/

/*Link & Button*/
.hypFacebook,
a.hypFacebook:link, a.hypFacebook:visited,
a.hypFacebook:hover, a.hypFacebook:active{height: 25px;width: 25px;background-color: #fff; display: block; border-radius: 50%; text-align: center}
.hypFacebook > i {line-height:25px;}

.hypTwitter{width:16px; height:16px; background:url(../../img/cmn/social/icon-social-twitter.png) no-repeat; text-decoration:none;}
a.hypTwitter:link, a.hypTwitter:visited{text-decoration:none; background:url(../../img/cmn/social/icon-social-twitter.png) no-repeat;}
a.hypTwitter:hover, a.hypTwitter:active{text-decoration:none; background:url(../../img/cmn/social/icon-social-twitter.png) no-repeat;}

.hypInstagram{width:16px; height:16px; background:url(../../img/cmn/social/icon-social-instagram.png) no-repeat; text-decoration:none;}
a.hypInstagram:link, a.hypInstagram:visited{text-decoration:none; background:url(../../img/cmn/social/icon-social-instagram.png) no-repeat;}
a.hypInstagram:hover, a.hypInstagram:active{text-decoration:none; background:url(../../img/cmn/social/icon-social-instagram.png) no-repeat;}

.hypGooglePlus{width:16px; height:16px; background:url(../../img/cmn/social/icon-social-google.png) no-repeat; text-decoration:none;}
a.hypGooglePlus:link, a.hypGooglePlus:visited{text-decoration:none; background:url(../../img/cmn/social/icon-social-google.png) no-repeat;}
a.hypGooglePlus:hover, a.hypGooglePlus:active{text-decoration:none; background:url(../../img/cmn/social/icon-social-google.png) no-repeat;}

.hypLinkedIn{width:16px; height:16px; background:url(../../img/cmn/social/icon-social-linkedin.png) no-repeat; text-decoration:none;}
a.hypLinkedIn:link, a.hypLinkedIn:visited{text-decoration:none; background:url(../../img/cmn/social/icon-social-linkedin.png) no-repeat;}
a.hypLinkedIn:hover, a.hypLinkedIn:active{text-decoration:none; background:url(../../img/cmn/social/icon-social-linkedin.png) no-repeat;}

.hypYouTube{width:16px; height:16px; background:url(../../img/cmn/social/icon-social-youtube.png) no-repeat; text-decoration:none;}
a.hypYouTube:link, a.hypYouTube:visited{text-decoration:none; background:url(../../img/cmn/social/icon-social-youtube.png) no-repeat;}
a.hypYouTube:hover, a.hypYouTube:active{text-decoration:none; background:url(../../img/cmn/social/icon-social-youtube.png) no-repeat;}
/*End of Link & Button*/