﻿.nav {margin:0;padding:0;}
.nav li {list-style:none;margin:0;padding:0;}
.nav li a {font-size:1rem;background-color:#2e39ad;color:#fff;min-height:50px;display:flex;align-items:center;}

.nav.nav-one > li.splitter {display:none;}
.nav.nav-one > li > div > a,
.nav.nav-one > li > div > a:link,
.nav.nav-one > li > div > a:visited {position:relative;padding:0 20px;}
.nav.nav-one > li > div > a:hover,
.nav.nav-one > li > div > a:active {background-color:#fff;color:#2e39ad;}
.nav.nav-one > li > div > a {border-top:1px solid #5d69e3;}
.nav.nav-one > li > div > a.selected {background-color:#fff;color:#2e39ad;}
.nav.nav-one > li > div > a > i { 
    width:50px;
    height:50px;
    line-height: 50px;
    text-align:center;
    position: absolute;
    right: 0px; 
    display: none;
}
.nav.nav-one > li > div > a.parent > i.add {display: block;}
.nav.nav-one > li > div > a.parent.expand > i.add {display: none;}
.nav.nav-one > li > div > a.parent.expand > i.remove {display: block;}

.nav.nav-two {display:none;}
.nav.nav-two > li > div > a,
.nav.nav-two > li > div > a:link,
.nav.nav-two > li > div > a:visited{padding-left:40px;}
.nav.nav-two > li > div > a:hover,
.nav.nav-two > li > div > a:active,
.nav.nav-two > li > div > a.selected {background-color:#666ff0;}

.nav.nav-three > li > a,
.nav.nav-three > li > a:link,
.nav.nav-three > li > a:visited{padding-left:60px;}
.nav.nav-three > li > a:hover,
.nav.nav-three > li > a:active,
.nav.nav-three > li > a.selected {background-color:#666ff0;}


